{% include '/general/header.twig' %}
<section class="container pt-5 mt-5">
  <nav aria-label="breadcrumb">
    <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url }}">{{ 'header.home' | language }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url }}/news">{{ 'site.news' | language }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ news['title'] }}</li>
    </ol>
  </nav>
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-10 pe-lg-4 pe-xl-0">
      <h1 class="pb-2 pb-lg-3">{{ news['title'] }}</h1>
      <p class="fs-lg mb-4">{{ news['text']|raw }}</p>
      <div class="border-top border-bottom py-4" id="author">
        <div class="d-flex align-items-start py-2">
          <img class="d-block rounded-circle mb-3" alt="{{ news['user']['firstname'] }} {{ news['user']['lastname'] }}" src="{{ news['user']['icon'] }}" width="56">
          <div class="d-md-flex w-100 ps-4">
            <div style="max-width: 26rem;">
              <h3 class="h5 mb-2">{{ news['user']['firstname'] }} {{ news['user']['lastname'] }}</h3>
              <p class="fs-sm mb-0">{{ news['created_at']|date }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include '/general/footer.twig' %}