{% include '/general/header.twig' %}
<section class="container pt-5 mt-5">
    <nav aria-label="breadcrumb">
        <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url }}">{{ 'header.home' | language }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ 'site.news' | language }}</li>
        </ol>
    </nav>
    <div class="row mb-4">
        {% if news|length == 0 %}
            <div class="col-xl-8 offset-xl-2 col-md-6">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden">
                    <div class="align-self-center card-body py-4">
                        <h5>{{ 'site.news.nothing' | language }}</h5>
                    </div>
                </div>
            </div>
        {% else %}
            {% for article in news %}
                <div class="col-lg-3 mb-4">
                    <div class="card mb-4 h-100">
                        <img src="{{ article["image"] }}" class="card-img-top" alt="Card image">
                        <div class="card-body">
                            <a href="{{ url }}/news/{{ article['slug'] }}"
                               class="text-white stretched-link text-decoration-none">
                                <h4 class="card-title">{{ article['title'] }}</h4>
                                <p class="card-text">{{ article['shortText'] }}...</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% include '/general/footer.twig' %}