{% include '/general/header.twig' %}
<section class="section-half-rounded pt-6 pb-0 pt-lg-6 pb-lg-5">
  <!-- Rounded shape -->
  <div class="jumbotron section-inner right-0 rounded-top-left bg-gradient-primary overflow-hidden col-xl-11"></div>
  <!-- Container -->
  <div class="container pt-lg-7 pb-lg-5 position-relative zindex-100">
    <div class="row align-items-center justify-content-center justify-content-lg-start">
      <div class="col-md-8 col-lg-5 mb-5 mb-lg-0">
        <!-- Heading -->
        <h1 class="h1 text-center text-lg-left text-white mb-4">
          {{ 'site.about.reselling.top'|language|replace({"@name": "<strong>" ~ config['name'] ~ "</strong>"} )|raw }}
        </h1>
        <!-- Text -->
        <p class="lead text-center text-lg-left text-white opacity-8">
          {{ 'site.about.reselling.top.description'|language }}
        </p>
      </div>
      <!-- Devices -->
      <div class="position-lg-absolute bottom-lg-4 bottom-xl-0 right-lg-n10 mb-n5 mb-lg-0 mb-xl-n7 col-lg-10 col-xl-10 zindex-100">
        <!-- Macbook -->
        <div class="frame frame-laptop zindex-100 ml-lg-6">
          <img alt="Image placeholder" src="../../assets/img/svg/devices/macbook.svg" class="img-fluid">
          <div class="frame-inner">
            <img alt="Image placeholder" src="https://cdn.hosmatic.com/website/about/reselling/top_desktop.png" class="img-fluid">
          </div>
        </div>
        <!-- Decorations -->
        <div class="w-25 position-absolute top-n5 left-8 left-xl-9">
          <img alt="Image placeholder" src="../../assets/img/svg/shapes/dots-square.svg" class="svg-inject img-fluid" />
        </div>
        <div class="w-25 position-absolute bottom-8 right-n7">
          <img alt="Image placeholder" src="../../assets/img/svg/shapes/dots-square.svg" class="svg-inject img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-half-rounded pb-5 pb-lg-7">
  <!-- Rounded shape -->
  <div class="jumbotron section-inner left-0 rounded-bottom-right bg-section-secondary overflow-hidden col-xl-11"></div>
  <!-- Container -->
  <div class="container text-center text-lg-left pt-5">
    <div class="row row-grid mx-lg-n5">
      <div class="col-md-4 mb-5 mb-lg-0 px-lg-5">
        <div class="pb-5">
          <div class="icon bg-white text-primary rounded-circle icon-lg icon-shape shadow">
            <i class="fa-solid fa-hands-holding-dollar"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">{{ 'site.about.reselling.benefits.1'|language }}</h5>
        <p class="mt-2 mb-0 lh-190">{{ 'site.about.reselling.benefits.1.description'|language }}</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0 px-lg-5">
        <div class="pb-5">
          <div class="icon bg-white text-primary rounded-circle icon-lg icon-shape shadow">
            <i class="fa-solid fa-truck-bolt"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">{{ 'site.about.reselling.benefits.2'|language }}</h5>
        <p class="mt-2 mb-0 lh-190">{{ 'site.about.reselling.benefits.2.description'|language }}</p>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0 px-lg-5">
        <div class="pb-5">
          <div class="icon bg-white text-primary rounded-circle icon-lg icon-shape shadow">
            <i class="fa-solid fa-stopwatch"></i>
          </div>
        </div>
        <h5 class="font-weight-bold">{{ 'site.about.reselling.benefits.3'|language }}</h5>
        <p class="mt-2 mb-0 lh-190">{{ 'site.about.reselling.benefits.3.description'|language }}</p>
      </div>
    </div>
  </div>
</section>
<section class="slice pb-9">
  <div class="container">
    <div class="section-process-step">
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-5 order-lg-2">
          <h5 class="h3">{{ 'site.about.reselling.interest.domain'|language }}</h5>
          <p class="lead my-4">{{ 'site.about.reselling.interest.domain.description'|language }}
          </p>
          <ul class="list-unstyled mb-0">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                    <i class="fa-solid fa-truck-bolt"></i>
                  </div>
                </div>
                <div>
                  <span class="h6 mb-0">{{ 'site.about.reselling.interest.domain.benefits.1'|language }}</span>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                    <i class="fa-solid fa-code"></i>
                  </div>
                </div>
                <div>
                  <span class="h6 mb-0">{{ 'site.about.reselling.interest.domain.benefits.2'|language }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="card mb-0 mr-lg-5">
            <div class="card-body p-2">
              <img alt="Image placeholder" src="https://cdn.hosmatic.com/website/about/reselling/desktop_domain.png" class="img-fluid shadow rounded">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-process-step">
      <!-- Benefit 3 -->
      <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-5">
          <h5 class="h3">{{ 'site.about.reselling.interest.kvm'|language }}</h5>
          <p class="lead my-4">{{ 'site.about.reselling.interest.kvm.description'|language }}</p>
          <ul class="list-unstyled mb-0">
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                    <i class="fa-solid fa-truck-bolt"></i>
                  </div>
                </div>
                <div>
                  <span class="h6 mb-0">{{ 'site.about.reselling.interest.kvm.benefits.1'|language }}</span>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                    <i class="fa-solid fa-code"></i>
                  </div>
                </div>
                <div>
                  <span class="h6 mb-0">{{ 'site.about.reselling.interest.kvm.benefits.2'|language }}</span>
                </div>
              </div>
            </li>
            <li class="py-2">
              <div class="d-flex align-items-center">
                <div>
                  <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                    <i class="fa-solid fa-ballot-check"></i>
                  </div>
                </div>
                <div>
                  <span class="h6 mb-0">{{ 'site.about.reselling.interest.kvm.benefits.3'|language }}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="card mb-0 ml-lg-5">
            <div class="card-body p-2">
              <img alt="Image placeholder" src="https://cdn.hosmatic.com/website/about/reselling/desktop_server.png" class="img-fluid shadow rounded">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slice py-md-0 bg-section-secondary">
  <div class="container position-relative zindex-100">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-5">
        <div class="position-relative mt-n6 mb-md-n8 d-none d-lg-block">
          <div class="frame-iphone">
            <img alt="Image placeholder" src="https://cdn.hosmatic.com/website/about/reselling/iphone14pro.svg" width="350">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- Title -->
        <h5 class="h1 mb-2 font-weight-bolder">{{ 'site.about.reselling.interestWake'|language }}</h5>
        <!-- Text -->
        <p class="lead my-4">{{ 'site.about.reselling.interestWake.description'|language }}
        </p>
        <!-- Buttons -->
        <div class="mt-5">

          <a href="mailto:service@hosmatic.com" class="btn btn-primary btn-icon-label">
            <span class="btn-inner--icon">
                <i class="fas fa-mail-reply"></i>
            </span>
            <span class="btn-inner--text">{{ 'site.about.reselling.interestWake.btn'|language }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slice slice-lg pt-md-9">
  <div class="container py-lg-5">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <span class="badge badge-warning badge-pill">{{ 'site.about.reselling.about.badge'|language }}</span>
        <h5 class="h5 lh-180 mt-4 mb-5">{{ 'site.about.reselling.about'|language }}</h5>

        <div class="row">
          <div class="col-sm-4">
            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
              <div class="p-4 text-center text-sm-left">
                <h3 class="mb-0">
                  <span class="counter" data-from="0" data-to="{{ stats['users'] }}" data-speed="2000"
                        data-refresh-interval="200"></span>
                </h3>
                <p class="text-muted mb-0">
                  {{ 'site.about.hosting.customer' | language }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
              <div class="p-4 text-center text-sm-left">
                <h3 class="mb-0">
                  <span class="counter" data-from="0" data-to="{{ stats['services'] }}" data-speed="2500"
                        data-refresh-interval="200"></span>
                  <span class="counter-extra">+</span>
                </h3>
                <p class="text-muted mb-0">
                  {{ 'site.about.hosting.service' | language }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
              <div class="p-4 text-center text-sm-left">
                <h3 class="mb-0">
                  <span class="counter" data-from="0" data-to="{{ stats['tickets'] }}" data-speed="3000"
                        data-refresh-interval="200"></span>
                </h3>
                <p class="text-muted mb-0">
                  {{ 'site.about.hosting.tickets' | language }}
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-12 py-4">
            <a href="/about" class="btn btn-primary btn-icon-label btn-sm">
            <span class="btn-inner--icon">
                <i class="fas fa-eye"></i>
            </span>
              <span class="btn-inner--text">{{ 'site.about.reselling.about.btn'|language }}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ml-lg-auto">
        <div class=" zindex-100">
          <h4>{{ 'site.about.reselling.about.other'|language }}</h4>
          <p>
            <span class="static-rating d-block">
              <i class="fa-solid fa-star star voted"></i>
              <i class="fa-solid fa-star star voted"></i>
              <i class="fa-solid fa-star star voted"></i>
              <i class="fa-solid fa-star star voted"></i>
              <i class="fa-solid fa-star star voted"></i>
            </span>
          </p>
          <p>"Schnelle Produkteinrichtung und super Verwaltung der Produkte via API. Kompetenter und fachgerechter Support."
          <p>
            <small>- <a href="https://www.gamezmedia.ch">Marco L. (GamezMedia)</a></small>
          </p>
          <br>
          <p>
            <span class="static-rating d-block">
              <i class="fa-solid fa-star star voted"></i>
              <i class="fa-solid fa-star star voted"></i>
              <i class="fa-solid fa-star star voted"></i>
              <i class="fa-solid fa-star star voted"></i>
              <i class="fa-solid fa-star star voted"></i>
            </span>
          </p>
          <p>"Ich beziehe nun schon seit längerem Produkte von Hosmatic und bisher gab es fast nie Probleme und wenn mal eins auftrat, wurde es sehr schnell gelöst."
          <p>
            <small>- <a href="https://www.rtn-hosting.de">Robin W. (RTN-Hosting)</a></small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slice">
  <div class="container">
    <div class="jumbotron rounded-diagonal-right bg-primary border-0 rounded-lg py-5">
      <div class="card-body px-5">
        <div class="row align-items-center">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <h4 class="text-white">{{ 'site.about.reselling.integration'|language }}</h4>
            <p class="text-white">{{ 'site.about.reselling.integration.description'|language }}</p>
          </div>
          <div class="col-12 col-lg-4 text-lg-right">
            <a href="https://hmcsw4-docs.the-systems.eu/" class="btn btn-white btn-icon">
              <span class="btn-inner--text">{{ 'site.about.reselling.integration.btn'|language }}</span>
              <span class="btn-inner--icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slice slice-lg">
  <div class="container">
    <!-- Title -->
    <div class="row mb-5 mb-lg-10 justify-content-center text-center">
      <div class="col-lg-8">
        <div class="pb-4">
          <div class="icon bg-danger text-white rounded-circle icon-lg icon-shape shadow">
            <i class="fas fa-shopping-bag"></i>
          </div>
        </div>
        <h3 class="mt-4">{{ 'site.about.reselling.users'|language|raw }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div
          class="card card-pricing bg-primary border-0 text-center px-3 shadow hover-scale-105 card-fluid ">
          <div class="card-header py-5 delimiter-bottom">
            <div class="mb-4 w-50 mx-auto">
              <img alt="Image placeholder" src="https://cdn.hosmatic.com/website/about/reselling/teamspeakServers.webp" class="img-fluid" />
            </div>
            <span class="h5 text-white text-center">Teamspeak-Instanz</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled text-white text-sm opacity-8 mb-4">
              <li>{{ 'site.about.reselling.products.teamspeak.1'|language }}</li>
              <li>{{ 'site.about.reselling.products.teamspeak.2'|language }}</li>

            </ul>
            <hr class="divider divider-fade"/>
              <div class="h5 text-white text-center mb-0">
                                  <span class="price font-weight-bolder">
                                    {{ 'site.about.reselling.products.startAt'|language }} {{ 13|creditsToEuro }}{{ "symbol"|currency }}/Slot {{ 'general.time.monthly'|language }}
                                  </span>
              </div>
            <br>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-sm-6">

        <div
          class="card card-pricing bg-primary border-0 text-center px-3 shadow hover-scale-105 card-fluid ">
          <div class="card-header py-5 delimiter-bottom">
            <div class="mb-4 w-50 mx-auto">
              <i class="fa-regular  text-white fa-earth-europe fa-5x img-fluid"></i>
            </div>
            <span class="h5 text-white text-center">Domains</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled text-white text-sm opacity-8 mb-4">
              <li>{{ 'site.about.reselling.products.domain.1'|language }}</li>
              <li>{{ 'site.about.reselling.products.domain.2'|language }}</li>
              <li>{{ 'site.about.reselling.products.domain.3'|language }}</li>

            </ul>
            <hr class="divider divider-fade"/>
            <div class="h5 text-white text-center mb-0">
                                  <span class="price font-weight-bolder">
                                    {{ 'site.about.reselling.products.startAt'|language }} {{ 300|creditsToEuro }}{{ "symbol"|currency }} {{ 'general.time.yearly'|language }}
                                  </span>
            </div>
            <br>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-sm-6">

        <div
          class="card card-pricing bg-primary border-0 text-center px-3 shadow hover-scale-105 card-fluid ">
          <div class="card-header py-5 delimiter-bottom">
            <div class="mb-4 w-50 mx-auto">
              <i class="fa-solid text-white fa-server fa-5x img-fluid"></i>
            </div>
            <span class="h5 text-white text-center">KVM-Server</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled text-white text-sm opacity-8 mb-4">
              <li>{{ 'site.about.reselling.products.kvm.1'|language }}</li>
              <li>{{ 'site.about.reselling.products.kvm.2'|language }}</li>
              <li>{{ 'site.about.reselling.products.kvm.3'|language }}</li>

            </ul>
            <hr class="divider divider-fade"/>
            <div class="h5 text-white text-center mb-0">
                                  <span class="price font-weight-bolder">
                                    {{ 'site.about.reselling.products.startAt'|language }} {{ 100|creditsToEuro }}{{ "symbol"|currency }} {{ 'general.time.monthly'|language }}
                                  </span>
            </div>
            <br>
          </div>
        </div>

      </div>
      <div class="col-lg-3 col-sm-6">

        <div
          class="card card-pricing bg-primary border-0 text-center px-3 shadow hover-scale-105 card-fluid ">
          <div class="card-header py-5 delimiter-bottom">
            <div class="mb-4 w-50 mx-auto">
              <i class="fa-solid text-white fa-terminal fa-5x img-fluid"></i>
            </div>
            <span class="h5 text-white text-center">HMCSW</span>
          </div>
          <div class="card-body">
            <ul class="list-unstyled text-white text-sm opacity-8 mb-4">
              <li>{{ 'site.about.reselling.products.hmcsw.1'|language }}</li>
              <li>{{ 'site.about.reselling.products.hmcsw.2'|language }}</li>
              <li>{{ 'site.about.reselling.products.hmcsw.3'|language }}</li>

            </ul>
            <hr class="divider divider-fade"/>
            <div class="h5 text-white text-center mb-0">
                                  <span class="price font-weight-bolder">
                                    {{ 'site.about.reselling.products.startAt'|language }} {{ 1495|creditsToEuro }}{{ "symbol"|currency }} {{ 'general.time.monthly'|language }}
                                  </span>
            </div>
            <br>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}