{% include '/general/header.twig' %}
<section class="slice py-6 pt-lg-7 pb-lg-8 bg-gradient-primary">
  <!-- Container -->
  <div class="container d-flex align-items-center text-center text-lg-left">
    <div class="col px-0">
      <div class="row row-grid align-items-center">
        <div class="col-lg-6">
          <!-- Heading -->
          <h1 class="h1 text-white text-center text-lg-left my-4">
            {{ 'site.contact.top'|language|raw }}
          </h1>
          <!-- Text -->
          <p class="lead text-white text-center text-lg-left opacity-8">
            {{ 'site.contact.top.description'|language }}
          </p>
          <!-- Buttons -->
          <div class="mt-5 text-center text-lg-left">
            <a href="#sct-form-contact" data-scroll-to class="btn btn-white btn-lg btn-icon">
                                <span class="btn-inner--icon">
                                    <i class="fa fa-pen"></i>
                                </span>
              <span class="btn-inner--text">{{ 'site.contact.top.btn'|language }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SVG separator -->
  <div class="shape-container shape-line shape-position-bottom">
    <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
  </div>
</section>
<section class="slice slice-lg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
          <div class="px-5 pb-5 pt-5">
            <div class="py-4">
              <div class="icon text-warning icon-sm mx-auto">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <h5 class="">{{ 'site.contact.category.general'|language }}</h5>
            <div class="mt-4">
              <a href="mailto:service@hosmatic.com" class="link-underline-warning">service@hosmatic.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
          <div class="px-5 pb-5 pt-5">
            <div class="py-4">
              <div class="icon text-warning icon-sm mx-auto">
                <i class="fa fa-wrench"></i>
              </div>
            </div>
            <h5 class="">{{ 'site.contact.category.technican'|language }}</h5>
            <div class="mt-4">
              <a href="mailto:technician@hosmatic.com" class="link-underline-warning">technician@hosmatic.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
          <div class="px-5 pb-5 pt-5">
            <div class="py-4">
              <div class="icon text-warning icon-sm mx-auto">
                <i class="fa fa-money-check"></i>
              </div>
            </div>
            <h5 class="">{{ 'site.contact.category.accounting'|language }}</h5>
            <div class="mt-4">
              <a href="mailto:accouting@hosmatic.com" class="link-underline-warning">accounting@hosmatic.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-half-rounded">
  <div class="jumbotron section-inner left-0 rounded-bottom-right bg-section-secondary overflow-hidden col-lg-11"></div>
  <div class="container text-center text-lg-left">
    <!-- Title -->
    <div class="row">
      <div class="col-lg-6 col-md-10">
        <span class="badge badge-primary badge-pill">{{ 'site.contact.team.badge'|language }}</span>
        <h5 class="h5 lh-180 mt-4 mb-6">{{ 'site.contact.team'|language }}</h5>
      </div>
    </div>
    <!-- Team -->
    <div class="row">

      {% for member in teamMember %}
        <div class="col-lg-3 col-sm-6 mb-5 mb-lg-0">
          <div data-animate-hover="2">
            <div class="animate-this">
              <a href="#">
                <img class="img-fluid rounded shadow" src="{{ member['icon'] }}" alt="{{ member['username'] }}" title="{{ member['firstname'] }} {{ member['lastname'] }}">
              </a>
            </div>
            <div class="mt-3">
              <h5 class="h6 mb-0">{{ member['firstname'] }} {{ member['lastname'] }}</h5>
              <p class="text-muted text-sm mb-0">{{ member['group_name'] }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="slice slice-lg" id="sct-form-contact">
  <div class="container position-relative zindex-100">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-6 text-center">
        <h3>{{ 'site.contact.form'|language }}</h3>
        <p class="lh-190">{{ 'site.contact.form.description'|language }}</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!-- Form -->
        <form id="form-contact" method="post">
          <input type="hidden" name="csrf" value="{{ csrf }}">
          <input type="hidden" name="action" value="sendContact">

          <div class="form-group">
            <input id="contact_name" class="form-control form-control-lg" type="text" placeholder="{{ 'general.address.firstname.placeholder'|language }} {{ 'general.address.lastname.placeholder'|language }}" required>
          </div>
          <div class="form-group">
            <input id="contact_email" class="form-control form-control-lg" type="email" placeholder="{{ 'general.form.email.placeholder'|language }}" required>
          </div>


          <div class="form-group">
            <textarea id="contact_message" class="form-control form-control-lg" data-toggle="autosize" placeholder="{{ 'site.contact.form.placeholder.message'|language }}" rows="3" required></textarea>
          </div>
          <div class="text-center">
            <button type="button" onclick="sendForm();" id="submitBtn_noLoading" class="btn btn-block btn-lg btn-primary mt-4">{{ 'site.contact.form.btn'|language }}</button>
            <button type="button" id="submitBtn_loading" disabled style="display:none" class="btn btn-block btn-lg btn-primary mt-4 disabled">{{ 'site.contact.form.btn'|language }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}