{% include '/general/header.twig' %}
<section class="slice py-8 bg-dark bg-cover bg-size--cover"
         style="background-image: url(/assets/img/backgrounds/img-1.jpg);">
  <span class="mask bg-gradient-dark opacity-9"></span>
  <div class="container d-flex align-items-center text-center text-lg-left pt-5 pb-5 pt-lg-6">
    <div class="col px-0">
      <div class="row row-grid align-items-center">
        <div class="col-lg-8 text-center text-lg-left">
          <h1 class="text-white mb-4">{{ 'site.about' | language }}</h1>
          <p class="lead text-white opacity-8">{{ 'site.about.description' | language }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shape-container shape-line shape-position-bottom">
    <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
         preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;"
         xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
  </div>
</section>
<section class="slice slice-lg">
  <div class="container">
    <span class="badge badge-primary badge-pill">{{ 'site.about.vision' | language }}</span>
    <div class="row mt-4">
      <div class="col-lg-6 pr-lg-5">
        <p class="h5 lh-180 mb-3">
          {{ 'site.about.vision.description.1' | language }}
        </p>
      </div>
      <div class="col-lg-6">
        <p class="lead lh-180">
          {{ 'site.about.vision.description.2' | language }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="slice slice-lg pt-10 bg-primary">
  <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
    <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
         preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;"
         xml:space="preserve" class="">
      <polygon points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container">
    <div class="row row-grid">
      <div class="col-lg-8">
        <span class="badge badge-warning badge-pill">{{ 'site.about.hosting.badge' | language }}</span>
        <h2 class="my-4 text-white">{{ 'site.about.hosting' | language }}</h2>
        <p class="lead text-white lh-190">{{ 'site.about.hosting.description' | language }}</p>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-4">
            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
              <div class="p-4 text-center text-sm-left">
                <h3 class="mb-0">
                  <span class="counter" data-from="0" data-to="{{ stats['users'] }}" data-speed="2000"
                        data-refresh-interval="200"></span>
                </h3>
                <p class="text-muted mb-0">
                  {{ 'site.about.hosting.customer' | language }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
              <div class="p-4 text-center text-sm-left">
                <h3 class="mb-0">
                  <span class="counter" data-from="0" data-to="{{ stats['services'] }}" data-speed="2500"
                        data-refresh-interval="200"></span>
                  <span class="counter-extra">+</span>
                </h3>
                <p class="text-muted mb-0">
                  {{ 'site.about.hosting.service' | language }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
              <div class="p-4 text-center text-sm-left">
                <h3 class="mb-0">
                  <span class="counter" data-from="0" data-to="{{ stats['tickets'] }}" data-speed="3000"
                        data-refresh-interval="200"></span>
                </h3>
                <p class="text-muted mb-0">
                  {{ 'site.about.hosting.tickets' | language }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="slice slice-lg" id="climate">

  <div class="container">
    <span class="badge badge-primary badge-pill">{{ 'site.about.climate.badge' | language }}</span>
    <div class="row mt-4">
      <div class="col-lg-6 pr-lg-5">
        <h2 class="my-4">{{ 'site.about.climate' | language }}</h2>
        <p class="lead lh-190">{{ 'site.about.climate.description' | language }}</p>
        <p class="lead lh-190">{{ 'site.about.climate.description.more' | language }}</p>
      </div>

      <div class="col-lg-6">
        <p class="lead lh-180 text-center">
          <a href="https://climate.stripe.com/mm3252" target="_blank"><img alt="Stripe Climate"
                                                                           src="https://cdn.hosmatic.com/website/about/climate/stripe.svg"
                                                                           title="Stripe Climate" loading="lazy"
                                                                           height="250" width="250"
                                                                           class="img-fluid"></a>
        </p>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}