{% include '/general/header.twig' %}
<div class="main-content">
  <section class="slice slice-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pb-5">
          <h1 class="h3 text-center">{{ 'site.partner' | language }}</h1>
          <h2 class="h4 text-center">{{ 'site.partner.description' | language }}</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for partner in partners %}
          <div class="col-lg-4">
            <div class="card card-fluid hover-translate-y-n10 hover-shadow-lg p-2">
              <img class="card-img-top img-fluid" src="{{ partner['icon'] }}" alt="{{ partner['name'] }}">
              <div class="card-body">
                <h5 class="card-title text-center">{{ partner['name'] }}</h5>
                <p class="card-text text-center">{{ partner['description'] }}</p>
                <center>
                  <a target="_blank" href="{{ partner['url'] }}" class="btn btn-twitter btn-icon-label">
                    <span class="btn-inner--text">{{ partner['name'] }}</span>
                  </a>
                </center>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="col-lg-12">
          <h3 class="text-center">{{ 'site.partner.yourApply' | language }}</h3>
          <h4 class="text-center"><a href="{{ url }}/partner/apply">{{ url }}/partner/apply</a></h4>
        </div>
      </div>
    </div>
  </section>
</div>
{% include '/general/footer.twig' %}