{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <div class="row">
                {% include 'cp/terminateUser.twig' %}
                {% include 'general/actionMessage.twig' %}
                {% include 'cp/teams/noTwoFactor.twig' %}
                <section class="card  py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        {% if 'team.addMember'|checkTeamPermission == true %}
                            <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"><i
                                        class="fa fa-people-group text-primary lead pe-1 me-2"></i>
                                <h2 class="h4 mb-0">{{ 'site.cp.tab.teams.member' | language }}</h2>
                                <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                                    <a href="{{ dashURL }}/teams/{{ team['businessId'] }}" class="btn btn-dark btn-icon">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </a>
                                    <button type="button" class="btn btn-secondary btn-icon" data-bs-toggle="modal"
                                            data-bs-target="#addMember">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="modal fade" id="addMember" tabindex="-1" role="dialog"
                                 aria-labelledby="addMember"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form method="post">
                                            <input type="hidden" name="csrf" value="{{ csrf }}">
                                            <input type="hidden" name="action" value="addMember">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{ 'site.cp.teams.member.addMember' | language }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row g-3">
                                                    <div class="col-md-12 form-group">
                                                        <label for="email"
                                                               class="form-label">{{ 'site.cp.teams.member.addMember.email' | language }}</label>
                                                        <input class="form-control" type="email" id="email"
                                                               name="email"
                                                               placeholder="{{ userData['email']['address'] }}" required>
                                                    </div>
                                                    <div class="col-md-12 form-group">
                                                        <label for="group"
                                                               class="form-label">{{ 'site.cp.teams.member.group' | language }}</label>
                                                        <select name="group_id" id="group" class="form-select" required>
                                                            {% for group in groups %}
                                                                <option {% if group['group_id'] == user['group']['group_id'] %}selected{% endif %}
                                                                        value="{{ group['group_id'] }}">{{ group['name'] }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit"
                                                        class="btn btn-primary">{{ 'site.cp.teams.member.addMember.button' | language }}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="table-responsive">
                            <table class="table table-cards align-items-center  align-middle">
                                <thead>
                                <tr>
                                    <th scope="col" style="min-width: 240px"></th>
                                    <th scope="col"></th>
                                    <th scope="col">{{ 'site.cp.teams.member.table.role' | language }}</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in teamMember %}
                                    <tr id="user-{{ user['businessId'] }}">
                                        <th scope="row">
                                            <img alt="{{ user['username'] }}"
                                                 title="{{ user['username'] }}"
                                                 src="{{ user['icon'] }}" width="50"
                                                 class="avatar rounded-circle">
                                        </th>
                                        <td>{{ user['firstname'] }} {{ user['lastname'] }}
                                            {% if user['accept'] != "true" %}| {{ 'site.cp.teams.member.noAccept' | language }}{% endif %}
                                            <small class="d-block font-weight-bold"
                                                   id="editMember-{{ user['businessId'] }}-name">
                                                {% if user['group']['group_id'] == 0 %}
                                                    {{ 'site.cp.teams.member.role.owner' | language }}
                                                {% else %}
                                                    {{ user['group']['name'] }}
                                                {% endif %}
                                            </small>
                                        </td>
                                        <td>
                                            {% if user['group']['group_id'] != 0 %}
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-secondary dropdown-toggle"
                                                            id="editMember-{{ user['businessId'] }}-dropDown"
                                                            type="button" data-bs-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        {{ user['group']['name'] }}
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {% for group in groups %}
                                                            <button class="dropdown-item" type="button"
                                                                    onclick="editMember(this);"
                                                                    data-userId="{{ user['businessId'] }}"
                                                                    value="{{ group['businessId'] }}">{{ group['name'] }}</button>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>

                                        <td class="text-right">
                                            <div class="actions text-right ml-3">
                                                {% if user['group']['group_id'] != 0 and user['user_id'] != userData['user_id'] %}
                                                    {% if 'team.removeMember'|checkTeamPermission == true %}
                                                        <a data-bs-toggle="modal"
                                                           data-bs-target="#member_{{ user['businessId'] }}_remove"
                                                           class="action-item mr-2"
                                                           title="{{ 'site.cp.teams.member.removeMember' | language }}">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    {% endif %}
                                                {% elseif user['group']['group_id'] != 0 and user['user_id'] == userData['user_id'] %}
                                                    <a href="#" class="action-item mr-2" data-bs-toggle="modal"
                                                       data-bs-target="#leaveTeam"
                                                       title="{{ 'site.cp.teams.member.leaveTeam' | language }}">
                                                        <i class="fa fa-door-closed"></i>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="modal modal-danger fade" id="leaveTeam" tabindex="-1" role="dialog"
                             aria-labelledby="leaveTeam"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title h6"
                                            id="modal_title_6">{{ 'site.cp.teams.member.leaveTeam' | language }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="py-3 text-center">
                                            <i class="fas fa-exclamation-circle fa-4x"></i>
                                            <h5 class="heading h4 mt-4">{{ 'site.cp.teams.member.leaveTeam.modal.leave' | language }}</h5>
                                            <p>{{ 'site.cp.teams.member.leaveTeam.modal.leave.1' | language }}</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="POST">
                                            <input type="hidden" name="csrf" value="{{ csrf }}">
                                            <input type="hidden" name="action" value="leaveTeam">
                                            <button type="submit"
                                                    class="btn btn-sm">{{ 'site.cp.teams.member.leaveTeam.modal.leave.leaveBtn' | language }}</button>
                                        </form>
                                        <button type="button" class="btn btn-sm btn-white"
                                                data-dismiss="modal">{{ 'site.cp.teams.member.leaveTeam.modal.leave.cancelBtn' | language }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        {% for user in teamMember %}

                            {% if 'team.removeMember'|checkTeamPermission == true %}
                                <div class="modal modal-danger fade" id="member_{{ user['businessId'] }}_remove"
                                     tabindex="-1" role="dialog"
                                     aria-labelledby="removeMember"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered " role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="exampleModalLabel">{{ user['firstname'] }} {{ user['lastname'] }}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <i class="fas fa-exclamation-circle fa-4x"></i>
                                                    <h5
                                                            class="heading h4 mt-4">{{ 'site.cp.teams.member.removeMember.modal.remove' | language }}</h5>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" onclick="removeMember(this.id);"
                                                        id="{{ user['businessId'] }}"
                                                        class="btn btn-danger">{{ 'site.cp.teams.member.removeMember.modal.btn' | language }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}