<section class="pt-5 bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">

        <div class="row align-items-center">
          <div class="col-auto">
            <img alt="{{ team['name'] }}" src="{{ team['icon'] }}" class="avatar avatar-xl rounded-circle">
          </div>
          <div class="col ml-n3 ml-md-n2">
            <h2 class="mb-0">{{ team['name'] }}</h2>
            <span class="text-muted d-block">{{ currentSite_TEAMS_lang }}</span>
          </div>
        </div>

        {% if config['alert']['cp']['info']['enabled'] %}
          {% if config['alert']['cp']['info']['color'] == "green" %}
            {% set alert_color = "success" %}
            {% set alert_icon = "check" %}
          {% elseif config['alert']['cp']['info']['color'] == "yellow" %}
            {% set alert_color = "warning" %}
            {% set alert_icon = "exclamation" %}
          {% elseif config['alert']['cp']['info']['color'] == "red" %}
            {% set alert_color = "danger" %}
            {% set alert_icon = "exclamation-triangle" %}
          {% elseif config['alert']['cp']['info']['color'] == "blue" %}
            {% set alert_color = "primary" %}
            {% set alert_icon = "info" %}
          {% else %}
            {% set alert_color = "success" %}
            {% set alert_icon = "check" %}
          {% endif %}
          <br><br>
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="alert alert-group alert-{{ alert_color }} alert-icon" role="alert">
                <div class="alert-group-prepend">
                            <span class="alert-group-icon text-">
                                <i class="fas fa-{{ alert_icon }}"></i>
                            </span>
                </div>
                <div class="alert-content">{{ config['alert']['cp']['info']['message']|raw }}</div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="mt-4">
          <ul class="nav nav-tabs overflow-x nav-justified">
            <li class="nav-item">
              <a href="{{ url }}/cp/" class="nav-link">
                {{ 'site.cp.tab.start' | language }}
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url }}/cp/teams" class="nav-link">
                {{ 'site.cp.tab.teams' | language }}
              </a>
            </li>

            <li class="nav-item">
              <a href="{{ url }}/cp/teams/{{ team['team_id'] }}"
                 class="nav-link {% if currentSite_TEAMS == "service" %}active{% endif %}">
                {{ 'site.cp.tab.teams.services' | language }}
              </a>
            </li>

            <li class="nav-item">
              <a href="{{ url }}/cp/teams/{{ team['team_id'] }}/member"
                 class="nav-link {% if currentSite_TEAMS == "member" %}active{% endif %}">
                {{ 'site.cp.tab.teams.member' | language }}
              </a>
            </li>

            {% if "team.settings"|checkTeamPermission %}
              <li class="nav-item">
                <a href="{{ url }}/cp/teams/{{ team['team_id'] }}/settings"
                   class="nav-link {% if currentSite_TEAMS == "settings" %}active{% endif %}">
                  {{ 'site.cp.tab.teams.settings' | language }}
                </a>
              </li>
            {% endif %}
            {% if "team.sshKey"|checkTeamPermission %}
              <li class="nav-item">
                <a href="{{ url }}/cp/teams/{{ team['team_id'] }}/sshKeys"
                   class="nav-link {% if currentSite_TEAMS == "sshKeys" %}active{% endif %}">
                  {{ 'site.cp.tab.teams.sshKeys' | language }}
                </a>
              </li>
            {% endif %}
            {% if "owner"|checkTeamPermission %}
              <li class="nav-item">
                <a href="{{ url }}/cp/teams/{{ team['team_id'] }}/groups"
                   class="nav-link {% if currentSite_TEAMS == "groups" %}active{% endif %}">
                  {{ 'site.cp.tab.teams.groups' | language }}
                </a>
              </li>
            {% endif %}
            {% if "team.partner"|checkTeamPermission %}
              {% if team['partner'] != false %}
                <li class="nav-item">
                  <a href="{{ url }}/cp/teams/{{ team['team_id'] }}/partner"
                     class="nav-link {% if currentSite_TEAMS == "partner" %}active{% endif %}">
                    {{ 'site.cp.tab.teams.partner' | language }}
                  </a>
                </li>
              {% endif %}
            {% endif %}

            {% if "team.reselling"|checkTeamPermission %}
              {% if team['reselling'] != false %}
                <li class="nav-item">
                  <a href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling"
                     class="nav-link {% if currentSite_TEAMS == "reselling" %}active{% endif %}">
                    {{ 'site.cp.tab.teams.reselling' | language }}
                  </a>
                </li>
              {% endif %}
            {% endif %}

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
