{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            {% include 'cp/terminateUser.twig' %}
            {% include 'general/actionMessage.twig' %}
            {% include 'cp/teams/noTwoFactor.twig' %}
            <section class="card  p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa fa-gear text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.tab.teams.settings' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/teams/{{ team['businessId'] }}" class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="card  py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <input type="hidden" name="action" value="setIcon">
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center">
                                    <div class="dropdown"><a
                                                class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                                                aria-expanded="false"
                                                style="width: 80px; height: 80px; background-image: url({{ team['icon'] }});"><span
                                                    class="d-block text-light text-center lh-1 pb-1"
                                                    style="background-color: rgba(0,0,0,.5)"><i
                                                        class="fa fa-camera"></i></span></a>
                                    </div>
                                    <div class="ps-3">
                                        <h3 class="h6 mb-1">{{ 'site.cp.teams.settings.icon' | language }}</h3>
                                        <p class="fs-sm text-muted mb-0">{{ 'site.cp.teams.settings.icon.description' | language }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label" for="file-input"></label>
                                <input class="form-control" name="file" type="file" id="file-input">
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit"
                                    class="btn btn-sm btn-primary">{{ 'site.cp.teams.settings.icon.upload' | language }}
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            <section class="card  py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="actions-toolbar py-2 mb-4">
                        <h5 class="mb-1">{{ 'site.cp.teams.settings.name' | language }}</h5>
                        <p class="text-sm text-muted mb-0">{{ 'site.cp.teams.settings.name.description' | language }}</p>
                    </div>
                    <form method="post">
                        <input type="hidden" name="action" value="updateName">
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="input-name"
                                           class="form-control-label">{{ 'site.cp.teams.settings.name.form' | language }}</label>
                                    <input required value="{{ team['name'] }}" id="input-name" name="name"
                                           class="form-control"
                                           type="text"
                                           placeholder="{{ 'site.cp.teams.settings.name.form.placeholder' | language }}">
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit"
                                    class="btn btn-sm btn-primary">{{ 'site.cp.teams.settings.name.btn' | language }}
                            </button>
                        </div>
                    </form>
                </div>
            </section>
            {% if "owner"|checkTeamPermission and hasAccountTwoFactor %}
                <section class="card  py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        <div class="actions-toolbar py-2 mb-4">
                            <h5 class="mb-1">{{ 'site.cp.teams.settings.twoFactor' | language }}</h5>
                            <p class="text-sm text-muted mb-0">{{ 'site.cp.teams.settings.twoFactor.description' | language }}</p>
                        </div>
                        <form method="post">
                            <input type="hidden" name="action" value="updateTwoFactor">
                            <input type="hidden" name="csrf" value="{{ csrf }}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check form-switch">
                                            <input type="checkbox" class="form-check-input" id="twoFactorRequired" name="twoFactorRequired" onchange="this.form.submit()" {% if team['requireTwoFactor'] %}checked{% endif %} >
                                            <label class="form-check-label" for="twoFactorRequired">{{ 'site.cp.teams.settings.twoFactor.checkbox' | language }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            {% endif %}
            {% if "owner"|checkTeamPermission %}
                <section class="card  py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        <div class="actions-toolbar py-2 mb-4">
                            <h5 class="mb-1">{{ 'site.cp.teams.settings.deleteTeam' | language }}</h5>
                            <p class="text-sm text-muted mb-0">{{ 'site.cp.teams.settings.deleteTeam.description' | language }}</p>
                        </div>
                        <div class="mt-4">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteTeam"
                                    class="btn btn-danger">{{ 'site.cp.teams.settings.deleteTeam.btn' | language }}
                            </button>
                            <div class="modal modal-danger fade" id="deleteTeam" tabindex="-1" role="dialog"
                                 aria-labelledby="deleteTeam" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title h6"
                                                id="modal_title_6">{{ 'site.cp.teams.settings.deleteTeam.modal' | language }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        {% if testDeleteTeam %}

                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <i class="fas fa-exclamation-circle fa-4x"></i>
                                                    <h5
                                                            class="heading h4 mt-4">{{ 'site.cp.teams.settings.deleteTeam.modal.info' | language }}</h5>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button"
                                                        class="btn btn-secondary w-100 w-sm-auto mb-3 mb-sm-0"
                                                        data-bs-dismiss="modal">{{ 'general.modal.cancelBtn' | language }}</button>
                                                <button type="button" id="deleteTeamSubmit"
                                                        class="btn btn-danger w-100 w-sm-auto ms-sm-3">{{ 'site.cp.teams.settings.deleteTeam.modal.deleteBtn' | language }}</button>
                                            </div>
                                        {% else %}
                                            <div class="modal-body">
                                                <div class="py-3 text-center">
                                                    <i class="fas fa-exclamation-circle fa-4x"></i>
                                                    <h5
                                                            class="heading h4 mt-4">{{ 'site.cp.teams.settings.deleteTeam.modal.reason' | language }}</h5>
                                                    <h6 class="heading h5 mt-4">
                                                        {{ 'site.cp.teams.settings.deleteTeam.modal.reason.service' | language }}
                                                    </h6>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
            <br><br>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}