{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <div class="row">
                {% include 'cp/terminateUser.twig' %}
                {% include 'general/actionMessage.twig' %}
                {% include 'cp/teams/noTwoFactor.twig' %}
                <section class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"><i
                                    class="fa fa-key text-primary lead pe-1 me-2"></i>
                            <h2 class="h4 mb-0">{{ 'site.cp.teams.sshKeys' | language }}</h2>
                            <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                                <a href="{{ dashURL }}/teams/{{ team['businessId'] }}" class="btn btn-dark btn-icon">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </a>
                            </div>

                        </div>
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            {% for key, value in sshKeys %}
                                <div class="col">
                                    <div class="card h-100 rounded-3 p-3 p-sm-4">
                                        <div class="d-flex align-items-center pb-2 mb-1">
                                            <h3 class="h6 text-nowrap text-truncate mb-0">{{ value['name'] }}</h3>
                                            <div class="d-flex ms-auto">
                                                <form method="post">
                                                    <input type="hidden" name="key_id" value="{{ value['businessId'] }}">
                                                    <input type="hidden" name="csrf" value="{{ csrf }}">
                                                    <button type="submit"
                                                            class="nav-link text-danger fs-xl fw-normal py-1 pe-0 ps-1 ms-2"
                                                            name="action" value="removeSSHKey">
                                                        <i class="fa-regular fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <p class="mb-0">{{ value['user']['name'] }}<br>{{ value['fingerPrint'] }}</p>
                                        <br>
                                        <div class="form-check">
                                            <input required type="checkbox" class="form-check-input" name="key"
                                                   id="{{ value['businessId'] }}" onchange="toggleAutoInstall(this);"
                                                   {% if value['autoInstall'] %}checked{% endif %} >
                                            <label class="form-check-label" for="{{ key }}">Auto Install
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                            <!-- Add address-->
                            <div class="col">
                                <div class="card h-100 justify-content-center align-items-center border-dashed rounded-3 py-5 px-3 px-sm-4">
                                    <a class="stretched-link d-flex align-items-center fw-semibold text-decoration-none my-sm-3"
                                       href="#key-add" data-bs-toggle="modal"><i
                                                class="fa fa-plus-circle fs-xl me-2"></i>{{ 'site.cp.teams.sshKeys.add' | language }}
                                    </a></div>
                            </div>
                        </div>

                        <div class="modal fade" id="key-add" tabindex="-1" role="dialog">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <form method="post">
                                        <input type="hidden" name="action" value="addSSHKey">
                                        <input type="hidden" name="csrf" value="{{ csrf }}">
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{ 'site.cp.teams.sshKeys.add' | language }}</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row g-3">
                                                <div class="form-group col-md-12">
                                                    <label for="input-name"
                                                           class="form-label">{{ 'site.cp.teams.sshKeys.add.form.name' | language }}</label>
                                                    <input name="name" required type="text"
                                                           class="form-control form-control-prepend"
                                                           id="input-name" placeholder="root@{{ config['name'] }}">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="input-key"
                                                           class="form-label">{{ 'site.cp.teams.sshKeys.add.form.publicKey' | language }}</label>
                                                    <textarea name="key" required type="text"
                                                              class="form-control form-control-prepend"
                                                              id="input-key" rows="10"
                                                              placeholder="ssh-rsa AAAA...."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit"
                                                    class="btn btn-primary w-100 w-sm-auto ms-sm-3">{{ 'general.modal.createBtn' | language }}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
{% include '/general/footer.twig' %}