{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <div class="row">
                <div class="modal fade" id="services" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title h6">{{ 'site.cp.services.all' | language }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-cards text-center align-middle">
                                        <thead>
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">{{ 'site.cp.services.table.name' | language }}</th>
                                            <th scope="col">{{ 'site.cp.services.table.state' | language }}</th>
                                            <th scope="col">{{ 'site.cp.services.table.expire' | language }}</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="list">


                                        {% set count = 0 %}
                                        {% for service in team['services'] %}
                                            {% set count = count + 1 %}
                                            <tr>
                                                <td>
                                                    {% if service['locked'] %}
                                                        <i class="fas fa-lock d-none d-lg-block"></i>
                                                    {% else %}
                                                        <i class="fas fa-lock-open d-none d-lg-block"></i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if service['service_name'] != NULL %}
                                                        <a class="text-decoration-none"
                                                           href="{{ dashURL }}/teams/{{ team['businessId'] }}/service/{{ service['businessId'] }}"><span
                                                                    class="h6 text-sm font-weight-bold mb-0">{{ service['service_name'] }}</span></a>
                                                        <span class="d-block text-sm text-muted">{{ service['name'] }}</span>
                                                    {% elseif service['external']['name'] != NULL %}
                                                        <a class="text-decoration-none"
                                                           href="{{ dashURL }}/teams/{{ team['businessId'] }}/service/{{ service['businessId'] }}"><span
                                                                    class="h6 text-sm font-weight-bold mb-0">{{ service['external']['name'] }}</span></a>
                                                        <span class="d-block text-sm text-muted">{{ service['name'] }}</span>
                                                    {% else %}
                                                        <a class="text-decoration-none"
                                                           href="{{ dashURL }}/teams/{{ team['businessId'] }}/service/{{ service['businessId'] }}"><span
                                                                    class="h6 text-sm font-weight-bold mb-0">{{ service['name'] }}</span></a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if service['state'] == 1 %}
                                                        <span style="color:#40FF00">{{ 'general.services.state.1' | language }}</span>
                                                    {% elseif service['state'] == 2 %}
                                                        <span style="color:#FFBF00">{{ 'general.services.state.2' | language }}</span>
                                                    {% elseif service['state'] == 3 %}
                                                        <span style="color:#FF0000">{{ 'general.services.state.3' | language }}</span>
                                                    {% elseif service['state'] == 4 %}
                                                        <span style="color:#FF0000">{{ 'general.services.state.4' | language }}</span>
                                                    {% elseif service['state'] == 5 %}
                                                        <span style="color:#FF0000">{{ 'general.services.state.5' | language }}</span>
                                                    {% elseif service['state'] == 6 %}
                                                        <span style="color:#FFBF00">{{ 'general.services.state.6' | language }}</span>
                                                    {% elseif service['state'] == 7 %}
                                                        <span style="color:#FF0000">{{ 'general.services.state.7' | language }}</span>
                                                    {% elseif service['state'] == 8 %}
                                                        <span style="color:#FFBF00">{{ 'general.services.state.8' | language }}</span>
                                                    {% else %}
                                                        <span style="color:#FF0000">{{ 'general.services.state.error' | language }}</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ service['at']['expire']|date }}
                                                </td>
                                                <td>
                                                    <div class="actions ml-3">
                                                        <a href="{{ dashURL }}/teams/{{ team['businessId'] }}/service/{{ service['businessId'] }}"
                                                           class="btn btn-primary btn-sm btn-icon">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        {% if count == 0 %}
                                            <tr>
                                                <th scope="row"><span class="text-sm"></span></th>
                                                <td>-</td>
                                                <td>{{ 'site.cp.services.nothing' | language }}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'general/actionMessage.twig' %}
                {% include 'cp/terminateUser.twig' %}
                {% include 'cp/teams/noTwoFactor.twig' %}
                {% include 'cp/themeAlert.twig' %}
                <section class="card  py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"><i
                                    class="fa fa-house text-primary lead pe-1 me-2"></i>
                            <h2 class="h4 mb-0">{{ 'site.cp.services' | language }}</h2>
                            <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                                <a href="{{ dashURL }}/teams" class="btn btn-dark btn-icon">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </a>
                                <a href="{{ url }}/p" class="btn btn-secondary btn-icon">
                                    <i class="fa-solid fa-shopping-cart"></i>
                                </a>
                                <button type="button" class="btn btn-secondary btn-icon" data-bs-toggle="modal"
                                        data-bs-target="#services">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-cards text-center align-middle ">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">{{ 'site.cp.services.table.name' | language }}</th>
                                    <th scope="col">{{ 'site.cp.services.table.state' | language }}</th>
                                    <th scope="col">{{ 'site.cp.services.table.expire' | language }}</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody class="list">

                                {% set count = 0 %}
                                {% for service in team['services'] %}
                                    {% if service['state'] == 1 or service['state'] == 2 or service['state'] == 4 or service['state'] == 6 or service['state'] == 8 %}
                                        {% set count = count + 1 %}
                                        <tr>
                                            <td>
                                                {% if service['locked'] %}
                                                    <i class="fas fa-lock d-none d-lg-block"></i>
                                                {% else %}
                                                    <i class="fas fa-lock-open d-none d-lg-block"></i>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if service['service_name'] != NULL %}
                                                    <a class="text-decoration-none"
                                                       href="{{ dashURL }}/teams/{{ team['businessId'] }}/service/{{ service['businessId'] }}"><span
                                                                class="h6 text-sm font-weight-bold mb-0">{{ service['service_name'] }}</span></a>
                                                    <span class="d-block text-sm text-muted">{{ service['name'] }}</span>
                                                {% elseif service['external']['name'] != NULL %}
                                                    <a class="text-decoration-none"
                                                       href="{{ dashURL }}/teams/{{ team['businessId'] }}/service/{{ service['businessId'] }}"><span
                                                                class="h6 text-sm font-weight-bold mb-0">{{ service['external']['name'] }}</span></a>
                                                    <span class="d-block text-sm text-muted">{{ service['name'] }}</span>
                                                {% else %}
                                                    <a class="text-decoration-none"
                                                       href="{{ dashURL }}/teams/{{ team['businessId'] }}/service/{{ service['businessId'] }}"><span
                                                                class="h6 text-sm font-weight-bold mb-0">{{ service['name'] }}</span></a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if service['state'] == 1 %}
                                                    <span style="color:#40FF00">{{ 'general.services.state.1' | language }}</span>
                                                {% elseif service['state'] == 2 %}
                                                    <span style="color:#FFBF00">{{ 'general.services.state.2' | language }}</span>
                                                {% elseif service['state'] == 3 %}
                                                    <span style="color:#FF0000">{{ 'general.services.state.3' | language }}</span>
                                                {% elseif service['state'] == 4 %}
                                                    <span style="color:#FF0000">{{ 'general.services.state.4' | language }}</span>
                                                {% elseif service['state'] == 5 %}
                                                    <span style="color:#FF0000">{{ 'general.services.state.5' | language }}</span>
                                                {% elseif service['state'] == 6 %}
                                                    <span style="color:#FFBF00">{{ 'general.services.state.6' | language }}</span>
                                                {% elseif service['state'] == 7 %}
                                                    <span style="color:#FF0000">{{ 'general.services.state.7' | language }}</span>
                                                {% elseif service['state'] == 8 %}
                                                    <span style="color:#FFBF00">{{ 'general.services.state.8' | language }}</span>
                                                {% else %}
                                                    <span style="color:#FF0000">{{ 'general.services.state.error' | language }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ service['at']['expire']|date }}
                                            </td>
                                            <td>
                                                <div class="actions ml-3">
                                                    <a href="{{ dashURL }}/teams/{{ team['businessId'] }}/service/{{ service['businessId'] }}"
                                                       class="btn btn-primary btn-sm btn-icon">
                                                        <i class="fa fa-eye"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}

                                {% if count == 0 %}
                                    <tr>
                                        <th scope="row"><span class="text-sm"></span></th>
                                        <td>-</td>
                                        <td>{{ 'site.cp.services.nothing' | language }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}