{% include '/general/header.twig' %}
<div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
    <div class="row pt-sm-2 pt-lg-0">
        {% include '/general/actionMessage.twig' %}
        <section class="card  mb-4">
            <div class="card-body">
                <div class="actions-toolbar py-2 mb-4 text-center">
                    <h4 class="mb-1">{{ 'site.cart' | language }}</h4>
                    <h5 class="mb-1">{{ 'site.cart.end.title' | language }}</h5>
                    <p class="text-sm text-muted mb-0">{{ 'site.cart.end.info' | language }}</p>
                </div>
                {% include 'cart/nav.twig' %}
            </div>
        </section>
    </div>
    <div class="row pt-sm-2 pt-lg-0">
        <div class="col-md-8">
            <section class="card  mb-4">
                <div class="card-body">
                    <div class="col-12">
                        <h6 class="mb-0 lh-180">
                            {{ 'site.cart.end.payWith'|language|replace({'@method': paymentMethod|raw })|raw }}
                        </h6>
                    </div>
                </div>
            </section>

            {% if affiliate != false %}
                <section class="card  mb-4">
                    <div class="card-body">
                        <div class="mb-0 lh-180">
                            {{ 'site.cart.end.affiliate'|language|replace({'@id': affiliate }) }}
                        </div>
                    </div>
                </section>
            {% endif %}

            <section class="card  mb-4">
                <div class="card-body">
                    <div class="mb-0 lh-180">
                        <div data-callback="unGreyButton" id="recaptcha"></div>
                    </div>
                </div>
            </section>
            <section class="card  mb-4">
                <div class="card-body">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="tos" name="tos" required>
                        <label class="form-check-label"
                               for="tos">{{ 'site.cart.end.terms'|language|replace({'@terms': '<a href="@url">@site</a>'|replace({'@url': url ~ '/legal/terms', '@site': 'site.legal.terms'|language })|raw })|raw }}</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="withdrawal" name="withdrawal" required>
                        <label class="form-check-label"
                               for="withdrawal">{{ 'site.cart.end.withdrawal'|language|replace({'@withdrawal': '<a href="@url">@site</a>'|replace({'@url': url ~ '/legal/withdrawal', '@site': 'site.legal.withdrawal'|language })|raw })|raw }}</label>
                    </div>
                </div>
            </section>
        </div>
        {% include 'cart/sideNav.twig' %}
    </div>

    <div class="row">
        <section class="card  h-100  mb-4">
            <div class="card-body">
                <div class="row justify-content-end">
                    <div class="col-lg-2 col-md-3 col-sm-12" id="payment-request-button">

                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-12">
                        <a href="{{ url }}/p" class="btn btn-link w-100"
                           type="submit">{{ 'site.cart.btn.shop' | language }}</a>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <button id="btn_submit" onclick="startOrder();" type="button" class="btn btn-success w-100"
                                type="submit">{{ 'site.cart.end.btn.end' | language }}</button>
                        <button id="btn_loading" type="button" style="display: none;"
                                class="btn btn-primary w-100">
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            {{ 'site.cart.end.btn.end' | language }}
                        </button>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal modal-danger fade" id="paymentLoadingModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-exclamation-circle fa-4x"></i>
                    <h5 class="heading h4 mt-4">{{ 'site.cart.end.focusPayment' | language }}</h5>
                    <h6 class="heading h6 mt-4">{{ 'site.cart.end.focusPayment.description' | language }}</h6>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" onclick="focusWindow();" class="btn btn-primary w-100">
                    <i class="fa fa-arrows-to-eye me-2"></i>
                    {{ 'site.cart.end.focusPayment.btn' | language }}
                </button>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}