{% include '/general/header.twig' %}
<section class="slice slice-sm bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="actions-toolbar py-2 mb-4 text-center">
          <h4 class="mb-1">{{ 'site.cart' | language }}</h4>
          <h5 class="mb-1">{{ 'site.cart.giftcode.title' | language }}</h5>
          <p class="text-sm text-muted mb-0">{{ 'site.cart.giftcode.info' | language }}</p>
        </div>
      </div>
    </div>
    {% include 'cart/nav.twig' %}
    <br><br>
    <div class="row justify-content-center">
      <div class="col-md-8">

        <div class="form-group">
          {% if cart['discountCode'] == false %}
            <form method="post" id="form">
              <input type="hidden" name="csrf" value="{{ csrf }}">
              <input type="hidden" name="action" value="testDiscountCode">

              <label for="add-cart" class="form-control-label">{{ 'site.cart.form.discountCode' | language }}</label>
              <input id="add-cart" name="discountCode" class="form-control" type="text"
                     placeholder="{{ 'site.cart.form.discountCode' | language }}" required>
              <button type="submit"
                      class="btn btn-primary mt-4">{{ 'site.cart.form.discountCode.test' | language }}</button>
            </form>
          {% else %}
            <form method="post" id="form">
              <input type="hidden" name="csrf" value="{{ csrf }}">
              <input type="hidden" name="action" value="removeDiscountCode">

              <button type="submit"
                      class="btn btn-danger mt-4">{{ 'site.cart.form.discountCode.remove' | language }}</button>
            </form>
          {% endif %}
        </div>

        <div class="mt-4 text-right">
          <a href="{{ url }}/p"
             class="btn btn-link text-sm font-weight-bold">{{ 'site.cart.btn.shop' | language }}</a>
          <a href="{{ url }}/cart/state/team" class="btn btn-animated btn-success btn-animated-x">
            <span class="btn-inner--visible">{{ 'site.cart.btn.next' | language }}</span>
            <span class="btn-inner--hidden"><i class="fa-regular fa-arrow-right"></i> </span>
          </a>
        </div>
      </div>
      {% include 'cart/sideNav.twig' %}
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}