<div class="row row-grid">
  <div class="col-lg-12 tex">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item"><a href="{{ url }}/cart">{{ 'site.cart.start.title' | language }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url }}/cart/state/giftcode">{{ 'site.cart.giftcode.title' | language }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url }}/cart/state/team">{{ 'site.cart.team.title' | language }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url }}/cart/state/payment">{{ 'site.cart.payment.title' | language }}</a></li>
        <li class="breadcrumb-item active"><a href="{{ url }}/cart/state/end">{{ 'site.cart.end.title' | language }}</a></li>
      </ol>
    </nav>
  </div>
</div>