{% include '/general/header.twig' %}
<div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
  <div class="row pt-sm-2 pt-lg-0">
    {% include '/general/actionMessage.twig' %}
    <section class="card  mb-4">
      <div class="card-body">
        <div class="actions-toolbar py-2 mb-4 text-center">
          <h4 class="mb-1">{{ 'site.cart' | language }}</h4>
          <h5 class="mb-1">{{ 'site.cart.setup.title' | language }}</h5>
          <p class="text-sm text-muted mb-0">{{ 'site.cart.setup.info' | language }}</p>
        </div>
        {% include 'cart/nav.twig' %}
      </div>
    </section>
  </div>

  <div class="row pt-sm-2 pt-lg-0">
    <div class="col-md-8">
      <section class="card  mb-4">
        <div class="card-body">
          <div class="accordion" id="setup">

            {% for itemId, item in cart['items'] %}
              {% if item['info']['available'] == false %}
                <!-- todo -->
              {% else %}
                <!-- Item -->
                <div class="accordion-item">
                  <h3 class="accordion-header" id="setup-{{ itemId }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse-{{ itemId }}">{{ item['name'] }}</button>
                  </h3>
                  <div class="accordion-collapse collapse" id="collapse-{{ itemId }}"
                       data-bs-parent="#setup">
                    <div class="accordion-body fs-sm">
                      <form method="post" name="form_{{ itemId }}">
                        <input type="hidden" name="csrf" value="{{ csrf }}">
                        <input type="hidden" name="action" value="setup">
                        <input type="hidden" name="itemId" value="{{ itemId }}">

                        {% if item['configuration']|length != 0 %}
                          {% for configId, config in item['configuration'] %}
                            <div class="form-group mb-3">
                              {% if config['type'] == "enum" %}
                                <label class="form-label"
                                       for="config-{{ configId }}">{{ config['languageKey']|language }}</label>
                                <select class="form-select configForm" id="config-{{ configId }}" name="{{ config['key'] }}" {% if config['required'] %}required{% endif %}>
                                  {% for optionId, option in config['options'] %}
                                    <option value="{{ optionId }}"
                                            {% if optionId == config['value'] %}selected{% endif %}>{{ option }}</option>
                                  {% endfor %}
                                </select>
                              {% elseif config['type'] == "enums" %}
                                <label class="form-label"
                                       for="config-{{ configId }}">{{ config['languageKey']|language }}</label>
                                <select class="form-select configForm" id="config-{{ configId }}" name="{{ config['key'] }}" multiple {% if config['required'] %}required{% endif %} >
                                  {% for optionId, option in config['options'] %}
                                    <option value="{{ optionId }}"
                                            {% if optionId in config['value'] %}selected{% endif %}>{{ option }}</option>
                                  {% endfor %}
                                </select>
                              {% elseif config['type'] == "string" %}
                                <label class="form-label"
                                       for="config-{{ configId }}">{{ config['languageKey']|language }}</label>
                                <input class="form-control configForm" type="text" id="config-{{ configId }}" {% if config['required'] %}required{% endif %}
                                       name="{{ config['key'] }}" placeholder="{{ config['default'] }}"
                                       value="{{ config['value'] }}">
                              {% elseif config['type'] == "integer" %}
                                <label class="form-label"
                                       for="config-{{ configId }}">{{ config['languageKey']|language }}</label>
                                <input class="form-control configForm" type="number" id="config-{{ configId }}" {% if config['required'] %}required{% endif %}
                                       name="{{ config['key'] }}" placeholder="{{ config['default'] }}"
                                       value="{{ config['value'] }}">

                              {% elseif config['type'] == "boolean" %}
                                <div class="form-check form-switch">
                                  <input type="checkbox" class="form-check-input configForm" id="config-{{ configId }}" {% if config['required'] %}required{% endif %}
                                         name="{{ config['key'] }}" {% if config['value'] %}checked{% endif %}>
                                  <label class="form-check-label"
                                         for="config-{{ configId }}">{{ config['languageKey']|language }}</label>
                                </div>
                              {% endif %}
                            </div>
                          {% endfor %}
                          <button onclick="saveConfig(this)" id="{{ itemId }}" class="btn btn-success"
                                  type="button">{{ 'site.cart.setup.btn.save' | language }}</button>
                        {% else %}
                          {{ 'site.cart.setup.noSetting' | language }}
                        {% endif %}
                      </form>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </section>
    </div>
    {% include 'cart/sideNav.twig' %}
  </div>

  <div class="row">
    <section class="card ">
      <div class="card-body">
        <div class="d-flex justify-content-end">
          <a href="{{ url }}/p" class="btn btn-link ms-3"
             type="submit">{{ 'site.cart.btn.shop' | language }}</a>
          <a  href="{{ url }}/cart/state/team" class="btn btn-success ms-3"
                  type="submit">{{ 'site.cart.btn.next' | language }}</a>
        </div>
      </div>
    </section>
  </div>

</div>
{% include '/general/footer.twig' %}