{% include '/general/header.twig' %}
<section class="slice slice-sm bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="actions-toolbar py-2 mb-4 text-center">
          <h4 class="mb-1">{{ 'site.cart' | language }}</h4>
          <h5 class="mb-1">{{ 'site.cart.team.title' | language }}</h5>
          <p class="text-sm text-muted mb-0">{{ 'site.cart.team.info' | language }}</p>
        </div>
      </div>
    </div>
    {% include 'cart/nav.twig' %}
    <br><br>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form method="post">
          <input type="hidden" name="csrf" value="{{ csrf }}">
          <input type="hidden" name="action" value="next">

          {% for team in teams %}
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="custom-control custom-radio">
                          <input required type="radio" class="custom-control-input" name="team_id"
                                 value="{{ team['team_id'] }}" id="radio-team-{{ team['team_id'] }}" {% if team_id == team['team_id'] %}checked{% endif %}>
                          <label class="custom-control-label h6 mb-0 lh-180"
                                 for="radio-team-{{ team['team_id'] }}">{{ team['name'] }} {% if team['reselling'] %}[Reselling]{% endif %}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

          {% if teams|length == 0 %}
            <div class="col-md-12">
              <div class="alert alert-group alert-danger alert-icon" role="alert">
                <div class="alert-group-prepend"><span class="alert-group-icon text-"><i
                      class="fa-regular fa-triangle-exclamation"></i></span>
                </div>
                <div class="alert-content">
                  {{ 'site.cart.team.noAvailable' | language }}
                </div>
              </div>
            </div>
          {% endif %}

          <div class="mt-4 text-right">
            <a href="{{ url }}/p"
               class="btn btn-link text-sm font-weight-bold">{{ 'site.cart.btn.shop' | language }}</a>
            {% if teams|length != 0 %}
              <button type="submit" class="btn btn-animated btn-success btn-animated-x">
                <span class="btn-inner--visible">{{ 'site.cart.btn.next' | language }}</span>
                <span class="btn-inner--hidden"><i class="fa-regular fa-arrow-right"></i> </span>
              </button>
            {% endif %}
          </div>
        </form>
      </div>
      {% include 'cart/sideNav.twig' %}
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}