{% include '/general/header_noNav.twig' %}
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div class="card">
          <div class="card-body inputMask">
            {% include 'general/actionMessage.twig' %}
            <form method="post" onsubmit="send();">
              <input type="hidden" name="csrf" value="{{ csrf }}">
              <h5 class="card-title">{{ 'site.auth.forgotPW.testCode' | language }}</h5>
              <p class="pb-3 mb-3 mb-lg-4">{{ 'site.auth.forgotPW.testCode.description' | language }}</p>
              <div class="mb-3">
                <label for="code" class="form-label">{{ 'general.form.forgotPW.code' | language }}</label>
                <input class="form-control" type="text" id="code" name="code"
                       placeholder="{{ 'general.form.forgotPW.code.placeholder' | language }}">
              </div>

              <div class="btn-group w-100 mt-4" role="group">
                <button class="btn btn-primary inputBtn w-75" name="action" value="testCode"
                        type="submit">{{ 'site.forgotPW.form.testCode' | language }}</button>
                <button class="btn btn-sm btn-info" type="submit" name="action" value="reTry"
                        formnovalidate>{{ 'site.forgotPW.form.reTry' | language }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include '/general/footer_empty.twig' %}