{% include '/general/header_noNav.twig' %}
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div class="card">
          <div class="card-body inputMask">
            {% include 'general/actionMessage.twig' %}
            <form method="post" onsubmit="send();">
              <input type="hidden" name="action" value="sendCode">
              <input type="hidden" name="csrf" value="{{ csrf }}">
              <h5 class="card-title">{{ 'site.auth.forgotPW.email' | language }}</h5>
              <p class="pb-3 mb-3 mb-lg-4">{{ 'site.auth.login.not_registered' | language }} <a
                  class="text-decoration-none"
                  href='{{ url }}/auth/register{{ return_to }}'>{{ 'site.auth.login.create_account' | language }}</a>
              </p>
              <div class="mb-3">
                <label for="emailInput" class="form-label">{{ 'general.form.email' | language }}</label>
                <input class="form-control" type="email" id="emailInput" name="email"
                       placeholder="{{ 'general.form.email.placeholder' | language }}" autocomplete="email">
              </div>

              <div class="mb-1">
                <div id="recaptcha"></div>
              </div>

              <button class="btn btn-primary inputBtn w-100 mt-4"
                      type="submit">{{ 'site.forgotPW.form.sendCode' | language }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% include '/general/footer_empty.twig' %}