{% include '/general/header_noNav.twig' %}
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div class="card">
          <div class="card-body inputMask">
            {% include 'general/actionMessage.twig' %}
            <form method="post" onsubmit="send();">
              <input type="hidden" name="csrf" value="{{ csrf }}">
              <h5 class="card-title">{{ 'site.auth.forgotPW.resetPassword' | language }}</h5>
              <p class="pb-3 mb-3 mb-lg-4">{{ 'site.auth.forgotPW.resetPassword.description' | language }}</p>

              <div class="mb-3">
                <label class="form-label" for="passwordInput">{{ 'general.form.password' | language }}</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="passwordInput" name="password"
                         placeholder="{{ 'general.form.password.placeholder' | language }}"
                         autocomplete="password new-password">
                  <label class="password-toggle-btn">
                    <input class="password-toggle-check" type="checkbox"
                           aria-label="{{ 'general.form.password.show' | language }}">
                    <span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>

              <button class="btn btn-primary inputBtn w-100 mt-4" name="action" value="resetPassword"
                      type="submit">{{ 'site.forgotPW.form.changePassword' | language }}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer_empty.twig' %}