{% include '/general/header_noNav.twig' %}
<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100">
      <div class="col-md-6 col-lg-5 col-xl-4 py-6 py-md-0">
        <div>
          <div class="mb-5 text-center">
            <div class="mb-5 text-center">
              <h6 class="h3 mb-1">{{ 'site.auth.forgotPW.resetPassword' | language }}</h6>
              <p class="text-muted mb-0">{{ 'site.auth.forgotPW.resetPassword.description' | language }}</p>
            </div>
          </div>
          <span class="clearfix"></span>
          {% include '/general/actionMessage.twig' %}


          <form method="post" onsubmit="send();">
            <input type="hidden" name="action" value="resetPassword">
            <input type="hidden" name="csrf" value="{{ csrf }}">

            <div class="form-group mb-4">
              <div class="position-relative"><i class="fa fa-lock fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                <div class="password-toggle">
                  <input class="form-control form-control-lg ps-5" name="password" type="password" id="password" placeholder="{{ 'general.form.password.placeholder' | language }}" required="">
                  <label class="password-toggle-btn" aria-label="{{ 'general.form.password.show' | language }}">
                    <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>
            </div>


            <div class="mt-4">
              <div id="form">
                <button class="btn btn-lg btn-primary w-100 mb-4" type="submit">{{ 'site.forgotPW.form.changePassword' | language }}
                </button>
              </div>
              <div id="loader" style="display: none">
                <button type="button" class="btn btn-lg btn-primary w-100 mb-4 pe-none">
                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                  {{ 'site.forgotPW.form.changePassword' | language }}...
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer_empty.twig' %}