{{ '<link rel="stylesheet" media="screen" href="https://cdn.hosmatic.com/website/theme/assets/vendor/flatpickr/dist/flatpickr.min.css">'|addCSS }}
{{ '<script src="https://cdn.hosmatic.com/website/theme/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>'|addJS }}
{% include '/general/header_noNav.twig' %}
<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">

            <div class="col-md-8 col-lg-8 col-xl-8 py-6 py-md-0">
                <br><h4 class="text-center"><img class="rounded mx-auto d-block w-15" width="100"
                                                 src="{{ theme['icons']['icon']['500x500'] }}"
                                                 alt="{{ config['name'] }}"></h4>
                <h4 class="text-center">{{ 'site.cp.setup'|language|replace({'@name': config['name'] }) }}</h4>
                <h6 class="text-center">{{ 'site.cp.setup.description' | language }}</h6>
                <br>
                <form method="post" autocomplete="on">
                    <input type="hidden" name="action" value="startSetup">
                    <input type="hidden" name="csrf" value="{{ csrf }}">

                    {% include '/general/actionMessage.twig' %}

                    <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                        <div class="card-header">
                            <h5 class="text-center">{{ 'site.cp.setup.address' | language }}</h5>
                            <h6 class="text-center text-muted">{{ 'site.cp.setup.address.description' | language }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row g-4 pb-2 pb-sm-3">
                                <div class="form-group col-lg-3">
                                    <label for="input-sex"
                                           class="form-label">{{ 'general.address.sex' | language }}</label>
                                    <select name="sex" id="input-sex" class="form-select" required autocomplete="sex">
                                        <option {% if setup != false %} {% if setup['address']['sex'] == "m" %} selected {% endif %} {% endif %}
                                                value="m">{{ 'general.address.sex.m' | language }}</option>
                                        <option {% if setup != false %} {% if setup['address']['sex'] == "w" %} selected {% endif %} {% endif %}
                                                value="w">{{ 'general.address.sex.w' | language }}</option>
                                        <option {% if setup != false %} {% if setup['address']['sex'] == "d" %} selected {% endif %} {% endif %}
                                                value="d">{{ 'general.address.sex.d' | language }}</option>
                                        <option {% if setup != false %} {% if setup['address']['sex'] == "0" %} selected {% endif %} {% endif %}
                                                value="0">{{ 'general.address.sex.0' | language }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="input-firstname"
                                           class="form-label">{{ 'general.address.firstname' | language }}
                                        *</label>
                                    <input {% if setup != false %} value="{{ setup['address']['firstname'] }}" {% endif %}
                                            name="firstname" required type="text"
                                            class="form-control form-control-prepend"
                                            id="input-firstname"
                                            required
                                            autocomplete="given-name"
                                            placeholder="{{ 'general.address.firstname.placeholder' | language }}">
                                </div>
                                <div class="form-group col-lg-5">
                                    <label for="input-lastname"
                                           class="form-label">{{ 'general.address.lastname' | language }}
                                        *</label>
                                    <input {% if setup != false %} value="{{ setup['address']['lastname'] }}" {% endif %}
                                            name="lastname" required type="text"
                                            class="form-control form-control-prepend"
                                            id="input-lastname"
                                            required
                                            autocomplete="last-name"
                                            placeholder="{{ 'general.address.lastname.placeholder' | language }}">
                                </div>
                            </div>

                            <div class="row g-4 pb-sm-3">
                                <div class="form-group col-lg-6">
                                    <label for="input-company"
                                           class="form-label">{{ 'general.address.company' | language }}</label>
                                    <input {% if setup != false %} value="{{ setup['company'] }}" {% endif %}
                                            name="company" type="text" class="form-control form-control-prepend"
                                            id="input-company"
                                            autocomplete="organization"
                                            placeholder="{{ 'general.address.company.placeholder' | language }}">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="input-timezone"
                                           class="form-label">{{ 'general.address.timezone' | language }}</label>
                                    <select required name="timezone" id="input-timezone" class="form-select" required>
                                        {% for timezone in timezones %}
                                            <option
                                                    {% if setup != false %} {% if setup['address']['timezone'] == timezone %} selected {% endif %} {% else %} {% if timezone == "Europe/Berlin" %} selected {% endif %} {% endif %}
                                                    value="{{ timezone }}">{{ timezone }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row g-4 pb-sm-3">
                                <div class="form-group col-lg-5">
                                    <label for="input-street"
                                           class="form-label">{{ 'general.address.street' | language }}
                                        *</label>
                                    <input {% if setup != false %} value="{{ setup['address']['street'] }}" {% endif %}
                                            name="street" type="text" class="form-control form-control-prepend"
                                            id="input-street"
                                            required
                                            placeholder="{{ 'general.address.street.placeholder' | language }}">
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="input-suffix"
                                           class="form-label">{{ 'general.address.suffix' | language }}
                                        *</label>
                                    <input {% if setup != false %} value="{{ setup['address']['suffix'] }}" {% endif %}
                                            name="suffix" type="text" class="form-control form-control-prepend"
                                            id="input-suffix"
                                            required
                                            placeholder="{{ 'general.address.suffix.placeholder' | language }}">
                                </div>
                                <div class="form-group col-lg-3">
                                    <label for="input-street_nr"
                                           class="form-label">{{ 'general.address.street_nr' | language }}
                                        *</label>
                                    <input {% if setup != false %} value="{{ setup['address']['street_nr'] }}" {% endif %}
                                            name="street_nr" type="text" class="form-control form-control-prepend"
                                            id="input-street_nr"
                                            required
                                            placeholder="{{ 'general.address.street_nr.placeholder' | language }}">
                                </div>
                            </div>

                            <div class="row g-4 pb-sm-3">
                                <div class="form-group col-lg-4">
                                    <label for="input-postcode"
                                           class="form-label">{{ 'general.address.postcode' | language }}
                                        *</label>
                                    <input {% if setup != false %} value="{{ setup['address']['postcode'] }}" {% endif %}
                                            name="postcode" type="text" class="form-control form-control-prepend"
                                            id="input-postcode"
                                            required
                                            autocomplete="postal-code"
                                            placeholder="{{ 'general.address.postcode.placeholder' | language }}">
                                </div>
                                <div class="form-group col-lg-8">
                                    <label for="input-city" class="form-label">{{ 'general.address.city' | language }}
                                        *</label>
                                    <input {% if setup != false %} value="{{ setup['address']['city'] }}" {% endif %}
                                            name="city" type="text" class="form-control form-control-prepend"
                                            id="input-city"
                                            required
                                            autocomplete="street-address"
                                            placeholder="{{ 'general.address.city.placeholder' | language }}">
                                </div>
                            </div>
                            <div class="row g-4 pb-sm-3 mb-4">
                                <div class="form-group col-lg-6">
                                    <label for="input-state" class="form-label">{{ 'general.address.state' | language }}
                                        *</label>
                                    <input {% if setup != false %} value="{{ setup['address']['state'] }}" {% endif %}
                                            name="state" type="text" class="form-control form-control-prepend"
                                            id="input-state" required
                                            placeholder="{{ 'general.address.state.placeholder' | language }}">
                                </div>


                                <div class="form-group col-lg-6">
                                    <label for="input-country"
                                           class="form-label">{{ 'general.address.country' | language }}
                                        *</label>
                                    <select required name="country" id="input-country" class="form-select">
                                        {% for code, country in countrys %}
                                            <option
                                                    {% if setup != false %}{% if setup['address']['country']  == code %} selected {% endif %}{% else %} {% if country['code'] == "DE" %} selected {% endif %} {% endif %}
                                                    value="{{ code }}">

                                                {{ country }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="text-center text-muted">* {{ 'site.cp.setup.address.required' | language }}</p>
                        </div>
                    </section>

                    <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                        <div class="card-header">
                            <h5 class="text-center">{{ 'site.cp.setup.birthday' | language }}</h5>
                        </div>
                        <div class="card-body">
                            <div class="row g-4 pb-sm-3">
                                <div class="form-group col-lg-6 offset-lg-3">
                                    <label for="input-birthday"
                                           class="form-label">{{ 'general.address.birthday' | language }}*</label>
                                    <input name="birthday" required type="text"
                                           class="form-control date-picker"
                                           data-datepicker-options='{"altInput": true, "altFormat": "d.m.Y", "dateFormat": "d.m.Y"}'
                                           id="input-birthday" data-toggle="date"
                                           value="{% if setup != false %}{{ setup['birthday']['date'] }}{% endif %}"
                                           placeholder="{{ 'general.address.birthday.placeholder' | language }}">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="text-center text-muted">* {{ 'site.cp.setup.address.required' | language }}</p>
                        </div>
                    </section>
                    <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                        <div class="card-header">
                            <h5 class="text-center">{{ 'site.cp.setup.legal' | language }}</h5>
                            <h6 class="text-center text-muted">{{ 'site.cp.setup.legal.description' | language }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group offset-lg-1">
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" name="terms" required
                                               id="check-terms">
                                        <label class="form-check-label"
                                               for="check-terms">{{ 'site.cp.setup.legal.terms'|language|replace({'@terms': '<a href="@url">@site</a>'|replace({'@url': url ~ '/legal/terms', '@site': 'site.legal.terms'|language })|raw })|raw }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group offset-lg-1">
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox" class="form-check-input" name="privacy" required
                                               id="check-privacy">
                                        <label class="form-check-label"
                                               for="check-privacy">{{ 'site.cp.setup.legal.privacy'|language|replace({'@privacy': '<a href="@url">@site</a>'|replace({'@url': url ~ '/legal/privacy', '@site': 'site.legal.privacy'|language })|raw })|raw }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group offset-lg-1">
                                    <div class="form-check form-check-inline">
                                        <input
                                                type="checkbox" {% if setup != false %} {% if setup['newsletter'] %} checked {% endif %} {% endif %}
                                                class="form-check-input" name="newsletter" id="check-newsletter">
                                        <label class="form-check-label"
                                               for="check-newsletter">{{ 'site.cp.setup.legal.newsletter' | language }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                        <div class="card-header">
                            <h5 class="text-center">{{ 'site.cp.setup.end' | language }}</h5>
                            <h6 class="text-center text-muted">{{ 'site.cp.setup.end.description' | language }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center align-items-end">
                                <button type="submit"
                                        class="btn btn-primary btn-lg hover-scale-110">{{ 'site.cp.setup.end.btn' | language }}</button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</section>
{% include '/general/footer.twig' %}