{% include '/general/header.twig' %}
{% include 'cp/nav.twig' %}
<section class="slice slice-sm bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-9 order-lg-2">
            <!-- ACTION MESSAGE -->

            {% include '/general/actionMessage.twig' %}

            <div class="row">
              <div class="col-lg-12">
                <div class="actions-toolbar py-2 mb-4">
                  <h5 class="mb-1">{{ 'site.cp.settings.developer' | language }}</h5>
                  <p class="text-sm text-muted mb-0">{{ 'site.cp.settings.developer.description' | language }}</p>
                </div>

                {% if apiLog['log']|length != 0 %}
                  <div class="card">
                    <div class="card-body text-center justify-content-center">
                      <nav>
                        <ul class="pagination justify-content-center">

                          <li
                            class="page-item {% if apiLog['pagination']['previous_page'] == 0 %} disabled {% endif %}">
                            <a class="page-link" href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page=1"
                               tabindex="-1" {% if apiLog['pagination']['previous_page'] == 0 %} aria-disabled="true" {% endif %}>First</a>
                          </li>
                          <li
                            class="page-item {% if apiLog['pagination']['previous_page'] == 0 %} disabled {% endif %}">
                            <a class="page-link"
                               href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['previous_page'] }}"
                               tabindex="-1" {% if apiLog['pagination']['previous_page'] == 0 %} aria-disabled="true" {% endif %}>Previous</a>
                          </li>

                          {% if apiLog['pagination']['previous_page']-3 > 0 %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['previous_page']-3 }}">{{ apiLog['pagination']['previous_page']-3 }}</a>
                            </li>
                          {% endif %}
                          {% if apiLog['pagination']['previous_page']-2 > 0 %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['previous_page']-2 }}">{{ apiLog['pagination']['previous_page']-2 }}</a>
                            </li>
                          {% endif %}
                          {% if apiLog['pagination']['previous_page']-1 > 0 %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['previous_page']-1 }}">{{ apiLog['pagination']['previous_page']-1 }}</a>
                            </li>
                          {% endif %}
                          {% if apiLog['pagination']['previous_page'] != 0 %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['previous_page'] }}">{{ apiLog['pagination']['previous_page'] }}</a>
                            </li>
                          {% endif %}

                          <li class="page-item active" aria-current="page">
                            <a class="page-link"
                               href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['current_page'] }}">{{ apiLog['pagination']['current_page'] }}
                              <span class="sr-only">(current)</span></a>
                          </li>

                          {% if apiLog['pagination']['current_page'] != apiLog['pagination']['total_no_of_pages'] %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['next_page'] }}">{{ apiLog['pagination']['next_page'] }}</a>
                            </li>
                          {% endif %}
                          {% if apiLog['pagination']['next_page']+1 <= apiLog['pagination']['total_no_of_pages'] %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['next_page']+1 }}">{{ apiLog['pagination']['next_page']+1 }}</a>
                            </li>
                          {% endif %}
                          {% if apiLog['pagination']['next_page']+2 <= apiLog['pagination']['total_no_of_pages'] %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['next_page']+2 }}">{{ apiLog['pagination']['next_page']+2 }}</a>
                            </li>
                          {% endif %}
                          {% if apiLog['pagination']['next_page']+3 <= apiLog['pagination']['total_no_of_pages'] %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['next_page']+3 }}">{{ apiLog['pagination']['next_page']+3 }}</a>
                            </li>
                          {% endif %}

                          <li
                            class="page-item {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} disabled {% endif %}">
                            <a class="page-link"
                               href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['next_page'] }}" {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} aria-disabled="true" {% endif %}>Next</a>
                          </li>
                          <li
                            class="page-item {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} disabled {% endif %}">
                            <a class="page-link"
                               href="{{ url }}/cp/settings/developer/token/{{ token['token_id'] }}?page={{ apiLog['pagination']['total_no_of_pages'] }}" {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} aria-disabled="true" {% endif %}>Last</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                {% endif %}

                <div class="card">
                  <div class="card-header">Verlauf</div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-cards">
                        <thead>
                        <tr>
                          <th scope="col">Status</th>
                          <th scope="col">Method</th>
                          <th scope="col">URL</th>
                          <th scope="col">Zeit</th>
                          <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in apiLog['log'] %}
                          <tr>
                            <td>{{ log['status'] }}</td>
                            <td>{{ log['method'] }}</td>
                            <td>{{ log['urlShort'] }}</td>
                            <td>{{ log['time']|date("d.m.Y H:i:s") }}</td>
                            <td>
                              <button type="button"
                                      class="action-item mr-2" title="" data-toggle="modal"
                                      data-target="#seeLog-{{ log['log_id'] }}">
                                <i class="fas fa-eye"></i>
                              </button>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% for log in apiLog['log'] %}
                  <div class="modal fade" tabindex="-1" role="dialog" id="seeLog-{{ log['log_id'] }}">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title h6">[{{ log['method'] }}] {{ log['url'] }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-close"></i>
                      </button>
                        </div>
                        <div class="modal-body">
                          <h5 class="text-left">{{ log['time'] | date("d.m.Y H:i:s") }}</h5>

                          <h5 class="text-left">RequestID</h5>
                          <h6 class="text-left">{{ log['log_id'] }}</h6>

                          {% if log['userAgent'] != "" %}
                            <h5 class="text-left">Useragent</h5>
                            <h6 class="text-left">{{ log['userAgent'] }}</h6>
                          {% endif %}

                          {% if log['ip'] != "" %}
                            <h5 class="text-left">IP-Adresse</h5>
                            <h6 class="text-left">{{ log['ip'] }}</h6>
                          {% endif %}

                          <h5 class="text-left">Request</h5>
                          <pre style="background-color: #001f3f; color: #ffffff"><code
                              id="request_{{ log['log_id'] }}"></code></pre>
                          <script>document.getElementById("request_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['request']|json_encode|raw }}, undefined, 2);</script>

                          <h5 class="text-left">Response</h5>
                          <pre style="background-color: #001f3f; color: #ffffff"><code
                              id="response_{{ log['log_id'] }}"></code></pre>
                          <script>document.getElementById("response_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['response']|json_encode|raw }}, undefined, 2);</script>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal">{{ 'general.modal.closeBtn' | language }}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}


              </div>
            </div>
            <br><br>
          </div>
          {% include 'cp/settings/nav.twig' %}
        </div>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}