{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row pt-sm-2 pt-lg-0">
        {% include '/cp/sideNav.twig' %}
        <!-- Page content-->
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">

            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa-duotone fa-bookmark text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.developer.webhook' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/settings/developer" class="btn btn-dark btn-icon">
                                <i class="fa-duotone fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    {% include '/general/pagination.twig' %}
                    <div class="table-responsive">
                        <table class="table table-cards align-middle">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'site.cp.settings.developer.webhook.table.time' | language }}</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in pagination['items'] %}
                                <tr>
                                    <td>{{ log['createdAt']|date }}</td>
                                    <td>
                                        <button
                                                class="btn btn-secondary btn-sm btn-icon" data-bs-toggle="modal"
                                                data-bs-target="#seeLog-{{ log['log_id'] }}">
                                            <i class="fa-duotone fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% for log in pagination['items'] %}
                        <div class="modal fade" tabindex="-1" role="dialog" id="seeLog-{{ log['log_id'] }}">
                            <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{ log['createdAt']|date }}</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="text-left">Request</h5>
                                        <pre class="line-numbers"><code class="lang-json"
                                                                        id="request_{{ log['log_id'] }}">{{ log['request']|json_encode|raw }}</code></pre>
                                        <script>document.getElementById("request_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['request']|json_encode|raw }}, undefined, 2);</script>
                                        <br>

                                        <h5 class="text-left">Response</h5>
                                        <pre class="line-numbers"><code class="lang-json"
                                                                        id="response_{{ log['log_id'] }}">{{ log['response']|json_encode|raw }}</code></pre>
                                        <script>document.getElementById("response_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['response']|json_encode|raw }}, undefined, 2);</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>

{% include '/general/footer.twig' %}