{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">

            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa fa-bookmark text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.developer.webhook' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/settings/developer" class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {% if history['history']|length != 0 %}
                <section class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                    <div class="card-body">
                        <nav>
                            <ul class="pagination justify-content-center">

                                <li
                                        class="page-item {% if history['pagination']['previous_page'] == 0 %} disabled {% endif %}">
                                    <a class="page-link"
                                       href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page=1"
                                       tabindex="-1" {% if history['pagination']['previous_page'] == 0 %} aria-disabled="true" {% endif %}>First</a>
                                </li>
                                <li
                                        class="page-item {% if history['pagination']['previous_page'] == 0 %} disabled {% endif %}">
                                    <a class="page-link"
                                       href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['previous_page'] }}"
                                       tabindex="-1" {% if history['pagination']['previous_page'] == 0 %} aria-disabled="true" {% endif %}>Previous</a>
                                </li>

                                {% if history['pagination']['previous_page']-3 > 0 %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['previous_page']-3 }}">{{ history['pagination']['previous_page']-3 }}</a>
                                    </li>
                                {% endif %}
                                {% if history['pagination']['previous_page']-2 > 0 %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['previous_page']-2 }}">{{ history['pagination']['previous_page']-2 }}</a>
                                    </li>
                                {% endif %}
                                {% if history['pagination']['previous_page']-1 > 0 %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['previous_page']-1 }}">{{ history['pagination']['previous_page']-1 }}</a>
                                    </li>
                                {% endif %}
                                {% if history['pagination']['previous_page'] != 0 %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['previous_page'] }}">{{ history['pagination']['previous_page'] }}</a>
                                    </li>
                                {% endif %}

                                <li class="page-item active" aria-current="page">
                                    <a class="page-link"
                                       href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['current_page'] }}">{{ history['pagination']['current_page'] }}
                                        <span class="sr-only">(current)</span></a>
                                </li>

                                {% if history['pagination']['current_page'] != history['pagination']['total_no_of_pages'] %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['next_page'] }}">{{ history['pagination']['next_page'] }}</a>
                                    </li>
                                {% endif %}
                                {% if history['pagination']['next_page']+1 <= history['pagination']['total_no_of_pages'] %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['next_page']+1 }}">{{ history['pagination']['next_page']+1 }}</a>
                                    </li>
                                {% endif %}
                                {% if history['pagination']['next_page']+2 <= history['pagination']['total_no_of_pages'] %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['next_page']+2 }}">{{ history['pagination']['next_page']+2 }}</a>
                                    </li>
                                {% endif %}
                                {% if history['pagination']['next_page']+3 <= history['pagination']['total_no_of_pages'] %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['next_page']+3 }}">{{ history['pagination']['next_page']+3 }}</a>
                                    </li>
                                {% endif %}

                                <li
                                        class="page-item {% if history['pagination']['current_page'] == history['pagination']['total_no_of_pages'] %} disabled {% endif %}">
                                    <a class="page-link"
                                       href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['next_page'] }}" {% if history['pagination']['current_page'] == history['pagination']['total_no_of_pages'] %} aria-disabled="true" {% endif %}>Next</a>
                                </li>
                                <li
                                        class="page-item {% if history['pagination']['current_page'] == history['pagination']['total_no_of_pages'] %} disabled {% endif %}">
                                    <a class="page-link"
                                       href="{{ dashURL }}/settings/developer/hook/{{ hook['businessId'] }}?page={{ history['pagination']['total_no_of_pages'] }}" {% if history['pagination']['current_page'] == history['pagination']['total_no_of_pages'] %} aria-disabled="true" {% endif %}>Last</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
            {% endif %}
            <section class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-cards">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'site.cp.settings.developer.webhook.table.time' | language }}</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in history['history'] %}
                                <tr>
                                    <td>{{ log['createdAt']|date }}</td>
                                    <td>
                                        <button
                                                class="btn btn-secondary btn-sm btn-icon" data-bs-toggle="modal"
                                                data-bs-target="#seeLog-{{ log['log_id'] }}">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% for log in history['history'] %}
                        <div class="modal fade" tabindex="-1" role="dialog" id="seeLog-{{ log['log_id'] }}">
                            <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{ log['createdAt']|date }}</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="text-left">Request</h5>
                                        <pre class="line-numbers"><code class="lang-json" id="request_{{ log['log_id'] }}">{{ log['request']|json_encode|raw }}</code></pre>
                                        <script>document.getElementById("request_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['request']|json_encode|raw }}, undefined, 2);</script>
                                        <br>

                                        <h5 class="text-left">Response</h5>
                                        <pre class="line-numbers"><code class="lang-json" id="response_{{ log['log_id'] }}">{{ log['response']|json_encode|raw }}</code></pre>
                                        <script>document.getElementById("response_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['response']|json_encode|raw }}, undefined, 2);</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}