{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            {% include 'cp/terminateUser.twig' %}
            {% include 'general/actionMessage.twig' %}
            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa fa-money-bill-wave text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.tab.creditsHistory' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/settings" class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                            <a href="{{ dashURL }}" class="btn btn-secondary btn-icon">
                                <i class="fa-solid fa-arrow-left-long-to-line"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-cards align-items-center align-middle">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th>{{ 'site.cp.settings.creditsHistory.table.amount' | language }}</th>
                                        <th>{{ 'site.cp.settings.creditsHistory.table.action' | language }}</th>
                                        <th>{{ 'site.cp.settings.creditsHistory.table.created_at' | language }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if credits|length == 0 %}
                                        <tr>
                                            <th></th>
                                            <td>-</td>
                                            <td>{{ 'site.cp.settings.creditsHistory.table.empty' | language }}</td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                    {% for credit in credits %}
                                        <tr>
                                            <th scope="row">
                                                {% if credit['type'] == "plus" %}
                                                    <i style="color:#00FF40"
                                                       class="fas fa-arrow-up mr-2 fa-2x "></i>
                                                {% elseif credit['type'] == "minus" %}
                                                    <i style="color:#ff0000"
                                                       class="fas fa-arrow-down mr-2 fa-2x"></i>
                                                {% else %}
                                                    <i style="color:#ff0000" class="fas fa-question mr-2 fa-2x"></i>
                                                {% endif %}
                                            </th>
                                            <td>
                                                {{ credit['amount'] | creditsToEuro }}{{ "symbol"|currency }}
                                            </td>
                                            <td>
                        <span class="h6 text-sm font-weight-bold mb-0">
                          {% if credit['action'] == "affiliate" %}
                              {{ 'site.cp.settings.creditsHistory.table.action.affiliate' | language }}
                          {% elseif credit['action'] == "event" %}
                              {{ 'site.cp.settings.creditsHistory.table.action.event' | language }}
                          {% elseif credit['action'] == "invoice" %}
                              {{ 'site.cp.settings.creditsHistory.table.action.invoice' | language }}
                          {% elseif credit['action'] == "order" %}
                              {{ 'site.cp.settings.creditsHistory.table.action.order' | language }}
                          {% elseif credit['action'] == "retour" %}
                              {{ 'site.cp.settings.creditsHistory.table.action.retour' | language }}
                          {% elseif credit['action'] == "send" %}
                              {{ 'site.cp.settings.creditsHistory.table.action.send' | language }}
                          {% elseif credit['action'] == "topUp" %}
                              {{ 'site.cp.settings.creditsHistory.table.action.topUp' | language }}
                          {% endif %}
                        </span>
                                                {% if credit['action'] == "send" %}
                                                    <span class="d-block text-sm text-muted">{{ credit['extra']['username'] }}</span>
                                                {% elseif credit['action'] == "retour" %}
                                                    <span class="d-block text-sm text-muted">{{ credit['extra']['name'] }}</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ credit['created_at'] | date }}</td>
                                        </tr>
                                        <tr class="table-divider"></tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div> 
    </div>
</div>
{% include '/general/footer.twig' %}