{{ '<script type="application/javascript" src="{{ url }}/assets/js/simpleWebauthn/index.umd.min.js"></script>'|addJS(true) }}
{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            {% include 'cp/terminateUser.twig' %}
            {% include 'general/actionMessage.twig' %}
            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa fa-user-cog text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.tab.devices' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/settings" class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                            <a href="{{ dashURL }}" class="btn btn-secondary btn-icon">
                                <i class="fa-solid fa-arrow-left-long-to-line"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4" style="display: none" id="deviceQRCodeLogin">
                <div class="card-body">
                    <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3"><i
                                class="fa fa-qrcode text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.devices.qrCode' | language }}</h2>
                    </div>
                    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">{{ 'site.cp.settings.devices.qrCode' | language }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="submitVideo">
                                        <video width="100%" height="auto" id="video">Gimme Permissions!</video>
                                        <div class="row g-3">
                                            <div class="col-md-12 form-group">
                                                <div class="form-check form-switch" id="flashToggleDIV">
                                                    <input type="checkbox" class="form-check-input" id="flashBox">
                                                    <label class="form-check-label"
                                                           for="flashBox">{{ 'site.cp.settings.devices.qrCode.modal.flash' | language }}</label>
                                                </div>
                                                <div class="col-md-12 form-group">
                                                    <label for="camList"
                                                           class="form-label">{{ 'site.cp.settings.devices.qrCode.modal.camera' | language }}</label>
                                                    <select class="form-select" id="camList">
                                                        <option value="environment"
                                                                selected>{{ 'site.cp.settings.devices.qrCode.modal.camera.default' | language }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="submitCode" style="display:none">
                                        <h4>{{ 'site.cp.settings.devices.qrCode.modal.submit.text.1' | language }}</h4>
                                        <h6 class="text-danger">{{ 'site.cp.settings.devices.qrCode.modal.submit.text.2' | language }}</h6>
                                        <h6>{{ 'site.cp.settings.devices.qrCode.modal.submit.text.3' | language }}</h6>

                                        <button type="button" class="btn btn-danger" id="submitCodeBtn">{{ 'site.cp.settings.devices.qrCode.modal.submit.btn' | language }}</button>
                                    </div>
                                    <div id="submitSuccess" style="display:none">
                                        <h4>{{ 'site.cp.settings.devices.qrCode.modal.success' | language }}</h4>
                                    </div>
                                    <div id="submitFailed" style="display:none">
                                        <h5>{{ 'site.cp.settings.devices.qrCode.modal.failed' | language }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <button class="btn btn-primary" id="openCamera"
                                type="button">{{ 'site.cp.settings.devices.qrCode.open' | language }}</button>
                    </div>
                </div>
            </section>
            <section class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3"><i
                                class="fa fa-computer-speaker text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.devices' | language }}</h2>
                    </div>
                    <div class="row g-4">
                        <!-- Address (primary)-->

                        {% for device in devices %}

                            <div class="modal fade" id="device-{{ device['device_id'] }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">
                                                {% if device['device_info']['type'] == "smartphone" %}
                                                    {% if device['device_info']['device']['model'] is empty and device['device_info']['device']['name'] is empty %}
                                                        {{ device['device_info']['system']['name'] }} {{ device['device_info']['system']['version'] }}
                                                    {% else %}
                                                        {{ device ['device_info']['device']['name'] }} {{ device['device_info']['device']['model'] }}
                                                        <br> {{ device['device_info']['system']['name'] }} {{ device['device_info']['system']['version'] }}
                                                    {% endif %}
                                                {% elseif device['device_info']['type'] == "tablet" %}
                                                    {{ device['device_info']['device']['brand'] }} {{ device['device_info']['device']['model'] }}
                                                    <br> {{ device['device_info']['system']['name'] }} {{ device['device_info']['system']['version'] }}
                                                {% elseif device['device_info']['access']['type'] == "library" %}
                                                    API
                                                {% else %}
                                                    {{ device['device_info']['system']['name'] }} {{ device['device_info']['system']['version'] }} ( {{ device['device_info']['system']['platform'] }} )
                                                {% endif %}
                                            </h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {% if device['latest_ip'] != false and device['latest_ip'] != null %}
                                                <h5 class="mb-1">{{ 'site.cp.settings.devices.lastIP' | language }}</h5>

                                                <br>
                                                <iframe height="300" id="iframe-{{ device['device_id'] }}"
                                                        src="about:blank"
                                                        style='display:none '>
                                                </iframe>

                                                <button type="button" data-frames="true" id="button-{{ device['device_id'] }}" data-frameId="{{ device['device_id'] }}"  class="btn btn-primary" style="display:block"
                                                        data-frameUrl="https://maps.google.de/maps?hl=de&q=%20{{ device['latest_ip']['loc'] | url_encode }}&t=&z=10&ie=utf8&iwloc=b&output=embed">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                                <br>
                                                <h6 class="mb-1">
                                                    {{ device['latest_ip']['org'] }} ({{ device['latest_ip']['city'] }}
                                                    , {{ device['latest_ip']['region'] }})</h6>
                                                <br>
                                                <hr/><br>

                                            {% endif %}
                                            <ul>
                                                {% for ip in device['ip_address'] %}
                                                    <li>{{ ip['ip_address'] }}
                                                        ({{ ip['firstuse_at']|date }})
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card h-100 rounded-3 p-3 p-sm-4">
                                    <div class="d-flex align-items-center pb-2 mb-1">
                                        <h3 class="h6 text-nowrap text-truncate mb-0">
                                            {% if device['device_info']['type'] == "desktop" %}
                                                {% set device_icon = "fa-desktop" %}
                                            {% elseif device['device_info']['type'] == "smartphone" %}
                                                {% set device_icon = "fa-mobile-screen-button" %}
                                            {% elseif device['device_info']['type'] == "tablet" %}
                                                {% set device_icon = "fa-tablet-screen-button" %}
                                            {% elseif device['device_info']['type'] == "tv" %}
                                                {% set device_icon = "fa-tv" %}
                                            {% elseif device['device_info']['type'] == "phablet" %}
                                                {% set device_icon = "fa-tablet-screen" %}
                                            {% elseif device['device_info']['type'] == "feature phone" %}
                                                {% set device_icon = "fa-mobile-retro" %}
                                            {% elseif device['device_info']['type'] == "console" %}
                                                {% set device_icon = "fa-game-console-handheld" %}
                                            {% elseif device['device_info']['type'] == "car browser" %}
                                                {% set device_icon = "fa-car" %}
                                            {% elseif device['device_info']['type'] == "smart display" %}
                                                {% set device_icon = "fa-display" %}
                                            {% elseif device['device_info']['type'] == "camera" %}
                                                {% set device_icon = "fa-camera-retro" %}
                                            {% elseif device['device_info']['type'] == "portable media player" %}
                                                {% set device_icon = "fa-mp3-player" %}
                                            {% elseif device['device_info']['type'] == "smart speaker" %}
                                                {% set device_icon = "fa-speaker" %}
                                            {% elseif device['device_info']['type'] == "wearable" %}
                                                {% set device_icon = "fa-watch-smart" %}
                                            {% elseif device['device_info']['type'] == "peripheral" %}
                                                {% set device_icon = "fa-computer-mouse" %}
                                            {% elseif device['device_info']['access']['type'] == "library" %}
                                                {% set device_icon = "fa-book-open" %}
                                            {% else %}
                                                {% set device_icon = "fa-question" %}
                                            {% endif %}
                                            <i class="fas {{ device_icon }} mr-2 fa-2x "></i>
                                        </h3>
                                        {% if device_id == device['device_id'] %}
                                            <span class="badge bg-faded-primary text-primary fs-xs ms-3">{{ 'site.cp.settings.devices.current'|language }}</span>
                                        {% endif %}
                                        <div class="d-flex ms-auto">
                                            <button class="btn nav-link fs-xl fw-normal py-1 pe-0 ps-1 ms-2" type="button"
                                                    data-bs-toggle="modal" href="#device-{{ device['device_id'] }}"><i
                                                        class="fa fa-eye"></i>
                                            </button>
                                            <form method="POST">
                                                <input type="hidden" name="action" value="removeDevice">
                                                <input type="hidden" name="csrf" value="{{ csrf }}">
                                                <input type="hidden" name="device_id" value="{{ device['device_id'] }}">

                                                <button class="btn  nav-link text-danger fs-xl fw-normal py-1 pe-0 ps-1 ms-2"
                                                        type="submit"><i
                                                            class="fa fa-trash"></i></button>
                                            </form>

                                        </div>
                                    </div>
                                    <p class="mb-0">
                                        {% if device['device_info']['type'] == "smartphone" %}
                                            {% if device['device_info']['device']['model'] is empty and device['device_info']['device']['name'] is empty %}
                                                {{ device['device_info']['system']['name'] }} {{ device['device_info']['system']['version'] }}
                                            {% else %}
                                                {{ device ['device_info']['device']['name'] }} {{ device['device_info']['device']['model'] }}
                                                <br> {{ device['device_info']['system']['name'] }} {{ device['device_info']['system']['version'] }}
                                            {% endif %}
                                        {% elseif device['device_info']['type'] == "tablet" %}
                                            {{ device['device_info']['device']['brand'] }} {{ device['device_info']['device']['model'] }}
                                            <br> {{ device['device_info']['system']['name'] }} {{ device['device_info']['system']['version'] }}
                                        {% elseif device['device_info']['access']['type'] == "library" %}
                                            API
                                        {% elseif device['device_info']['system']['name'] != "" %}
                                            {{ device['device_info']['system']['name'] }} {{ device['device_info']['system']['version'] }} ( {{ device['device_info']['system']['platform'] }} )
                                        {% else %}
                                            Unknown Device
                                        {% endif %}
                                        <br>
                                        {% if device['device_info']['access']['type'] == "browser" %}
                                            {{ device['device_info']['access']['name'] }} ( {{ device['device_info']['access']['version'] }} )
                                        {% elseif device['device_info']['access']['type'] == "library" %}
                                            {{ device['device_info']['access']['name'] }} ( {{ device['device_info']['access']['version'] }} )
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <section class="card py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3"><i
                                class="fa fa-trash text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.devices.removeAll' | language }}</h2>
                    </div>
                    <button type="button" id="removeAllDevices"
                            class="btn btn-danger">{{ 'site.cp.settings.devices.removeAll.btn' | language }}
                    </button>
                </div>
            </section>

        </div>
    </div>
</div>
{% include '/general/footer.twig' %}