{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            {% include 'cp/terminateUser.twig' %}
            {% include 'general/actionMessage.twig' %}
            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-5">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa fa-comment text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.notification' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/settings" class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                            <a href="{{ dashURL }}" class="btn btn-secondary btn-icon">
                                <i class="fa-solid fa-arrow-left-long-to-line"></i>
                            </a>
                        </div>
                    </div>
                    <div id="checkboxList">
                        <form method="post">
                            <input type="hidden" name="action" value="saveNotification">
                            <input type="hidden" name="csrf" value="{{ csrf }}">
                            <div class="form-check form-switch d-flex pb-md-2 mb-4">
                                <input class="form-check-input flex-shrink-0" type="checkbox" id="newsletter"
                                       name="type[]"
                                       value="newsletter"
                                       onChange="this.form.submit()" {% if "newsletter" in userData['notification'] %} checked {% endif %}>
                                <label class="form-check-label ps-3 ps-sm-4" for="newsletter">
                                    <span class="h6 d-block mb-2">{{ 'site.cp.settings.notification.type.1' | language }}</span>
                                    <span class="fs-sm text-muted">{{ 'site.cp.settings.notification.type.1.description' | language }}</span></label>
                            </div>
                            <div class="form-check form-switch d-flex pb-md-2 mb-4">
                                <input class="form-check-input flex-shrink-0" type="checkbox" id="deviceInfo" name="type[]"
                                       value="deviceInfo"
                                       onChange="this.form.submit()" {% if "deviceInfo" in userData['notification'] %} checked {% endif %}>
                                <label class="form-check-label ps-3 ps-sm-4" for="deviceInfo">
                                    <span class="h6 d-block mb-2">{{ 'site.cp.settings.notification.type.2' | language }}</span>
                                    <span class="fs-sm text-muted">{{ 'site.cp.settings.notification.type.2.description' | language }}</span></label>
                            </div>
                            <div class="form-check form-switch d-flex pb-md-2 mb-4">
                                <input class="form-check-input flex-shrink-0" type="checkbox"  name="type[]"
                                       value="ipInfo" id="ipInfo"
                                       onChange="this.form.submit()"{% if "ipInfo" in userData['notification'] %} checked {% endif %}>
                                <label class="form-check-label ps-3 ps-sm-4" for="ipInfo">
                                    <span class="h6 d-block mb-2">{{ 'site.cp.settings.notification.type.3' | language }}</span>
                                    <span class="fs-sm text-muted">{{ 'site.cp.settings.notification.type.3.description' | language }}</span></label>
                            </div>
                            <div class="form-check form-switch d-flex pb-md-2 mb-4">
                                <input class="form-check-input flex-shrink-0" type="checkbox" name="type[]"
                                       value="statusInfo" id="statusInfo"
                                       onChange="this.form.submit()" {% if "statusInfo" in userData['notification'] %} checked {% endif %}>
                                <label class="form-check-label ps-3 ps-sm-4" for="statusInfo">
                                    <span class="h6 d-block mb-2">{{ 'site.cp.settings.notification.type.4' | language }}</span>
                                    <span class="fs-sm text-muted">{{ 'site.cp.settings.notification.type.4.description' | language }}</span></label>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}