{% include '/general/header.twig' %}
{% include 'cp/nav.twig' %}
<section class="slice slice-sm bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-9 order-lg-2">
            {% if action != false %}
              {% if action['success'] == false %}
                {% set alert_color = "danger" %} {% set alert_icon = "exclamation-triangle" %}
              {% else %}
                {% set alert_color = "success" %} {% set alert_icon = "check" %}
              {% endif %}
              <div class="alert alert-group alert-{{ alert_color }} alert-icon" role="alert">
                <div class="alert-group-prepend">
                                        <span class="alert-group-icon text-">
                                            <i class="fas fa-{{ alert_icon }}"></i>
                                        </span>
                </div>
                <div class="alert-content">
                  {{ action['message'] | language }}
                </div>

              </div>
            {% endif %}

            <div class="row">
              <div class="col-lg-12">
                <div class="actions-toolbar py-2 mb-4">
                  <h5 class="mb-1">{{ 'site.cp.settings.payment.paymentMethods' | language }}</h5>
                  <p
                    class="text-sm text-muted mb-0">{{ 'site.cp.settings.payment.paymentMethods.description' | language }}</p>
                </div>


                <div class="card">
                  <div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-sm-3"><small
                              class="h6 text-sm mb-3 mb-sm-0">{{ 'site.cp.settings.payment.paymentMethods.card' | language }}</small>
                          </div>
                          <div class="col-sm-9">

                            {% if methods['creditCard']|length != 0 %}
                              {% for method in methods['creditCard'] %}
                                <div class="row mb-3">
                                  <div class="col-6">
                                    {% if method['info']['brand'] == "visa" %}
                                      <img src="/assets/img/svg/cards/visa.svg" alt="visa" class="mr-1" width="30">
                                    {% elseif method['info']['brand'] == "MasterCard" %}
                                      <img src="/assets/img/svg/cards/mastercard.svg" alt="mastercard" class="mr-1"
                                           width="30">
                                    {% endif %}
                                    {{ method['info']['card_number'] }} (Expires
                                    on {{ method['info']['expire']['month'] }}/{{ method['info']['expire']['year'] }})

                                    {% if method['state'] == "1" %}
                                      <span class="badge badge-warning">Pending</span>
                                    {% elseif method['state'] == "2" %}
                                      <span class="badge badge-success">Aktiv</span>
                                    {% elseif method['state'] == "3" %}
                                      <span class="badge badge-danger">Disabled</span>
                                    {% endif %}


                                  </div>
                                  <div class="col-4"><small
                                      class="h6 text-sm mb-3 mb-sm-0">{{ method['info']['name'] }}</small></div>
                                  <div class="col-2 actions text-right">
                                    <form method="post">
                                      <input type="hidden" name="action" value="removeMethod">
                                      <input type="hidden" name="csrf" value="{{ csrf }}">
                                      <input type="hidden" name="method_id" value="{{ method['method_id'] }}">

                                      <button type="submit" class="action-item" data-toggle="tooltip"
                                              data-original-title="Remove card">
                                        <i class="fas fa-trash-alt"></i>
                                      </button>
                                    </form>

                                  </div>
                                </div>
                              {% endfor %}
                            {% else %}
                              <div class="row mb-3">
                                <div
                                  class="col-8">{{ 'site.cp.settings.payment.paymentMethods.card.nothing' | language }}</div>
                                <div class="col-2"><small class="h6 text-sm mb-3 mb-sm-0"></small></div>
                                <div class="col-2 actions text-right"></div>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-sm-3"><small
                              class="h6 text-sm mb-3 mb-sm-0">{{ 'site.cp.settings.payment.paymentMethods.paypal' | language }}</small>
                          </div>
                          <div class="col-sm-9">

                            {% if methods['paypal']|length != 0 %}
                              {% for method in methods['paypal'] %}
                                <div class="row mb-3">
                                  <div class="col-6">
                                    <img src="/assets/img/svg/brands/paypal.svg" alt="mastercard" class="mr-1"
                                         width="30">
                                  </div>
                                  <div class="col-4"><small
                                      class="h6 text-sm mb-3 mb-sm-0">{{ method['info']['name'] }}</small></div>
                                  <div class="col-2 actions text-right">
                                    <form method="post">
                                      <input type="hidden" name="action" value="removeMethod">
                                      <input type="hidden" name="csrf" value="{{ csrf }}">
                                      <input type="hidden" name="method_id" value="{{ method['method_id'] }}">

                                      <button type="submit" class="action-item" data-toggle="tooltip"
                                              data-original-title="Remove paypal">
                                        <i class="fas fa-trash-alt"></i>
                                      </button>
                                    </form>

                                  </div>
                                </div>
                              {% endfor %}
                            {% else %}
                              <div class="row mb-3">
                                <div
                                  class="col-8">{{ 'site.cp.settings.payment.paymentMethods.card.nothing' | language }}</div>
                                <div class="col-2"><small class="h6 text-sm mb-3 mb-sm-0"></small></div>
                                <div class="col-2 actions text-right"></div>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </li>

                      {% if methods['sepa']|length != 0 %}
                        <li class="list-group-item">
                          <div class="row">
                            <div class="col-sm-3"><small
                                class="h6 text-sm mb-3 mb-sm-0">{{ 'site.cp.settings.payment.paymentMethods.sepa' | language }}</small>
                            </div>
                            <div class="col-sm-9">

                              {% for method in methods['sepa'] %}
                                <div class="row mb-3">
                                  <div class="col-6">
                                    <img src="/assets/img/svg/cards/sepa.svg" alt="sepa" class="mr-1" width="30">
                                    {{ method['info']['country'] }} {{ method['info']['iban'] }}

                                    {% if method['state'] == "1" %}
                                      <span class="badge badge-warning">Pending</span>
                                    {% elseif method['state'] == "2" %}
                                      <span class="badge badge-success">Aktiv</span>
                                    {% elseif method['state'] == "3" %}
                                      <span class="badge badge-danger">Disabled</span>
                                    {% endif %}

                                  </div>
                                  <div class="col-4"><small
                                      class="h6 text-sm mb-3 mb-sm-0">{{ method['info']['name'] }}</small></div>
                                  <div class="col-2 actions text-right">

                                    <form method="post">
                                      <input type="hidden" name="action" value="removeMethod">
                                      <input type="hidden" name="csrf" value="{{ csrf }}">
                                      <input type="hidden" name="method_id" value="{{ method['method_id'] }}">

                                      <button type="submit" class="action-item" data-toggle="tooltip"
                                              data-original-title="Remove card">
                                        <i class="fas fa-trash-alt"></i>
                                      </button>
                                    </form>
                                  </div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                        </li>

                      {% endif %}
                    </ul>
                  </div>
                </div>
                <hr/>
              </div>

              <div class="col-lg-12">

                <div class="actions-toolbar py-2 mb-4">
                  <h5 class="mb-1">{{ 'site.cp.settings.payment.addPaymentMethod' | language }}</h5>
                  <p
                    class="text-sm text-muted mb-0">{{ 'site.cp.settings.payment.addPaymentMethod.description' | language }}</p>
                </div>

                {% if userData['identityChecked'] == "true" %}
                  <div id="addMethod" class="accordion accordion-stacked">


{#                    <div class="card">#}
{#                      <div class="card-header py-4" id="addMethod-paypal-heading-1" data-toggle="collapse" role="button"#}
{#                           data-target="#addMethod-paypal-collapse-1" aria-expanded="false"#}
{#                           aria-controls="addMethod-paypal-collapse-1">#}
{#                        <h6 class="mb-0"><i class="fa-brands fa-paypal mr-3"></i>{{ 'site.cp.settings.payment.paymentMethods.paypal' | language }}#}
{#                        </h6>#}
{#                      </div>#}
{#                      <div id="addMethod-paypal-collapse-1" class="collapse" aria-labelledby="addMethod-paypal-heading-1"#}
{#                           data-parent="#addMethod">#}
{#                        <div class="card-body">#}

{#                          <form method="post">#}
{#                            <input type="hidden" name="action" value="addMethod">#}
{#                            <input type="hidden" name="method" value="paypal">#}
{#                            <input type="hidden" name="csrf" value="{{ csrf }}">#}
{#                            <div class="text-right">#}
{#                              <button type="submit"#}
{#                                      class="btn btn-sm btn-primary">{{ 'site.cp.settings.payment.addPaymentMethod.paypal.add' | language }}</button>#}
{#                            </div>#}
{#                          </form>#}

{#                        </div>#}
{#                      </div>#}
{#                    </div>#}


                    <div class="card">
                      <div class="card-header py-4" id="addMethod-card-heading-1" data-toggle="collapse" role="button"
                           data-target="#addMethod-card-collapse-1" aria-expanded="false"
                           aria-controls="addMethod-card-collapse-1">
                        <h6 class="mb-0"><i
                            class="fa fa-credit-card mr-3"></i>{{ 'site.cp.settings.payment.paymentMethods.card' | language }}
                        </h6>
                      </div>
                      <div id="addMethod-card-collapse-1" class="collapse" aria-labelledby="addMethod-card-heading-1"
                           data-parent="#addMethod">
                        <div class="card-body">

                          <form method="post">
                            <input type="hidden" name="action" value="addMethod">
                            <input type="hidden" name="method" value="creditCard">
                            <input type="hidden" name="csrf" value="{{ csrf }}">

                            <div class="row mt-3">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="addMethod-card-number"
                                         class="form-control-label">{{ 'site.cp.settings.payment.addPaymentMethod.card.number' | language }}</label>
                                  <input name="number" required id="addMethod-card-number" type="text"
                                         class="form-control" data-mask="0000 0000 0000 0000"
                                         placeholder="0000 0000 0000 0000" autocomplete="off" maxlength="19">

                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-6">
                                <div class="form-group">
                                  <label for="addMethod-card-expire"
                                         class="form-control-label">{{ 'site.cp.settings.payment.addPaymentMethod.card.expire' | language }}</label>
                                  <input name="expire" required id="addMethod-card-expire" type="text"
                                         class="form-control" data-mask="00/00" placeholder="MM/YY" autocomplete="off"
                                         maxlength="5">
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-group">
                                  <label for="addMethod-card-CVC"
                                         class="form-control-label">{{ 'site.cp.settings.payment.addPaymentMethod.card.cvc' | language }}</label>
                                  <input name="cvc" required id="addMethod-card-CVC" type="text" class="form-control"
                                         data-mask="000" placeholder="000" autocomplete="off" maxlength="3">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="addMethod-card-name"
                                         class="form-control-label">{{ 'site.cp.settings.payment.addPaymentMethod.card.name' | language }}</label>
                                  <input name="name" required id="addMethod-card-name" type="text" class="form-control"
                                         placeholder="{{ 'general.address.firstname.placeholder' | language }} {{ 'general.address.lastname.placeholder' | language }}">
                                </div>
                              </div>
                            </div>
                            <div class="text-right">
                              <button type="submit"
                                      class="btn btn-sm btn-primary">{{ 'site.cp.settings.payment.addPaymentMethod.card.add' | language }}</button>
                            </div>
                          </form>

                        </div>
                      </div>
                    </div>

                    {% if userData['sepa'] %}
                      <div class="card">
                        <div class="card-header py-4" id="addMethod-sepa-heading-1" data-toggle="collapse" role="button"
                             data-target="#addMethod-sepa-collapse-1" aria-expanded="false"
                             aria-controls="addMethod-sepa-collapse-1">
                          <h6 class="mb-0"><i
                              class="fa fa-money-check-alt mr-3"></i>{{ 'site.cp.settings.payment.paymentMethods.sepa' | language }}
                          </h6>
                        </div>
                        <div id="addMethod-sepa-collapse-1" class="collapse" aria-labelledby="addMethod-sepa-heading-1"
                             data-parent="#addMethod">
                          <div class="card-body">

                            <div class="card">
                              <div class="card-body text-center">
                                <div class="mb-3">
                                  <div class="icon icon-shape icon-md bg-danger shadow-primary text-white">
                                    <i class="fas fa-exclamation"></i>
                                  </div>
                                </div>
                                <h6
                                  class="h6 font-weight-bolder mb-1">{{ 'site.cp.settings.payment.addPaymentMethod.sepa.info' | language }}</h6>
                              </div>
                            </div>

                            <form method="post">
                              <input type="hidden" name="action" value="addMethod">
                              <input type="hidden" name="method" value="sepa">
                              <input type="hidden" name="csrf" value="{{ csrf }}">

                              <div class="row mt-3">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="addMethod-sepa-iban"
                                           class="form-control-label">{{ 'site.cp.settings.payment.addPaymentMethod.sepa.iban' | language }}</label>
                                    <input name="iban" required id="addMethod-sepa-iban"
                                           data-mask="AA00 0000 0000 0000 0000 00" type="text" class="form-control"
                                           placeholder="DE02 1203 0000 0000 2020 51" autocomplete="off" maxlength="22">

                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="addMethod-card-name"
                                           class="form-control-label">{{ 'site.cp.settings.payment.addPaymentMethod.sepa.name' | language }}</label>
                                    <input name="name" required id="addMethod-card-name" type="text"
                                           class="form-control"
                                           placeholder="{{ 'general.address.firstname.placeholder' | language }} {{ 'general.address.lastname.placeholder' | language }}">
                                  </div>
                                </div>
                              </div>

                              <div class="text-right">
                                <button type="submit"
                                        class="btn btn-sm btn-primary">{{ 'site.cp.settings.payment.addPaymentMethod.sepa.add' | language }}</button>
                              </div>
                            </form>

                          </div>
                        </div>
                      </div>
                    {% endif %}

                  </div>

                {% else %}
                  <div class="alert alert-group alert-warning alert-icon" role="alert">
                    <div class="alert-group-prepend"><span class="alert-group-icon text-"><i
                          class="fas fa-info"></i></span>
                    </div>
                    <div class="alert-content">
                      {{ 'site.cp.settings.payment.addPaymentMethod.identityCheck.false' | language }}
                    </div>
                  </div>
                {% endif %}
                <hr/>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="actions-toolbar py-2 mb-4">
                  <h5 class="mb-1">{{ 'site.cp.settings.paymentHistory' | language }}</h5>
                  <p class="text-sm text-muted mb-0">{{ 'site.cp.settings.paymentHistory.description' | language }}</p>
                </div>

                {% if payments|length == 0 %}
                  {{ 'site.cp.settings.paymentHistory.table.empty' | language }}
                {% else %}
                  <div class="table-responsive">
                    <table class="table table-cards align-items-center">
                      <thead>
                      <tr>
                        <th scope="col"></th>
                        <th>{{ 'site.cp.settings.paymentHistory.table.method' | language }}</th>
                        <th>{{ 'site.cp.settings.paymentHistory.table.amount' | language }}</th>
                        <th>{{ 'site.cp.settings.paymentHistory.table.state' | language }}</th>
                        <th>{{ 'site.cp.settings.paymentHistory.table.created_at' | language }}</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for payment in payments %}
                        <tr>
                          <th scope="row">
                            {% if payment['method'] == "paypal" %}
                              <i style="color:#00b0e8" class="fab fa-paypal mr-2 fa-2x "></i>
                            {% elseif payment['method'] == "creditCard" or payment['method'] == "stripe" %}
                              <i style="color:#00b0e8" class="fas fa-credit-card mr-2 fa-2x "></i>
                            {% elseif payment['method'] == "giropay" %}
                              <i style="color:#00b0e8" class="fas fa-comments-dollar mr-2 fa-2x "></i>
                            {% elseif payment['method'] == "sofort" %}
                              <i style="color:#00b0e8" class="fas fa-university mr-2 fa-2x "></i>
                            {% elseif payment['method'] == "paysafecard" %}
                              <i style="color:#00b0e8" class="fas fa-money-check mr-2 fa-2x "></i>
                            {% elseif payment['method'] == "bankTransfer" %}
                              <i style="color:#00b0e8" class="fas fa-money-check-alt mr-2 fa-2x "></i>
                            {% elseif payment['method'] == "sepa" %}
                              <i style="color:#00b0e8" class="fas fa-money-check-alt mr-2 fa-2x "></i>
                            {% else %}
                              <i style="color:#00b0e8" class="fas fa-circle-dollar mr-2 fa-2x "></i>
                            {% endif %}
                          </th>

                          <td>
                            {% if payment['method'] == "bankTransfer" %}
                              {{ 'site.cp.settings.paymentHistory.table.method.bankTransfer' | language }}
                            {% elseif payment['method'] == "sepa" %}
                              {{ 'site.cp.settings.paymentHistory.table.method.sepa' | language }}
                            {% else %}
                              {{ payment['message'] | language }}
                            {% endif %}
                          </td>
                          <td>
                            {{ payment['amount']|creditsToEuro }} {{ "symbol"|currency }}
                          </td>
                          <td>
                            {% if payment['state'] == "1" %}
                              <span
                                style="color:#c0c0c0">{{ 'site.cp.settings.paymentHistory.table.state.created' | language }}</span>
                            {% elseif payment['state'] == "2" %}
                              <span
                                style="color:#FFBF00">{{ 'site.cp.settings.paymentHistory.table.state.pending' | language }}</span>
                            {% elseif payment['state'] == "3" %}
                              <span
                                style="color:#00FF40">{{ 'site.cp.settings.paymentHistory.table.state.payed' | language }}</span>
                            {% elseif payment['state'] == "4" %}
                              <span
                                style="color:#FFBF00">{{ 'site.cp.settings.paymentHistory.table.state.pending' | language }}</span>
                            {% elseif payment['state'] == "5" %}
                              <span
                                style="color:#ff0000">{{ 'site.cp.settings.paymentHistory.table.state.canceled' | language }}</span>
                            {% elseif payment['state'] == "6" %}
                              <span
                                style="color:#ff0000">{{ 'site.cp.settings.paymentHistory.table.state.failed' | language }}</span>
                            {% elseif payment['state'] == "7" %}
                              <span
                                style="color:#FFBF00">{{ 'site.cp.settings.paymentHistory.table.state.pending' | language }}</span>
                            {% elseif payment['state'] == "8" %}
                              <span
                                style="color:#ff0000">{{ 'site.cp.settings.paymentHistory.table.state.refund' | language }}</span>
                            {% else %}
                              <span
                                style="color:#c0c0c0">{{ 'site.cp.settings.paymentHistory.table.state.created' | language }}</span>
                            {% endif %}
                          </td>
                          <td>{{ payment['created_at'] | date("d.m.Y H:i") }}</td>
                        </tr>
                        <tr class="table-divider"></tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% include 'cp/settings/nav.twig' %}
        </div>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}