{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <div class="col py-3">
            <div class="row justify-content-center">
                <div class="col-lg-8">

                    {% include '/general/actionMessage.twig' %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="actions-toolbar py-2 mb-4">
                                <h5 class="mb-1">{{ 'site.cp.settings.mails' | language }}</h5>
                                <p class="text-sm text-muted mb-0">{{ 'site.cp.settings.mails.description' | language }}</p>
                            </div>
                            {% if mails|length == 0 %}
                                {{ 'site.cp.settings.mails.table.empty' | language }}
                            {% else %}
                                <div class="table-responsive">
                                    <table class="table table-cards align-items-center">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{ 'site.cp.settings.mails.table.title' | language }}</th>
                                            <th>{{ 'site.cp.settings.mails.table.created_at' | language }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for mail in mails %}
                                            <tr>
                                                <th scope="row">{{ mail['title'] }}</th>
                                                <td>{{ mail['created_at']|date("d.m.Y H:i") }}</td>
                                                <td class="text-right">
                                                    <div class="actions ml-3">
                                                        <a href="{{ url }}/cp/settings/mails/{{ mail['businessId'] }}"
                                                           class="btn btn-primary" data-bs-toggle="tooltip" title=""
                                                           data-original-title="{{ 'site.cp.settings.mails.table.show' | language }}">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="table-divider"></tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '/general/footer.twig' %}