{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <!-- Page content-->
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa-duotone fa-bell text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.settings.tab.maillog' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/settings" class="btn btn-dark btn-icon">
                                <i class="fa-duotone fa-arrow-left"></i>
                            </a>
                            <a href="{{ dashURL }}" class="btn btn-secondary btn-icon">
                                <i class="fa-duotone fa-arrow-left-long-to-line"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-12">
                            {% include '/general/pagination.twig' %}
                            <div class="table-responsive">
                                <table class="table table-cards align-items-center align-middle">
                                    <thead>
                                    <tr>
                                        <th scope="col">{{ 'site.cp.settings.mails.table.title' | language }}</th>
                                        <th>{{ 'site.cp.settings.mails.table.created_at' | language }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if pagination['items']|length == 0 %}
                                        <tr>
                                            <td colspan="4">{{ 'site.cp.settings.mails.table.empty' | language }}</td>
                                        </tr>
                                    {% endif %}
                                    {% for mail in pagination['items'] %}
                                        <tr>
                                            <th scope="row">{{ mail['title'] }}</th>
                                            <td>{{ mail['created_at']|date }}</td>
                                            <td class="text-right">
                                                <div class="actions ml-3">
                                                    <a href="{{ dashURL }}/settings/mails/{{ mail['businessId'] }}"
                                                       class="btn btn-secondary btn-sm btn-icon">
                                                        <i class="fa-duotone fa-eye"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="table-divider"></tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

