{% include '/general/header.twig' %}
<div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
    <div class="row pt-sm-2 pt-lg-0">
        {% include '/cp/teams/nav.twig' %}
        <!-- Page content-->
        <div class="col-lg-9">
            <div class="row">
                {% include 'cp/teams/services/include/info_nav.twig' %}
                <div class="col-lg-12 pb-2 pb-sm-4">
                    <section class="card p-md-2 p-xl-3 p-xxl-4 h-100">

                        <div class="card-body m-0 p-3">
                            <div class="row">
                                <div class="col-4">
                                    {% include 'cp/teams/services/include/lock.twig' %}
                                </div>
                                <div class="col-4">
                                    <h6 class="text-center">
                                        {{ service['service_id'] }}
                                    </h6>
                                </div>
                                <div class="col-4">
                                    <div class="text-end">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body m-0 p-3">
                            <h4 class="text-center"><i class="fa-duotone fa-2x fa-globe-europe"></i></h4>
                            <h6 class="text-center">{{ service['name'] }}</h6>
                            <h6 class="text-center">{{ service['service_name'] }}</h6>

                            <h5 class="text-center">{{ service['external']['name'] }}</h5>
                        </div>
                    </section>
                </div>

                <div class="col-lg-12 pb-2 pb-sm-4">
                    <section class="card">
                        <div class="card-body">

                            <ul class="nav nav-tabs  justify-content-center" id="myTab" role="tablist">

                                {% include 'cp/teams/services/include/tabs_nav.twig' %}


                                {% if "team.service.domain.dns"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                    <li class="nav-item">
                                        <a href="#dns" class="nav-link" data-bs-toggle="tab" role="tab">
                                            {{ 'site.cp.service.tab.domain.dns' | language }}
                                        </a>
                                    </li>
                                {% endif %}

                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                       role="button">{{ 'site.cp.service.tab.more' | language }}</a>
                                    <div class="dropdown-menu">
                                        {% if "team.service.domain.dnsHelper"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) and anotherServices|length != 0 %}
                                            <a href="#dnsHelper" class="dropdown-item" data-bs-toggle="tab"
                                               role="tab">{{ 'site.cp.service.tab.domain.dnsHelper' | language }}</a>
                                        {% endif %}
                                        {% if "team.service.domain.dynDNS"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                            <a href="#dynDNS" class="dropdown-item" data-bs-toggle="tab"
                                               role="tab">{{ 'site.cp.service.tab.domain.dynDNS' | language }}</a>
                                        {% endif %}
                                        {% if "team.service.domain.nameserver"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                            <a href="#nameserver" class="dropdown-item" data-bs-toggle="tab"
                                               role="tab">{{ 'site.cp.service.tab.domain.nameserver' | language }}</a>
                                        {% endif %}
                                        {% if "owner"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                            <a href="#authCode" class="dropdown-item" data-bs-toggle="tab"
                                               role="tab">{{ 'site.cp.service.tab.domain.authCode' | language }}</a>
                                        {% endif %}
                                        {% if "team.service.domain.dnssec"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                            <a href="#dnssec" class="dropdown-item" data-bs-toggle="tab"
                                               role="tab">{{ 'site.cp.service.tab.domain.dnssec' | language }}</a>
                                        {% endif %}

                                    </div>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">

                                {% include 'cp/teams/services/include/tabs.twig' %}

                                {% if "team.service.domain.dnssec"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                    <div class="tab-pane fade" id="dnssec" role="tabpanel" aria-labelledby="dnssec-tab">
                                        <div class="row">
                                            <div class="d-flex align-items-center mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                                                <i
                                                        class="fa-duotone fa-shield-keyhole text-primary lead pe-1 me-2"></i>
                                                <h2 class="h4 mb-0">{{ 'site.cp.service.tab.domain.dnssec' | language }}</h2>
                                                <span class="badge bg-success ms-2 text-end d-none dnssec_active">{{ 'site.cp.service.tab.domain.dnssec.active' | language }}</span>
                                                <span class="badge bg-danger ms-2 text-end d-none dnssec_notActive">{{ 'site.cp.service.tab.domain.dnssec.notActive' | language }}</span>
                                                <div class="btn-group me-2 mb-2 ms-auto" role="group"
                                                     aria-label="Settings group">
                                                    <button type="button"
                                                            class="btn btn-dark btn-icon dnssec_edit_btn">
                                                        <i class="fa-duotone fa-pen"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        {% if domain['internal']['supportedDNSSEC'] is not same as(true) %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ 'site.cp.service.tab.domain.dnssec.notSupported' | language }}
                                            </div>
                                        {% else %}
                                            <div class="dnssec_menu">

                                            </div>


                                            <div class="modal fade" id="dnssec_edit_modal" tabindex="-1" role="dialog"
                                                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title h6">{{ 'site.cp.service.tab.domain.dnssec.edit' | language }}</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row g-3">
                                                                <div class="form-group">
                                                                    <label for="algorithm"
                                                                           class="form-label">{{ 'site.cp.service.tab.domain.dnssec.algorithm' | language }}</label>
                                                                    <input type="text" id="algorithm"
                                                                           class="form-control algorithm"
                                                                           placeholder="{{ 'site.cp.service.tab.domain.dnssec.algorithm' | language }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="flags"
                                                                           class="form-label">{{ 'site.cp.service.tab.domain.dnssec.flags' | language }}</label>
                                                                    <input type="text" id="flags"
                                                                           class="form-control flags"
                                                                           placeholder="{{ 'site.cp.service.tab.domain.dnssec.flags' | language }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="protocol"
                                                                           class="form-label">{{ 'site.cp.service.tab.domain.dnssec.protocol' | language }}</label>
                                                                    <input type="text" id="protocol"
                                                                           class="form-control protocol"
                                                                           placeholder="{{ 'site.cp.service.tab.domain.dnssec.protocol' | language }}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="publicKey"
                                                                           class="form-label">{{ 'site.cp.service.tab.domain.dnssec.publicKey' | language }}</label>
                                                                    <input type="text" id="publicKey"
                                                                           class="form-control publicKey"
                                                                           placeholder="{{ 'site.cp.service.tab.domain.dnssec.publicKey' | language }}">
                                                                </div>


                                                            </div>
                                                        </div>

                                                        <div class="modal-footer flex-column flex-sm-row">
                                                            <button type="button"
                                                                    class="btn btn-primary w-100 w-sm-auto mb-3 mb-sm-0 dnssec_edit_modal_btn">{{ 'general.modal.saveBtn' | language }}</button>
                                                            <button type="button"
                                                                    class="btn btn-danger w-100 w-sm-auto ms-sm-3 dnssec_edit_modal_delete_btn">{{ 'general.modal.deleteBtn' | language }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}
                                    </div>
                                {% endif %}

                                {% if "team.service.domain.dns"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                    <div class="tab-pane fade" id="dns" role="tabpanel" aria-labelledby="dns-tab">
                                        <div class="row">
                                            <div class="d-flex align-items-center mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                                                <i
                                                        class="fa-duotone fa-globe text-primary lead pe-1 me-2"></i>
                                                <h2 class="h4 mb-0">{{ 'site.cp.service.tab.domain.dns' | language }}</h2>
                                                <div class="btn-group me-2 mb-2 ms-auto" role="group"
                                                     aria-label="Settings group">
                                                    <button type="button" class="btn btn-dark btn-icon addDNS_btn">
                                                        <i class="fa-duotone fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>


                                        <div class="modal fade" id="updateDNSModal" tabindex="-1" role="dialog"
                                             aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h5 class="modal-title h6">{{ 'site.cp.service.tab.domain.dns' | language }}</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row g-3">
                                                            <input type="hidden" class="id"
                                                                   value="0">
                                                            <div class="form-group">
                                                                <label for="updateDNS_type"
                                                                       class="form-label">{{ 'site.cp.service.tab.domain.dns.table.type' | language }}</label>
                                                                <select class="form-select type" id="updateDNS_type"
                                                                        name="type" disabled>
                                                                    <option value="A">A</option>
                                                                    <option value="AAAA">AAAA</option>
                                                                    <option value="MX">MX</option>
                                                                    <option value="CNAME">CNAME</option>
                                                                    <option value="TXT">TXT</option>
                                                                    <option value="SRV">SRV</option>
                                                                    <option value="HTTP_REDIRECT">Redirect (Header)
                                                                    </option>
                                                                    <option value="HTTP_FRAME">Redirect (FRAME)</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="updateDNS_name"
                                                                       class="form-label">{{ 'site.cp.service.tab.domain.dns.table.name' | language }}</label>
                                                                <input name="name" type="text" id="updateDNS_name"
                                                                       class="form-control name"
                                                                       placeholder="{{ 'site.cp.service.tab.domain.dns.form.name' | language }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="updateDNS_value"
                                                                       class="form-label">{{ 'site.cp.service.tab.domain.dns.table.data' | language }}</label>
                                                                <input name="data" type="text" id="updateDNS_value"
                                                                       class="form-control data"
                                                                       placeholder="{{ 'site.cp.service.tab.domain.dns.form.data' | language }}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="updateDNS_ttl"
                                                                       class="form-label">{{ 'site.cp.service.tab.domain.dns.table.ttl' | language }}</label>
                                                                <select class="form-select ttl" id="updateDNS_ttl"
                                                                        name="ttl">
                                                                    <option value="300">300</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="modal-footer flex-column flex-sm-row">
                                                        <button type="button"
                                                                class="btn btn-primary w-100 w-sm-auto mb-3 mb-sm-0 updateDNS_update_btn">{{ 'general.modal.saveBtn' | language }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <table class="table align-middle" id="dnsRecords">
                                                <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">{{ 'site.cp.service.tab.domain.dns.table.name' | language }}</th>
                                                    <th scope="col">{{ 'site.cp.service.tab.domain.dns.table.data' | language }}</th>
                                                    <th scope="col">{{ 'site.cp.service.tab.domain.dns.table.ttl' | language }}</th>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody id="dnsRecords_body">

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                {% endif %}
                                {% if "team.service.domain.dnsHelper"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) and anotherServices|length != 0 %}
                                    <div class="tab-pane fade" id="dnsHelper" role="tabpanel"
                                         aria-labelledby="dnsHelper-tab">
                                        <div class="row">
                                            <div class="d-flex align-items-center mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                                                <i
                                                        class="fa-duotone fa-router text-primary lead pe-1 me-2"></i>
                                                <h2 class="h4 mb-0">{{ 'site.cp.service.tab.domain.dnsHelper' | language }}</h2>
                                            </div>
                                        </div>
                                        <h6 class="text-left">{{ 'site.cp.service.tab.domain.dnsHelper.description' | language }}</h6>
                                        <br>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="dnsHelper_name"
                                                           class="form-label">{{ 'site.cp.service.tab.domain.dnsHelper.form.name' | language }}</label>
                                                    <input required id="dnsHelper_name"
                                                           class="form-control dnsHelper_name"
                                                           placeholder="{{ service['external']['name'] }}" value="@">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="dnsHelper_service_id"
                                                           class="form-label">{{ 'site.cp.service.tab.domain.dnsHelper.form.service' | language }}</label>
                                                    <select required
                                                            id="dnsHelper_service_id"
                                                            class="form-select dnsHelper_service_id"
                                                            required>
                                                        {% for another_service in anotherServices %}
                                                            <option value="{{ another_service['id'] }}">
                                                                {{ "("~another_service['id']~") " ~ another_service['name'] }} {% if another_service['service_name'] != "" %} | {{ another_service['service_name'] }} {% endif %}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-end pt-3">
                                                <button class="btn btn-primary dnsHelper_btn"
                                                        type="button">{{ 'site.cp.service.tab.domain.dnsHelper.form.btn' | language }}</button>
                                            </div>
                                        </div>

                                    </div>
                                {% endif %}
                                {% if "team.service.domain.dynDNS"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                    <div class="tab-pane fade" id="dynDNS" role="tabpanel" aria-labelledby="dynDNS-tab">
                                        <div class="row">
                                            <div class="d-flex align-items-center mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                                                <i class="fa-duotone fa-router text-primary lead pe-1 me-2"></i>
                                                <h2 class="h4 mb-0">{{ 'site.cp.service.tab.domain.dynDNS' | language }}</h2>
                                            </div>
                                        </div>
                                        <h6 class="text-left">{{ 'site.cp.service.tab.domain.dynDNS.description' | language }}</h6>
                                        <br>
                                        <div class="col-lg-12">
                                            <div class="row g-3">
                                                <div class="form-group col-md-6">
                                                    <label for="dynDNS_url"
                                                           class="form-label">{{ 'site.cp.service.tab.domain.dynDNS.url' | language }}</label>
                                                    <input type="text" class="form-control" id="dynDNS_url" disabled
                                                           value="{{ apiUrl }}/v1/user/teams/{{ team['businessId'] }}/services/{{ service['businessId'] }}/dynDNS?ipv4=<ipaddr>&ipv6=<ip6addr>&domain=<domain>">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="dynDNS_domain"
                                                           class="form-label">{{ 'site.cp.service.tab.domain.dynDNS.domain' | language }}</label>
                                                    <input type="text" class="form-control" id="dynDNS_domain" disabled
                                                           value="sub.{{ service['external']['name'] }}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="dynDNS_user"
                                                           class="form-label">{{ 'site.cp.service.tab.domain.dynDNS.user' | language }}</label>
                                                    <input type="text" class="form-control" id="dynDNS_user" disabled
                                                           value="{{ userData['user_id'] }}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="dynDNS_password"
                                                           class="form-label">{{ 'site.cp.service.tab.domain.dynDNS.password' | language }}</label>
                                                    <input type="text" class="form-control" id="dynDNS_password"
                                                           disabled
                                                           value="APIKey">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endif %}
                                {% if "team.service.domain.nameserver"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                    <div class="tab-pane fade" id="nameserver" role="tabpanel"
                                         aria-labelledby="nameserver-tab">
                                        <div class="row">
                                            <div class="d-flex align-items-center mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                                                <i
                                                        class="fa-duotone fa-server text-primary lead pe-1 me-2"></i>
                                                <h2 class="h4 mb-0">{{ 'site.cp.service.tab.domain.nameserver' | language }}</h2>
                                                <div class="btn-group me-2 mb-2 ms-auto" role="group"
                                                     aria-label="Settings group">
                                                    <button type="button"
                                                            class="btn btn-dark btn-icon" onclick="setNameserver();">
                                                        <i class="fa-duotone fa-floppy-disks"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                        <div id="nameserver-loaderOn" style="display:none">
                                            <div class="spinner-grow text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </div>

                                        <div id="nameserver-loaderOff">
                                            <div class="row g-3">
                                                <div class="form-group col-md-6">
                                                    <label for="ns1" class="form-label">NS1</label>
                                                    <input required value="{{ domain['external']['ns1'] }}" name="ns1"
                                                           id="ns1" type="text"
                                                           class="form-control"
                                                           placeholder="{{ domain['internal']['defaultNS'][0] }}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="ns2" class="form-label">NS2</label>
                                                    <input required value="{{ domain['external']['ns2'] }}" name="ns2"
                                                           id="ns2" type="text"
                                                           class="form-control"
                                                           placeholder="{{ domain['internal']['defaultNS'][1] }}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="ns3" class="form-label">NS3</label>
                                                    <input value="{{ domain['external']['ns3'] }}" name="ns3" id="ns3"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="{{ domain['internal']['defaultNS'][2] }}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="ns4" class="form-label">NS4</label>
                                                    <input value="{{ domain['external']['ns4'] }}" name="ns4" id="ns4"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="{{ domain['internal']['defaultNS'][3] }}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="ns5" class="form-label">NS5</label>
                                                    <input value="{{ domain['external']['ns5'] }}" name="ns5" id="ns5"
                                                           type="text"
                                                           class="form-control"
                                                           placeholder="{{ domain['internal']['defaultNS'][4] }}">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                {% endif %}
                                {% if "owner"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                    <div class="tab-pane fade" id="authCode" role="tabpanel"
                                         aria-labelledby="authCode-tab">
                                        <div class="row">
                                            <div class="d-flex align-items-center mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
                                                <i class="fa-duotone fa-turn-down-right text-primary lead pe-1 me-2"></i>
                                                <h2 class="h4 mb-0">{{ 'site.cp.service.tab.domain.authCode' | language }}</h2>
                                            </div>
                                            <h6 class="text-left">{{ 'site.cp.service.tab.domain.authCode.description' | language }}</h6>
                                            <div class="col-6">
                                                <h5 class="text-right" id="authCode-loaderOff" style="display:block">
                                                    <button type="button" class="btn btn-primary btn-icon-only"
                                                            onclick="getAuthCode();"><span class="btn-inner--icon"><i
                                                                    class="fa-duotone fa-eye"></i></span></button>
                                                </h5>
                                                <h5 class="text-right" id="authCode-loaderOn" style="display:none">
                                                    <button type="button" class="btn btn-primary btn-icon-only">
                                                        <span class="spinner-grow spinner-grow-sm" role="status"
                                                              aria-hidden="true"></span>
                                                        <span class="sr-only">Loading...</span>
                                                    </button>
                                                </h5>

                                            </div>

                                        </div>
                                        <br>

                                        <div class="modal fade" id="authCode_modal" tabindex="-1" role="dialog"
                                             aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <h5 class="modal-title h6">{{ 'site.cp.service.tab.domain.authCode' | language }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5>{{ 'site.cp.service.tab.domain.authCode.info' | language }}</h5>
                                                        <h6 id="authCode_code"></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'general/footer.twig' %}