{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        {% include '/general/actionMessage.twig' %}
                        <div class="row">

                            {% include 'cp/teams/services/include/info_nav.twig' %}

                            <div class="col-sm-12 col-md-12">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <br>
                                        {% include 'cp/teams/services/include/lock.twig' %}
                                        <br>
                                        <h5 class="text-center">{{ service['service_id'] }}</h5>
                                        <h6 class="text-center">{{ service['name'] }}</h6>
                                        <h6 class="text-center">{{ service['service_name'] }}</h6>
                                        <br>
                                        {% include 'cp/teams/services/include/serviceIcons.twig' %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 ">
                                <div class="card">
                                    <div class="card-body">

                                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">

                                            {% include 'cp/teams/services/include/tabs_nav.twig' %}

                                            {% if (service['state'] == 1 or service['state'] == 6) and "team.service.pleskLicense.binding"|checkTeamPermission %}
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" id="token-tab" data-bs-toggle="tab"
                                                       href="#token" role="tab"
                                                       aria-controls="token"
                                                       aria-selected="true">{{ 'site.cp.service.tab.plesk_license.binding' | language }}</a>
                                                </li>
                                            {% endif %}
                                        </ul>


                                        <div class="tab-content" id="myTabContent">

                                            {% include 'cp/teams/services/include/tabs.twig' %}

                                            {% if (service['state'] == 1 or service['state'] == 6) and "team.service.pleskLicense.binding"|checkTeamPermission %}
                                                <div class="tab-pane fade" id="token" role="tabpanel"
                                                     aria-labelledby="binding-tab">
                                                    <br>
                                                    <h5 class="text-left">{{ 'site.cp.service.tab.plesk_license.binding' | language }}</h5>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-6">
                                                            <form method="post">
                                                                <input type="hidden" name="action" value="setBinding">
                                                                <input type="hidden" name="csrf" value="{{ csrf }}">

                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="binding-address"
                                                                               class="form-control-label">{{ 'site.cp.service.tab.plesk_license.binding.ip_address' | language }}</label>
                                                                        <input class="form-control" type="text"
                                                                               id="binding-address" name="ip_address"
                                                                               placeholder="127.0.0.1"
                                                                               value="{{ license['external']['binding']['ipAddressBinding'] }}"
                                                                               required>
                                                                    </div>
                                                                </div>
                                                                <button type="submit"
                                                                        class="btn-primary btn">{{ 'site.cp.service.tab.plesk_license.binding.update' | language }}</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}