{% include '/general/header.twig' %}
{% include 'cp/teams/nav.twig' %}
<section class="slice slice-sm bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">

        <!-- ACTION MESSAGE -->
        {% if action != false %}
          {% if action['success'] == false %}
            {% set alert_color = "danger" %} {% set alert_icon = "exclamation-triangle" %}
          {% else %}
            {% set alert_color = "success" %} {% set alert_icon = "check" %}
          {% endif %}
          <div class="alert alert-group alert-{{ alert_color }} alert-icon" role="alert">
            <div class="alert-group-prepend"><span class="alert-group-icon text-"><i
                  class="fas fa-{{ alert_icon }}"></i></span></div>
            <div class="alert-content">
              {{ action['message'] | language }}
            </div>
          </div>
        {% endif %}

        <div class="row">

          <!-- nav with 4 cards -->

          {% include 'cp/teams/services/include/info_nav.twig' %}

          <div class="col-sm-12 col-md-6">
            <div class="card card-fluid">
              <div class="card-body text-center">
                <br>
                {% include 'cp/teams/services/include/lock.twig' %}

                <h5 class="text-center">{{ service['service_id'] }}</h5>
                <h6 class="text-center">{{ service['name'] }}</h6>
                <h6 class="text-center">{{ service['service_name'] }}</h6>
                <br>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="card card-fluid">
              <div class="card-body text-center">

                {% if service['state'] == 1 or service['state'] == 6 %}
                  {% if proxmox['response']['external']['vm']['locked'] or service['reinstalling'] %}
                    <h5><span style="color:#ffab00">{{ 'site.cp.service.proxmox.state.taskRunning' | language }}</span>
                    </h5>
                  {% elseif proxmox['response']['external']['vm']['status'] == "stopped" %}
                    <h5><span style="color:#ff0000">{{ 'site.cp.service.proxmox.state.stopped' | language }}</span>
                    </h5>

                    <div id="statusDiv">
                      {% if "team.service.proxmox.start"|checkServicePermission %}
                        <form method="POST" id="startForm">
                          <input type="hidden" name="csrf" value="{{ csrf }}">
                          <input type="hidden" name="action" value="start">
                          <button type="submit" id="btn_submit"
                                  class="btn btn-sm btn-success">{{ 'site.cp.service.proxmox.start' | language }}</button>
                        </form>
                      {% endif %}
                    </div>
                  {% elseif proxmox['response']['external']['vm']['status'] == "running" %}
                    <h5><span style="color:#40FF00">{{ 'site.cp.service.proxmox.state.running' | language }}</span>
                    </h5>
                    <div id="statusDiv">
                      {% if "team.service.proxmox.stop"|checkServicePermission %}
                        <form method="POST" id="stopForm">
                          <input type="hidden" name="csrf" value="{{ csrf }}">
                          <input type="hidden" name="action" value="stop">
                          <h5 class="text-center">
                            <button type="submit" id="btn_submit"
                                    class="btn btn-sm btn-primary">{{ 'site.cp.service.proxmox.stop' | language }}</button>
                          </h5>
                        </form>
                      {% endif %}
                      {% if "team.service.proxmox.kill"|checkServicePermission %}
                        <form method="POST" id="killForm">
                          <input type="hidden" name="csrf" value="{{ csrf }}">
                          <input type="hidden" name="action" value="kill">
                          <h5 class="text-center">
                            <button type="submit" id="btn_submit"
                                    class="btn btn-sm btn-danger">{{ 'site.cp.service.proxmox.kill' | language }}</button>
                          </h5>
                        </form>
                      {% endif %}
                      {% if "team.service.proxmox.restart"|checkServicePermission %}
                        <form method="POST" id="rebootForm">
                          <input type="hidden" name="csrf" value="{{ csrf }}">
                          <input type="hidden" name="action" value="reboot">
                          <h5 class="text-center">
                            <button type="submit" id="btn_submit"
                                    class="btn btn-sm btn-warning">{{ 'site.cp.service.proxmox.reboot' | language }}</button>

                          </h5>
                        </form>
                      {% endif %}

                    </div>
                  {% endif %}
                  <div id="statusLoading" style="display: none;" class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <br>

                  {% if proxmox['response']['external']['vm']['status'] == "running" %}
                    {% if "team.service.loginInService"|checkServicePermission %}
                      <hr/>

                      <h5 class="text-center">
                        <button type="button"
                                onclick="popupCenter('{{ url }}/cp/teams/{{ team['team_id'] }}/service/{{ service['service_id'] }}?vnc', '{{ config['name'] }}', '1000','600');"
                                class="btn btn-sm btn-primary">{{ 'site.cp.service.proxmox.VNC' | language }}</button>
                      </h5>
                    {% endif %}

                  {% endif %}
                {% else %}

                  <h5><span style="color:#ff0000">{{ 'site.cp.service.proxmox.state.stopped' | language }}</span>
                  </h5>
                {% endif %}
                <br>

              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-12 ">
            <div class="card">
              <div class="card-body">


                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">

                  {% include 'cp/teams/services/include/tabs_nav.twig' %}

                  {% if "team.service.proxmox.stats"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab"
                         aria-controls="stats"
                         aria-selected="true">{{ 'site.cp.service.tab.proxmox.stats' | language }}</a>
                    </li>
                  {% endif %}

                  {% if "team.service.proxmox.rdns"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="rDNS-tab" data-toggle="tab" href="#rDNS" role="tab" aria-controls="rDNS"
                         aria-selected="true">{{ 'site.cp.service.tab.proxmox.rDNS' | language }}</a>
                    </li>
                  {% endif %}

                  {% if "team.service.proxmox.settings"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                         aria-controls="settings"
                         aria-selected="true">{{ 'site.cp.service.tab.proxmox.settings' | language }}</a>
                    </li>
                  {% endif %}

                  {% if "team.service.reinstall"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="reinstall-tab" data-toggle="tab" href="#reinstall" role="tab"
                         aria-controls="reinstall"
                         aria-selected="true">{{ 'site.cp.service.tab.proxmox.reinstall' | language }}</a>
                    </li>
                  {% endif %}

                  {% if "team.service.proxmox.backup"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="backup-tab" data-toggle="tab" href="#backup" role="tab"
                         aria-controls="backup"
                         aria-selected="true">{{ 'site.cp.service.tab.proxmox.backup' | language }}</a>
                    </li>
                  {% endif %}
                </ul>
                <div class="tab-content" id="myTabContent">

                  {% include 'cp/teams/services/include/tabs.twig' %}

                  {% if "team.service.proxmox.backup"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <div class="tab-pane fade" id="backup" role="tabpanel" aria-labelledby="backup-tab">
                      <br>
                      <h5 class="text-left">{{ 'site.cp.service.tab.proxmox.backup' | language }}</h5>
                      <br>

                      <div class="row">
                        <div class="col-sm-12">
                          {% if proxmox['response']['external']['vm']['locked'] or service['reinstalling'] %}
                            <div class="row">
                              <div class="col-sm-12 col-md-12">
                                <div class="alert alert-group alert-warning alert-icon" role="alert">
                                  <div class="alert-group-prepend"><span class="alert-group-icon text-"><i
                                        class="fas fa-exclamation"></i></span>
                                  </div>
                                  <div
                                    class="alert-content">{{ 'site.cp.service.proxmox.taskRunning' | language }}</div>
                                </div>
                              </div>
                            </div>
                          {% else %}

                            {% if proxmox['response']['external']['backups']|length != 0 %}
                              <div class="col-sm-12 col-md-6">
                                {% for backup in proxmox['response']['external']['backups'] %}
                                  <div class="col-md-12">
                                    <div class="card">
                                      <div class="card-body">
                                        <div class="row align-items-center">
                                          <div class="col-6 h6">
                                            {{ backup['ctime']|date("d.m.Y H:i") }}<br>
                                            ({{ backup['size']|formatSizeUnits }}GB)
                                          </div>
                                          <div class="col-6 h6">
                                            <div class="actions text-right">
                                              <div class="dropdown">
                                                <a class="btn" role="button" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false"><i
                                                    class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     x-placement="bottom-end">
                                                  {% if "team.service.proxmox.backup.delete"|checkServicePermission %}
                                                    <form method="POST">
                                                      <input type="hidden" name="action" value="deleteBackup">
                                                      <input type="hidden" name="csrf" value="{{ csrf }}">
                                                      <input type="hidden" name="backupName"
                                                             value="{{ backup['volid'] }}">
                                                      <button type="submit" class="dropdown-item" href="#"><i
                                                          class="fas fa-trash-alt"></i>{{ 'site.cp.service.tab.proxmox.backup.delete' | language }}
                                                      </button>
                                                    </form>
                                                  {% endif %}
                                                  {% if "team.service.proxmox.backup.restore"|checkServicePermission %}
                                                    <form method="POST">
                                                      <input type="hidden" name="action" value="restoreBackup">
                                                      <input type="hidden" name="csrf" value="{{ csrf }}">
                                                      <input type="hidden" name="backupName"
                                                             value="{{ backup['volid'] }}">
                                                      <button type="submit" class="dropdown-item" href="#"><i
                                                          class="fas fa-trash-restore"></i>{{ 'site.cp.service.tab.proxmox.backup.restore' | language }}
                                                      </button>
                                                    </form>
                                                  {% endif %}
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                            {% endif %}

                            {% if proxmox['response']['external']['backups'] | length >= service['package']['specs']['backups'] %}
                              <div class="row">
                                <div class="col-sm-12 col-md-12">
                                  <div class="alert alert-group alert-warning alert-icon" role="alert">
                                    <div class="alert-group-prepend"><span class="alert-group-icon text-"><i
                                          class="fas fa-exclamation"></i></span>
                                    </div>
                                    <div
                                      class="alert-content">{{ 'site.cp.service.tab.proxmox.tooManyBackups' | language }}</div>
                                  </div>
                                </div>
                              </div>
                            {% else %}
                              {% if "team.service.proxmox.backup.create"|checkServicePermission %}
                                <h6 class="text-center">
                                  <button type="button" class="btn btn-lg btn-primary" data-toggle="modal"
                                          data-target="#createBackup">{{ 'site.cp.service.proxmox.createBackup.create' | language }}</button>
                                </h6>
                                <div class="modal fade" id="createBackup" tabindex="-1" role="dialog"
                                     aria-labelledby="createBackup" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="exampleModalLabel">{{ 'site.cp.service.proxmox.createBackup' | language }}</h5>
                                        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <form method="post">
                                        <input type="hidden" name="csrf" value="{{ csrf }}">
                                        <input type="hidden" name="action" value="createBackup">
                                        <div class="modal-body">
                                          <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" name="email"
                                                   id="backup-email">
                                            <label class="custom-control-label"
                                                   for="backup-email">{{ 'site.cp.service.proxmox.createBackup.form.email' | language }}</label>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"
                                                  data-dismiss="modal">{{ 'general.modal.cancelBtn' | language }}</button>
                                          <button type="submit"
                                                  class="btn btn-primary">{{ 'site.cp.service.proxmox.createBackup.create' | language }}</button>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  {% if "team.service.proxmox.rdns"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <div class="tab-pane fade" id="rDNS" role="tabpanel" aria-labelledby="rDNS-tab">
                      <br>
                      <h5 class="text-left">{{ 'site.cp.service.tab.proxmox.rDNS' | language }}</h5>
                      <br>
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <form method="post">
                            <input type="hidden" name="action" value="createRDns">
                            <input type="hidden" name="csrf" value="{{ csrf }}">

                            <script>
                                function rDnsSelect(select) {
                                    var rDns = select.options[select.selectedIndex].text;
                                    var arrayOfStrings = rDns.split("/");

                                    document.getElementById('rDns_name').value = arrayOfStrings[0];
                                }
                            </script>
                            <div class="form-group">
                              <label for="ip_id"
                                     class="col-form-label">{{ 'site.cp.service.tab.proxmox.rDNS.net' | language }}</label>
                              <select name="ip_id" id="ip_id" class="form-select" onchange="rDnsSelect(this);"
                                      required>
                                <option disabled
                                        selected>{{ 'site.cp.service.tab.proxmox.rDNS.net.select' | language }}</option>
                                {% for address in proxmox['response']['internal']['address']['ipv4'] %}
                                  <option value="{{ address['ipv4_id'] }}"
                                          content="{{ address['ipv4'] }}">{{ address['ipv4'] }}</option>
                                {% endfor %}
                                {% for address in proxmox['response']['internal']['address']['ipv6'] %}
                                  <option value="{{ address['ipv6_id'] }}"
                                          content="{{ address['ipv6'] }}">{{ address['ipv6'] }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="rDns_name">{{ 'site.cp.service.tab.proxmox.rDNS.address' | language }}</label>
                              <input id="rDns_name" class="form-control" name="name" value="" placeholder="127.0.0.1"
                                     required>
                            </div>
                            <div class="form-group">
                              <label
                                for="rDns_content">{{ 'site.cp.service.tab.proxmox.rDNS.content' | language }}</label>
                              <input id="rDns_content" class="form-control" name="content"
                                     placeholder="mail.example.com" required>
                            </div>

                            <button type="submit"
                                    class="btn btn-sm btn-primary">{{ 'general.modal.saveBtn' | language }}</button>
                          </form>
                        </div>
                      </div>
                      <hr/>

                      <div class="row">

                        <div class="col-sm-12 table-responsive">
                          <table class="table">
                            <thead>
                            <tr>
                              <td>{{ 'site.cp.service.tab.proxmox.rDNS.address' | language }}</td>
                              <td>{{ 'site.cp.service.tab.proxmox.rDNS.content' | language }}</td>
                              <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for address in proxmox['response']['internal']['rdns']['ipv4'] %}
                              <tr>
                                <td>{{ address['name'] }}</td>
                                <td>{{ address['content'] }}</td>
                                <td>
                                  <form method="post">
                                    <input type="hidden" name="action" value="deleteRDns">
                                    <input type="hidden" name="csrf" value="{{ csrf }}">
                                    <input type="hidden" name="name" value="{{ address['name'] }}">
                                    <input type="hidden" name="ip_id" value="{{ address['ip_id'] }}">
                                    <button type="submit" class="btn btn-danger btn-icon-only btn-sm"><span
                                        class="btn-inner--icon"><i class="fa fa-trash"></i></span></button>
                                  </form>
                                </td>
                              </tr>
                            {% endfor %}
                            <tr class="table-divider"></tr>
                            {% for address in proxmox['response']['internal']['rdns']['ipv6'] %}
                              <tr>
                                <td>{{ address['name'] }}</td>
                                <td>{{ address['content'] }}</td>
                                <td>
                                  <form method="post">
                                    <input type="hidden" name="action" value="deleteRDns">
                                    <input type="hidden" name="csrf" value="{{ csrf }}">
                                    <input type="hidden" name="name" value="{{ address['name'] }}">
                                    <input type="hidden" name="ip_id" value="{{ address['ip_id'] }}">
                                    <button type="submit" class="btn btn-danger btn-icon-only btn-sm"><span
                                        class="btn-inner--icon"><i class="fa fa-trash"></i></span></button>
                                  </form>
                                </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  {% if "team.service.proxmox.stats"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                      <br>
                      <h5 class="text-left">{{ 'site.cp.service.tab.proxmox.stats' | language }}</h5>
                      <br>
                      <div class="row">
                        <div class="col-sm-12">
                          <canvas id="cpuStats" width="450" height="100"></canvas>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <canvas id="memStats" width="450" height="150"></canvas>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <canvas id="netStats" width="450" height="150"></canvas>
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  {% if "team.service.proxmox.settings"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                      <br>
                      <h5 class="text-left">{{ 'site.cp.service.tab.proxmox.settings' | language }}</h5>
                      <br>
                      <div class="row">
                        <div class="col-sm-12">
                          {% if proxmox['response']['external']['vm']['locked'] or service['reinstalling'] %}
                            <div class="row">
                              <div class="col-sm-12 col-md-12">
                                <div class="alert alert-group alert-warning alert-icon" role="alert">
                                  <div class="alert-group-prepend"><span class="alert-group-icon text-"><i
                                        class="fas fa-exclamation"></i></span>
                                  </div>
                                  <div
                                    class="alert-content">{{ 'site.cp.service.proxmox.taskRunning' | language }}</div>
                                </div>
                              </div>
                            </div>
                          {% else %}
                            <div class="row ">
                              <div class="col-sm-12 col-md-6">
                                <h6
                                  class="text-left">{{ 'site.cp.service.tab.proxmox.settings.changeRootPassword' | language }}</h6>
                                <form method="post">
                                  <input type="hidden" name="action" value="changeRootPassword">
                                  <input type="hidden" name="csrf" value="{{ csrf }}">

                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <label for="settings-password"
                                             class="form-control-label">{{ 'site.cp.service.tab.proxmox.settings.password' | language }}</label>
                                      <input class="form-control" type="password" id="settings-password" name="password"
                                             placeholder="********">
                                    </div>
                                  </div>


                                  <button type="submit"
                                          class="btn-primary btn">{{ 'site.cp.service.tab.proxmox.settings.change' | language }}</button>
                                </form>
                              </div>
                              {% if sshKeys|length != 0 %}
                                <div class="col-sm-12 col-md-6">
                                  <h6
                                    class="text-left">{{ 'site.cp.service.tab.proxmox.settings.changeSSHKeys' | language }}</h6>

                                  <form method="post">
                                    <input type="hidden" name="csrf" value="{{ csrf }}">
                                    <input type="hidden" name="action" value="changeSSHKeys">
                                    {% for key, value in sshKeys %}
                                      <div class="col-md-12">
                                        <div class="card">
                                          <div class="card-body">
                                            <div class="row">
                                              <div class="col-12">
                                                <div class="custom-control custom-checkbox">
                                                  <input
                                                    {% if key in proxmox['response']['internal']['sshKeysId'] %}checked{% endif %}
                                                    type="checkbox" class="custom-control-input" name="key_id[]"
                                                    value="{{ key }}" id="radio-key-{{ key }}">
                                                  <label class="custom-control-label h6 mb-0 lh-180"
                                                         for="radio-key-{{ key }}">
                                              <span
                                                class="h6 text-sm font-weight-bold mb-0">{{ value['name'] }} ({{ value['user']['name'] }})</span>
                                                    <span
                                                      class="d-block text-sm text-muted">{{ value['fingerPrint'] }}</span>
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    {% endfor %}
                                    <button type="submit"
                                            class="btn-primary btn">{{ 'site.cp.service.tab.proxmox.settings.change' | language }}</button>
                                  </form>
                                </div>
                              {% endif %}
                            </div>

                          {% endif %}
                        </div>
                      </div>
                    </div>
                  {% endif %}

                  {% if "team.service.reinstall"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}

                    <div class="tab-pane fade" id="reinstall" role="tabpanel" aria-labelledby="reinstall-tab">
                      <br>
                      <h5 class="text-left">{{ 'site.cp.service.tab.proxmox.reinstall' | language }}</h5>
                      <br>

                      <div class="row">
                        {% if service['locked'] %}
                          <div class="col-sm-12 col-md-12">
                            <div class="alert alert-group alert-warning alert-icon" role="alert">
                              <div class="alert-group-prepend"><span class="alert-group-icon text-"><i
                                    class="fas fa-exclamation"></i></span>
                              </div>
                              <div class="alert-content">{{ 'site.cp.service.tab.serviceLocked' | language }}</div>
                            </div>
                          </div>
                        {% elseif proxmox['response']['external']['vm']['locked'] or service['reinstalling'] %}
                          <div class="col-sm-12 col-md-12">
                            <div class="alert alert-group alert-warning alert-icon" role="alert">
                              <div class="alert-group-prepend"><span class="alert-group-icon text-"><i
                                    class="fas fa-exclamation"></i></span>
                              </div>
                              <div
                                class="alert-content">{{ 'site.cp.service.proxmox.taskRunning' | language }}</div>
                            </div>
                          </div>
                        {% else %}
                          <div class="col-sm-12 col-md-12">
                            {% if proxmox['response']['external']['vmConfig']['disk'] != "none" %}
                              <h6 class="text-left">{{ 'site.cp.service.tab.proxmox.reinstall.iso.remove' | language }}</h6>
                              <br>

                            <form method="post">
                              <input type="hidden" name="csrf" value="{{ csrf }}">
                              <input type="hidden" name="action" value="removeISO">

                              <h6 class="text-left">
                                <button class="btn btn-warning btn-sm" type="submit">{{ 'general.modal.deleteBtn' | language }}</button>
                              </h6>
                            </form>

                            {% else %}
                              <div class="row">
                              <div class="col-sm-12 col-md-5">
                                <h6 class="text-left">{{ 'site.cp.service.tab.proxmox.reinstall.os' | language }}</h6>
                                <br>
                                <form method="post">
                                  <input type="hidden" name="csrf" value="{{ csrf }}">
                                  <input type="hidden" name="action" value="reinstallVM">
                                  {% for os in proxmox['response']['internal']['allOS'] %}
                                    <div class="col-md-12">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-12">
                                              <div class="custom-control custom-radio">
                                                <input {% if proxmox['response']['internal']['os']['name'] == os['os'] %} checked {% endif %}
                                                  type="radio" class="custom-control-input" name="os"
                                                  value="{{ os['os'] }}" id="radio-os-{{ os['os'] }}">
                                                <label class="custom-control-label h6 mb-0 lh-180"
                                                       for="radio-os-{{ os['os'] }}">{{ os['name'] }}</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  {% endfor %}

                                  <h6 class="text-center">
                                    <a class="btn btn-warning btn-sm" data-toggle="modal"
                                       data-target="#reinstall-modal">{{ 'site.cp.service.tab.proxmox.reinstall' | language }}
                                    </a>
                                  </h6>
                                  <div class="modal modal-danger fade modal-no-move" id="reinstall-modal" tabindex="-1" role="dialog"
                                       aria-labelledby="reinstall-modal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5
                                            class="modal-title h6">{{ 'site.cp.service.info.reinstall.modal' | language }}</h5>
                                          <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="py-3 text-center">
                                            <i class="fas fa-exclamation-circle fa-4x"></i>
                                            <h5
                                              class="heading h4 mt-4">{{ 'site.cp.service.info.reinstall.modal.warn.title' | language }}</h5>
                                            <p>{{ 'site.cp.service.info.reinstall.modal.warn.description' | language }}</p>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="submit"
                                                  class="btn btn-sm btn-white">{{ 'site.cp.service.info.reinstall.modal.submit' | language }}</button>
                                          <button type="button" class="btn btn-sm btn-white"
                                                  data-dismiss="modal">{{ 'general.modal.cancelBtn' | language }}</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>

                              <div class="col-sm-12 col-md-2 d-none d-xl-block"></div>
                              <div class="col-sm-12 col-md-5">
                                <h6 class="text-left">{{ 'site.cp.service.tab.proxmox.reinstall.iso' | language }}</h6>
                                <br>

                                <form method="post">
                                  <input type="hidden" name="csrf" value="{{ csrf }}">
                                  <input type="hidden" name="action" value="addISO">
                                  {% for iso in proxmox['response']['internal']['allISO'] %}
                                    <div class="col-md-12">
                                      <div class="card">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-12">
                                              <div class="custom-control custom-radio">
                                                <input
                                                  type="radio" class="custom-control-input" name="name"
                                                  value="{{ iso['key'] }}" id="radio-iso-{{ iso['key'] }}">
                                                <label class="custom-control-label h6 mb-0 lh-180"
                                                       for="radio-iso-{{ iso['key'] }}">{{ iso['name'] }}</label>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  {% endfor %}
                                  <h6 class="text-center">
                                    <a class="btn btn-warning btn-sm" data-toggle="modal"
                                       data-target="#reinstall-iso-modal">{{ 'site.cp.service.tab.proxmox.reinstall' | language }}
                                    </a>
                                  </h6>


                                  <div class="modal modal-danger fade modal-no-move" id="reinstall-iso-modal" tabindex="-1" role="dialog"
                                       aria-labelledby="reinstall-iso-modal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5
                                            class="modal-title h6">{{ 'site.cp.service.info.reinstall.modal' | language }}</h5>
                                          <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="py-3 text-center">
                                            <i class="fas fa-exclamation-circle fa-4x"></i>
                                            <h5
                                              class="heading h4 mt-4">{{ 'site.cp.service.info.reinstall.modal.warn.title' | language }}</h5>
                                            <p>{{ 'site.cp.service.info.reinstall.modal.warn.description' | language }}</p>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="submit"
                                                  class="btn btn-sm btn-white">{{ 'site.cp.service.info.reinstall.modal.submit' | language }}</button>
                                          <button type="button" class="btn btn-sm btn-white"
                                                  data-dismiss="modal">{{ 'general.modal.cancelBtn' | language }}</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </form>
                              </div>

                              </div>
                            {% endif %}
                          </div>
                        {% endif %}


                      </div>

                    </div>

                  {%endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}