{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <!-- Page content-->
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <div class="row">
                {% include 'cp/teams/services/include/info_nav.twig' %}
                <div class="col-lg-12 pb-2 pb-sm-4">
                    <section class="card  p-md-2 p-xl-3 p-xxl-4 h-100">

                        <div class="card-body m-0 p-3">
                            <div class="row">
                                <div class="col-4">
                                    {% include 'cp/teams/services/include/lock.twig' %}
                                </div>
                                <div class="col-4">
                                    <h6 class="text-center">
                                        {{ service['service_id'] }}
                                    </h6>
                                </div>
                                <div class="col-4">
                                    <div class="text-end">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body m-0 p-3">
                            <h4 class="text-center"><i class="fa-duotone fa-2x fa-server"></i></h4>
                            <h6 class="text-center">{{ service['name'] }}</h6>
                            <h6 class="text-center">{{ service['service_name'] }}</h6>

                            <h5 class="text-center">{{ service['external']['name'] }}</h5>
                        </div>
                    </section>
                </div>

                <div class="col-lg-12 pb-2 pb-sm-4">
                    <section class="card ">
                        <div class="card-body">

                            <ul class="nav nav-tabs  justify-content-center" id="myTab" role="tablist">

                                {% include 'cp/teams/services/include/tabs_nav.twig' %}
                                {% if "team.service.external.rdns"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                    <a href="#rDNS" class="nav-link" data-bs-toggle="tab"
                                       role="tab">{{ 'site.cp.service.tab.basicService.rDNS' | language }}</a>
                                {% endif %}

                            </ul>
                            <div class="tab-content" id="myTabContent">

                                {% include 'cp/teams/services/include/tabs.twig' %}

                                {% if "team.service.external.rdns"|checkServicePermission and (service['state'] == 1 or service['state'] == 6) %}
                                    <div class="tab-pane fade" id="rDNS" role="tabpanel" aria-labelledby="rDNS-tab">
                                        <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
                                            <i
                                                    class="fa fa-mobile-signal text-primary lead pe-1 me-2"></i>
                                            <h2 class="h4 mb-0">{{ 'site.cp.service.tab.basicService.rDNS' | language }}</h2>
                                            <div class="btn-group me-2 mb-2 ms-auto" role="group">
                                                <button type="button" data-bs-toggle="modal"
                                                        data-bs-target="#createRDns"
                                                        class="btn btn-dark btn-icon">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="modal fade" id="createRDns" tabindex="-1" role="dialog">
                                            <div class="modal-dialog modal-dialog-centered"
                                                 role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5
                                                                class="modal-title h6">{{ 'site.cp.service.tab.basicService.rDNS.create' | language }}</h5>
                                                        <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>

                                                    <script>
                                                        function rDnsSelect(select) {
                                                            var rDns = select.options[select.selectedIndex].text;
                                                            var arrayOfStrings = rDns.split("/");

                                                            document.getElementById('rDns_name').value = arrayOfStrings[0];
                                                        }
                                                    </script>
                                                    <div class="modal-body">

                                                        <div class="row g-3">
                                                            <div class="form-group">
                                                                <label for="ip_id"
                                                                       class="form-label">{{ 'site.cp.service.tab.basicService.rDNS.net' | language }}</label>
                                                                <select name="ip_id" id="ip_id" class="form-select"
                                                                        onchange="rDnsSelect(this);"
                                                                        required>
                                                                    <option disabled
                                                                            selected>{{ 'site.cp.service.tab.basicService.rDNS.net.select' | language }}</option>
                                                                    {% for address in data['rDnsAv']['ipv4'] %}
                                                                        <option value="{{ address['id'] }}"
                                                                                content="{{ address['ip']~""~address['netSize'] }}">{{ address['ip']~""~address['netSize'] }}</option>
                                                                    {% endfor %}
                                                                    {% for address in data['rDnsAv']['ipv6'] %}
                                                                        <option value="{{ address['id'] }}"
                                                                                content="{{ address['ip']~""~address['netSize'] }}">{{ address['ip']~""~address['netSize'] }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="rDns_name"
                                                                       class="form-label">{{ 'site.cp.service.tab.basicService.rDNS.address' | language }}</label>
                                                                <input id="rDns_name" class="form-control" name="name"
                                                                       value="" placeholder="127.0.0.1"
                                                                       required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="form-label"
                                                                       for="rDns_content">{{ 'site.cp.service.tab.basicService.rDNS.content' | language }}</label>
                                                                <input id="rDns_content" class="form-control"
                                                                       name="content"
                                                                       placeholder="mail.example.com" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" onclick="createRDNS(this);"
                                                                class="btn btn-primary">{{ 'general.modal.saveBtn' | language }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row g-3">

                                            <div class="table-responsive">
                                                <table class="table align-middle" id="rdns">
                                                    <thead>
                                                    <tr>
                                                        <td>{{ 'site.cp.service.tab.basicService.rDNS.address' | language }}</td>
                                                        <td>{{ 'site.cp.service.tab.basicService.rDNS.content' | language }}</td>
                                                        <td></td>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="rdns_body">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}