{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        {% include '/general/actionMessage.twig' %}
                        <div class="row">
                            <!-- nav with 4 cards -->
                            {% include 'cp/teams/services/include/info_nav.twig' %}
                            <div class="col-sm-12 col-md-12">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <br>
                                        {% include 'cp/teams/services/include/lock.twig' %}

                                        <h5 class="text-center">{{ service['service_id'] }}</h5>
                                        <h6 class="text-center">{{ service['name'] }}</h6>
                                        <h6 class="text-center">{{ service['service_name'] }}</h6>
                                        <br>
                                        {% if service['state'] == 1 or service['state'] == 6 %}
                                            {% if teamspeak['external']['status'] == "up" %}
                                                <h5>
                                                    <span style="color:#40FF00">{{ 'site.cp.service.teamspeak.state.started' | language }}</span>
                                                </h5>
                                            {% else %}
                                                <h5>
                                                    <span style="color:#ff0000">{{ 'site.cp.service.proxmox.state.stopped' | language }}</span>
                                                </h5>
                                            {% endif %}
                                        {% else %}
                                            <h5>
                                                <span style="color:#ff0000">{{ 'site.cp.service.proxmox.state.stopped' | language }}</span>
                                            </h5>
                                        {% endif %}
                                        <br>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 ">
                                <div class="card">
                                    <div class="card-body">

                                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">

                                            {% include 'cp/teams/services/include/tabs_nav.twig' %}

                                        </ul>


                                        <div class="tab-content" id="myTabContent">

                                            {% include 'cp/teams/services/include/tabs.twig' %}

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}