{% include '/general/header.twig' %}
<div class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <nav aria-label="breadcrumb">
    <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
      <li class="breadcrumb-item">{{ 'site.legal' | language }}</li>
      <li class="breadcrumb-item active" aria-current="page">{{ 'site.legal.imprint' | language }}</li>
    </ol>
  </nav>
  <div class="row pt-sm-2 pt-lg-0">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="h1 mb-2">{{ 'site.legal.imprint' | language }}</h2>
        <h6 class="font-weight-light text-muted">{{ 'general.site.onlyGerman' | language }}</h6>
      </div>
    </div>
  </div>
</div>
<section class="slice">
  <div class="container">
    <div class="row row-grid justify-content-between" >

      <div class="col-lg-3">
        {% include 'cp/devMode.twig' %}
        <div class="card border-0">
          <div class="card-body">
            <nav class="nav" id="nav-terms">
              <a class="nav-link fs-sm" href="{{ currentUrl }}#item-1">Angaben</a>

              {% if config['legal']['show_tax'] %}
                <a class="nav-link fs-sm" href="{{ currentUrl }}#item-2">Umsatzsteuer-Identifikationsnummer</a>
              {% endif %}

              <a class="nav-link fs-sm" href="{{ currentUrl }}#item-3">Geltungsbereich</a>
              <a class="nav-link fs-sm" href="{{ currentUrl }}#item-4">Kontakt</a>


              {% for area in all %}
                <a class="nav-link fs-sm" href="{{ currentUrl }}#{{ area['short_title']|slugify }}">{{ area['short_title'] }}</a>
              {% endfor %}
            </nav>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="mb-5">
          <h5 id="item-1">Informationspflicht laut §5 TMG, §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63
            Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz</h5>
          <p>
            <b>{{ config['name'] }}</b><br>
            {{ config['legal']['owner']['company'] }}<br>
            {{ config['legal']['owner']['street'] }} {{ config['legal']['owner']['street_nr'] }}<br>
            {{ config['legal']['owner']['postcode'] }} {{ config['legal']['owner']['city'] }}<br>
            {{ config['legal']['owner']['country'] }}<br>
          </p>
          {% if config['legal']['represented_by'] != false %}
            <p>
              <b>Vertreten durch</b>
            </p>
            <ul>
              {% for user in config['legal']['represented_by'] %}
                <li>
                  {{ user }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {% if config['legal']['tax_number'] != false %}
          <div class="mb-5">
            <h5 id="item-2">Steuernummer</h5>
            <p>{{ config['legal']['tax_number'] }}</p>
          </div>
        {% endif %}
        {% if config['legal']['ust_number'] != false %}
          <div class="mb-5">
            <h5 id="item-2">Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz</h5>
            <p>{{ config['legal']['ust_number'] }}</p

            {% if config['legal']['show_tax'] != true %}
              <p>{{ 'footer.noTax' | language }}</p>
            {% endif %}
          </div>
        {% endif %}
        {% if config['legal']['scope'] != false %}
          <div class="mb-5">
            <h5 id="item-3">Geltungsbereich</h5>
            <ul>
              {% for scope in config['legal']['scope'] %}
                <li>
                  {{ scope }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <div class="mb-5">
          <h5 id="item-4">Kontakt</h5>
          <p>
            Telefon: <a
              href="tel:{{ config['legal']['owner']['telephone'] }}">{{ config['legal']['owner']['telephone'] }}</a> (No
            Support)
          </p>
          <h6 id="item-4">Support</h6>
          <p>
            Telefon: <a href="tel:{{ config['support']['telephone'] }}">{{ config['support']['telephone'] }}</a>
          </p>
          <p>
            E-Mail: <a href="mailto:{{ config['support']['support_mail'] }}">{{ config['support']['support_mail'] }}</a>
          </p>
        </div>

        {% if config['legal']['fairCommerce'] != false %}
          <div class="mb-5">
            <h5 id="item-4">FairCommerce</h5>
            <p>Wir sind Mitglied der Initiative FairCommerce</p>
            <p>Nähere Informationen hierzu finden Sie unter: <a href="https://www.haendlerbund.de/faircommerce"
                                                                alt="FairCommerce" title="FairCommerce">www.haendlerbund.de/faircommerce</a>
            </p>
            <img src="/assets/hmcsw/img/fairCommerce/fc_logo.png" width="200" loading="lazy" title="FaiCommerce"
                 alt="FairCommerce">
          </div>
        {% endif %}

        {% for area in all %}
          <div class="mb-5">
            <h5 id="{{ area['short_title']|slugify }}">{{ area['title'] }}</h5>
            {% for text in area['text'] %}
              <p>{{ text|raw }}</p>
            {% endfor%}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}