{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <div class="col py-3">

            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        {% include '/general/actionMessage.twig' %}
                        <div class="card card-fluid">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="text-center">
                                        <h5 class="d-block h5 mb-0 text-center">{{ 'site.cp.invoices' | language }}</h5>
                                    </div>
                                    <div class="text-right">
                                        <div class="actions mr-n2">
                                            <button class="btn" data-toggle="modal" data-target="#invoices"><i
                                                        class="fa-regular fa-ellipsis"></i></button>

                                            <div class="modal fade" id="invoices" tabindex="-1" role="dialog"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-xl modal-dialog-centered">
                                                    <div class="modal-content">

                                                        <div class="modal-header">
                                                            <h5 class="modal-title h6">{{ 'site.cp.invoices.all' | language }}</h5>
                                                            <button type="button" class="btn" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <i class="fa-solid fa-close"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% if invoices|length == 0 %}
                                                                <h6 class="h6 text-center">{{ 'site.cp.invoices.nothing' | language }}</h6>
                                                            {% else %}
                                                                <div class="table-responsive">
                                                                    <table class="table table-cards text-center">
                                                                        <thead>
                                                                        <tr>
                                                                            <th scope="col">{{ 'site.cp.invoices.table.id' | language }}</th>
                                                                            <th scope="col"
                                                                                class="sort">{{ 'site.cp.invoices.table.service' | language }}</th>
                                                                            <th scope="col"
                                                                                class="sort">{{ 'site.cp.invoices.table.credits' | language }}</th>
                                                                            <th scope="col"
                                                                                class="sort">{{ 'site.cp.invoices.table.pay_to' | language }}</th>
                                                                            <th></th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody class="list">
                                                                        {% for invoice in invoices %}
                                                                            <tr>
                                                                                <td class="order">
                                                                                    <span class="h6 text-sm font-weight-bold mb-0">R{{ invoice['invoice_id'] }}</span>
                                                                                    <span
                                                                                            class="d-block text-sm text-muted">{{ invoice['created_at']|date("d.m.Y H:i") }}</span>
                                                                                </td>
                                                                                <td>
                                      <span
                                              class="h6 text-sm font-weight-bold mb-0">{{ invoice['service']['service_id'] }}</span>
                                                                                    <span class="d-block text-sm text-muted">{{ invoice['service']['name'] }}</span>
                                                                                </td>
                                                                                <td>
                                      <span
                                              class="h6 text-sm font-weight-bold mb-0">{{ invoice['credits']|creditsToEuro }}{{ "symbol"|currency }}</span>
                                                                                </td>
                                                                                <td>
                                      <span
                                              class="h6 text-sm font-weight-bold mb-0">{{ invoice['pay_to']|date("d.m.Y H:i") }}</span>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="d-flex align-items-center justify-content-end">
                                                                                        {% if invoice['state'] == 1 %}
                                                                                            <button type="button"
                                                                                                    class="btn btn-outline-success btn-icon">
                                                                                            <span class="btn-inner--icon"><i
                                                                                                        class="fas fa-check"></i></span>
                                                                                                <span
                                                                                                        class="btn-inner--text">{{ 'general.invoices.state.1' | language }}</span>
                                                                                            </button>
                                                                                        {% elseif invoice['state'] == 2 %}
                                                                                            <button type="button"
                                                                                                    class="btn btn-outline-warning btn-icon">
                                                                                            <span class="btn-inner--icon"><i
                                                                                                        class="fas fa-plus"></i></span>
                                                                                                <span
                                                                                                        class="btn-inner--text">{{ 'general.invoices.state.2' | language }}</span>
                                                                                            </button>
                                                                                        {% elseif invoice['state'] == 3 %}
                                                                                            <button type="button"
                                                                                                    class="btn btn-outline-danger btn-icon">
                                                                                            <span class="btn-inner--icon"><i
                                                                                                        class="fas fa-plus"></i></span>
                                                                                                <span
                                                                                                        class="btn-inner--text">{{ 'general.invoices.state.3' | language }}</span>
                                                                                            </button>
                                                                                        {% elseif invoice['state'] == 4 %}
                                                                                            <button type="button"
                                                                                                    class="btn btn-outline-danger btn-icon">
                                                                                            <span class="btn-inner--icon"><i
                                                                                                        class="fas fa-plus"></i></span>
                                                                                                <span
                                                                                                        class="btn-inner--text">{{ 'general.invoices.state.4' | language }}</span>
                                                                                            </button>
                                                                                        {% elseif invoice['state'] == 5 %}
                                                                                            <button type="button"
                                                                                                    class="btn btn-outline-warning btn-icon">
                                                                                            <span class="btn-inner--icon"><i
                                                                                                        class="fas fa-clock"></i></span>
                                                                                                <span class="btn-inner--text">{{ 'general.invoices.state.pending' | language }}</span>
                                                                                            </button>
                                                                                        {% else %}
                                                                                            <button type="button"
                                                                                                    class="btn btn-outline-danger btn-icon">
                                                                                            <span class="btn-inner--icon"><i
                                                                                                        class="fas fa-plus"></i></span>
                                                                                                <span
                                                                                                        class="btn-inner--text">{{ 'general.invoices.state.error' | language }}</span>
                                                                                            </button>
                                                                                        {% endif %}
                                                                                        <div class="actions ml-3">
                                                                                            <form method="post"
                                                                                                  target="_blank">
                                                                                                <input type="hidden"
                                                                                                       name="action"
                                                                                                       value="showInvoiceAsPDF">
                                                                                                <input type="hidden"
                                                                                                       name="csrf"
                                                                                                       value="{{ csrf }}">
                                                                                                <input type="hidden"
                                                                                                       name="invoice_id"
                                                                                                       value="{{ invoice['invoice_id'] }}">

                                                                                                <button type="submit"
                                                                                                        class="btn btn-primary"
                                                                                                        data-toggle="tooltip"
                                                                                                        title="{{ 'site.cp.invoices.showPDF' | language }}">
                                                                                                    <i
                                                                                                            class="far fa-file-alt"></i>
                                                                                                </button>

                                                                                                <a
                                                                                                        href="{{ url }}/cp/teams/{{ invoice['service']['team_id'] }}/service/{{ invoice['service']['service_id'] }}"
                                                                                                        class="btn btn-primary"
                                                                                                        data-toggle="tooltip"
                                                                                                        title="{{ 'cp.invoices.showProduct' | language }}">
                                                                                                    <i class="fas fa-external-link-alt"></i>
                                                                                                </a>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                {% if invoices|length == 0 %}
                                    <h6 class="h6 text-center">{{ 'site.cp.invoices.nothing' | language }}</h6>
                                {% else %}
                                    <div class="table-responsive">
                                        <table class="table table-cards text-center">
                                            <thead>
                                            <tr>
                                                <th scope="col">{{ 'site.cp.invoices.table.id' | language }}</th>
                                                <th scope="col"
                                                    class="sort">{{ 'site.cp.invoices.table.service' | language }}</th>
                                                <th scope="col"
                                                    class="sort">{{ 'site.cp.invoices.table.credits' | language }}</th>
                                                <th scope="col"
                                                    class="sort">{{ 'site.cp.invoices.table.pay_to' | language }}</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody class="list">
                                            {% for invoice in invoices %}
                                                {% if invoice['state'] == 1 or invoice['state'] == 2 or invoice['state'] == 5 %}
                                                    <tr>
                                                        <td class="order">
                                                            <span class="h6 text-sm font-weight-bold mb-0">R{{ invoice['invoice_id'] }}</span>
                                                            <span class="d-block text-sm text-muted">{{ invoice['created_at']|date("d.m.Y H:i") }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="h6 text-sm font-weight-bold mb-0">{{ invoice['service']['service_id'] }}</span>
                                                            <span class="d-block text-sm text-muted">{{ invoice['service']['name'] }}</span>
                                                        </td>
                                                        <td>
                                                            <span class="h6 text-sm font-weight-bold mb-0">{{ invoice['credits']|creditsToEuro }}{{ "symbol"|currency }}</span>
                                                        </td>
                                                        <td>
                          <span
                                  class="h6 text-sm font-weight-bold mb-0">{{ invoice['pay_to']|date("d.m.Y H:i") }}</span>
                                                        </td>

                                                        <td>
                                                            <div class="d-flex align-items-center justify-content-end">
                                                                <div {% if invoice['state'] != 1 %}style="display:none"{% endif %}
                                                                     id="invoiceBTN_{{ invoice['invoice_id'] }}_1">
                                                                    <button type="button"
                                                                            class="btn btn-outline-success">
                                                                    <span class="btn-inner--icon"><i
                                                                                class="fas fa-check"></i></span>
                                                                        <span class="btn-inner--text">{{ 'general.invoices.state.1' | language }}</span>
                                                                    </button>
                                                                </div>
                                                                <div {% if invoice['state'] != 2 %}style="display:none"{% endif %}
                                                                     id="invoiceBTN_{{ invoice['invoice_id'] }}_2">
                                                                    {% if userData['credits'] >= invoice['credits'] %}
                                                                        <button type="button"
                                                                                class="btn btn-outline-warning btn-icon"
                                                                                onclick="payInvoice(this.id)"
                                                                                id="{{ invoice['invoice_id'] }}">
                                                                        <span class="btn-inner--icon"><i
                                                                                    class="fas fa-plus"></i></span>
                                                                            <span class="btn-inner--text">{{ 'general.invoices.state.2' | language }}</span>
                                                                        </button>
                                                                    {% else %}
                                                                        <button type="button"
                                                                                class="btn btn-outline-warning btn-icon">
                                                                        <span class="btn-inner--icon"><i
                                                                                    class="fas fa-plus"></i></span>
                                                                            <span class="btn-inner--text">{{ 'site.cp.invoices.noCredits' | language }}</span>
                                                                        </button>
                                                                    {% endif %}
                                                                </div>
                                                                <div {% if invoice['state'] != 3 %}style="display:none"{% endif %}
                                                                     id="invoiceBTN_{{ invoice['invoice_id'] }}_3">
                                                                    <button type="button"
                                                                            class="btn btn-outline-danger btn-icon">
                                                                    <span class="btn-inner--icon"><i
                                                                                class="fas fa-plus"></i></span>
                                                                        <span class="btn-inner--text">{{ 'general.invoices.state.3' | language }}</span>
                                                                    </button>
                                                                </div>
                                                                <div {% if invoice['state'] != 4 %}style="display:none"{% endif %}
                                                                     id="invoiceBTN_{{ invoice['invoice_id'] }}_4">
                                                                    <button type="button"
                                                                            class="btn btn-outline-danger btn-icon">
                                                                    <span class="btn-inner--icon"><i
                                                                                class="fas fa-plus"></i></span>
                                                                        <span class="btn-inner--text">{{ 'general.invoices.state.4' | language }}</span>
                                                                    </button>
                                                                </div>
                                                                <div {% if invoice['state'] != 5 %}style="display:none"{% endif %}
                                                                     id="invoiceBTN_{{ invoice['invoice_id'] }}_5">
                                                                    <button type="button"
                                                                            class="btn btn-outline-warning btn-icon">
                                                                    <span class="btn-inner--icon"><i
                                                                                class="fas fa-clock"></i></span>
                                                                        <span class="btn-inner--text">{{ 'general.invoices.state.pending' | language }}</span>
                                                                    </button>
                                                                </div>
                                                                <div style="display:none"
                                                                     id="invoiceBTN_{{ invoice['invoice_id'] }}_loader">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary">
                                                                    <span class="spinner-border spinner-border-sm"
                                                                          role="status" aria-hidden="true"></span>
                                                                        <span class="sr-only">Loading...</span>
                                                                    </button>
                                                                </div>
                                                                <div class="actions ml-3">
                                                                    <button type="submit" class="btn btn-primary"
                                                                            id="{{ invoice['invoice_id'] }}"
                                                                            onclick="showInvoicePDF(this.id);"
                                                                            data-toggle="tooltip"
                                                                            title="{{ 'site.cp.invoices.showPDF' | language }}">
                                                                        <i
                                                                                class="far fa-file-alt"></i></button>

                                                                    <a
                                                                            href="{{ url }}/cp/teams/{{ invoice['service']['team_id'] }}/service/{{ invoice['service']['service_id'] }}"
                                                                            class="btn btn-primary"
                                                                            data-toggle="tooltip"
                                                                            target="_blank"
                                                                            title="{{ 'cp.invoices.showProduct' | language }}">
                                                                        <i class="fas fa-external-link-alt"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}