<section class="pt-5 bg-section-secondary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="row align-items-center">
          <div class="col-auto">
            <img alt="{{ userData['name'] }}" src="{{ userData['icon'] }}" class="avatar avatar-xl rounded-circle" height="100">
          </div>
          <div class="col ml-n3 ml-md-n2">
            <h2 class="mb-0">{{ userData['name'] }}</h2>
            <span class="text-muted d-block">{{ userData['group']['name'] }}</span>
          </div>
        </div>

        {% if theme['alert']['cp']['info']['enabled'] %}
          {% if theme['alert']['cp']['info']['color'] == "green" %}
            {% set alert_color = "success" %}
            {% set alert_icon = "check" %}
          {% elseif theme['alert']['cp']['info']['color'] == "yellow" %}
            {% set alert_color = "warning" %}
            {% set alert_icon = "exclamation" %}
          {% elseif theme['alert']['cp']['info']['color'] == "red" %}
            {% set alert_color = "danger" %}
            {% set alert_icon = "exclamation-triangle" %}
          {% elseif theme['alert']['cp']['info']['color'] == "blue" %}
            {% set alert_color = "primary" %}
            {% set alert_icon = "info" %}
          {% else %}
            {% set alert_color = "success" %}
            {% set alert_icon = "check" %}
          {% endif %}
          <br><br>
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="alert alert-group alert-{{ alert_color }} alert-icon" role="alert">
                <div class="alert-group-prepend">
                            <span class="alert-group-icon text-">
                                <i class="fas fa-{{ alert_icon }}"></i>
                            </span>
                </div>
                <div class="alert-content">{{ theme['alert']['cp']['info']['message']|raw }}</div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="mt-4">
          <ul class="nav nav-tabs overflow-x nav-justified">
            <li class="nav-item">
              <a href="{{ url }}/cp" class="nav-link {% if currentSite_CP == "start" %}active{% endif %}">
                {{ 'site.cp.tab.start' | language }}
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url }}/cp/teams" class="nav-link {% if currentSite_CP == "teams" %}active{% endif %}">
                {{ 'site.cp.tab.teams' | language }}
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url }}/cp/invoice"
                 class="text-red nav-link {% if currentSite_CP == "invoice" %}active{% endif %}">
                {{ 'site.cp.tab.invoice' | language }}
                {% if userData['invoices'] != "0" %}<i class="text-danger fa fa-exclamation"></i>{% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url }}/cp/ticket" class="nav-link {% if currentSite_CP == "ticket" %}active{% endif %}">
                {{ 'site.cp.tab.ticket' | language }}
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url }}/cp/balance" class="nav-link {% if currentSite_CP == "balance" %}active{% endif %}">
                {{ 'site.cp.tab.balance' | language }}
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url }}/cp/affiliate" class="nav-link {% if currentSite_CP == "affiliate" %}active{% endif %}">
                {{ 'site.cp.tab.affiliate' | language }}
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url }}/cp/subscription" class="nav-link {% if currentSite_CP == "subscription" %}active{% endif %}">
                {{ 'site.cp.tab.subscription' | language }}
              </a>
            </li>
            <li class="nav-item">
              <a href="{{ url }}/cp/settings" class="nav-link {% if currentSite_CP == "settings" %}active{% endif %}">
                {{ 'site.cp.tab.settings' | language }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>