{% if userData['terminatedUser'] == true %}
    <div class="col-lg-12">
        <div class="alert alert-group alert-danger alert-icon" role="alert">
            <div class="alert-content"><i class="fa-solid fa-exclamation"></i>
                {{ 'general.user.terminated' | language }}
            </div>
        </div>
    </div>
{% endif %}
{% if userData['requireIdentityCheck'] == true and userData['restricted'] == true %}
    <div class="col-lg-12">
        <div class="alert alert-group alert-danger alert-icon" role="alert">
            <div class="alert-content"><i class="fa-solid fa-exclamation"></i>
                {{ 'general.user.restricted.identity' | language }}

                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#requireIdentityCheck"
                        aria-label="Action Label">{{ 'general.user.restricted.identity.btn' | language }}</button>
            </div>
        </div>
    </div>
    <div class="modal modal-success fade" id="requireIdentityCheck" tabindex="-1"
         role="dialog"
         aria-labelledby="startIdentityCheck" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h6"
                        id="modal_title_6">{{ 'site.cp.settings.address.identityCheck.available.modal' | language }}</h5>
                    <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="py-3 text-center">
                        <i class="fas fa-id-card fa-4x"></i>
                        <h5
                                class="heading h4 mt-4">{{ 'site.cp.settings.address.identityCheck.available.modal.title' | language }}</h5>
                        <p>{{ 'site.cp.settings.address.identityCheck.available.modal.text' | language }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick='startIdentityCheck(
                            function (answer, interval) {
                                sendNotify(getMessage("general.action.message.success"),"success");
                                $("#requireIdentityCheck").modal("hide");
                            },

                            function (err) {
                                sendNotify(getMessage("general.action.message.failed"),"danger");
                                $("#requireIdentityCheck").modal("hide");
                            }
                            );' id="{{ id }}"
                            class="btn btn-primary">{{ 'site.cp.settings.address.identityCheck.available.modal.start' | language }}</button>
                </div>
            </div>
        </div>
    </div>

{% endif %}
