{% include '/general/header.twig' %}
<section id="sct-topic" class="slice slice-lg">
  <div class="container">
    <div class="row">

      <div class="col-lg-7">
        <div class="col-lg-12">
          <!-- Topic header -->
          <h2 class="h1 mb-2">{{ category['title'] }}</h2>
        </div>


        <hr/>
        {% for topic in AllCategoryArticle %}
          <div class="col-lg-12">
            <!-- Topic header -->
            <h6 class="mb-2"><a
                href="{{ url }}/faq/{{ topic['category_slug'] }}/{{ topic['slug'] }}">{{ topic['title'] }}</a></h6>
            <div class="media align-items-center mt-4">
          <span class="avatar avatar-sm rounded-circle mr-3">
            <img alt="{{ topic['user']['firstname'] }} {{ topic['user']['lastname'] }}"
                 src="{{ topic['user']['icon'] }}"/>
          </span>
              <div class="media-body">
                <span class="h6 mb-0">{{ topic['user']['firstname'] }} {{ topic['user']['lastname'] }}</span>
                <span class="text-sm text-muted">{{ topic['lastupdate_at']|date("d.m.Y H:i") }}</span>
              </div>
            </div>
            <!-- Topic body -->
            <article class="mt-5">
              {{ topic['text']|raw }}
            </article>
          </div>
          <hr/>
        {% endfor %}

      </div>

      <div class="col-lg-4 ml-lg-auto">
        <div data-bs-toggle="sticky" data-sticky-offset="30">
          <div class="card">
            <div class="card-header">
              <span class="h6 mb-0">{{ 'site.faq.Categories' | language }}</span>
            </div>
            <div class="list-group list-group-flush">

              {% for item in AllCategory %}
                <a href="{{ url }}/faq/{{ item['slug'] }}" data-scroll-to data-scroll-to-offset="50"
                   class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div>
                    <i class="fa-regular fa-table-layout mr-2"></i>
                    <span>{{ item['title'] }}</span>
                  </div>
                  <div>
                    <i class="fa-regular fa-chevron-right"></i>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}