{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <section class="card  py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3"><i
                                class="fa fa-ticket text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.tickets' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}" class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                            <a href="{{ dashURL }}/ticket/create" class="btn btn-secondary btn-icon">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-cards text-center align-middle">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'site.cp.tickets.table.id' | language }}</th>
                                <th scope="col">{{ 'site.cp.tickets.table.title' | language }}</th>
                                <th scope="col">{{ 'site.cp.tickets.table.lastupdate' | language }}</th>
                                <th scope="col">{{ 'site.cp.tickets.table.state' | language }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for ticket in tickets %}
                                <tr>
                                    <td class="order">
                                        <span class="h6 text-sm font-weight-bold mb-0">{{ ticket['ticket_id'] }}</span>
                                        <span
                                                class="d-block text-sm text-muted">{{ ticket['at']['created']|date }}</span>
                                    </td>
                                    <td>
                                        <span class="h6 text-sm font-weight-bold mb-0">{{ ticket['title'] }}</span>
                                    </td>
                                    <td>
                        <span
                                class="h6 text-sm font-weight-bold mb-0">{{ ticket['at']['lastupdate']|date }}</span>
                                    </td>
                                    <td>
                                        {% if ticket['state'] == 1 %}
                                            <span style="color:#76ff03">{{ 'general.tickets.state.1' | language }}</span>
                                        {% elseif ticket['state'] == 2 %}
                                            <span style="color:#ff9800">{{ 'general.tickets.state.2' | language }}</span>
                                        {% elseif ticket['state'] == 3 %}
                                            <span style="color:#ff9800">{{ 'general.tickets.state.3' | language }}</span>
                                        {% elseif ticket['state'] == 4 %}
                                            <span class="text-muted">{{ 'general.tickets.state.4' | language }}</span>
                                        {% else %}
                                            <span style="color:#FF0000">{{ 'general.tickets.state.error' | language }}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="actions ml-3">
                                            <a href="{{ dashURL }}/ticket/{{ ticket['ticket_id'] }}"
                                               class="btn btn-secondary btn-sm btn-icon">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}