{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/sideNav.twig' %}
        <div class="col py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="row justify-content-center">
                                    <div class="col-lg-2">
                                        <h6>{{ 'site.cp.ticket.answer' | language }}</h6>
                                        <hr/>
                                        <h6>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#ticketAnswer">
                                                {{ 'site.cp.ticket.answer.btn' | language }}
                                            </button>
                                        </h6>
                                        <div class="modal fade" id="ticketAnswer" tabindex="-1" role="dialog"
                                             aria-labelledby="ticketAnswerLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content">
                                                    <form method="post">
                                                        <input type="hidden" name="action" value="answerTicket">
                                                        <input type="hidden" name="csrf" value="{{ csrf }}">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="exampleModalLabel">{{ 'site.cp.ticket.answer.modal' | language }}</h5>
                                                            <button type="button" class="btn" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <i class="fa-solid fa-close"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="input-message"
                                                                       class="form-control-label">{{ 'site.cp.ticket.answer.modal.message' | language }}</label>
                                                                <textarea id="input-message" name="message" required
                                                                          class="form-control"
                                                                          placeholder="{{ 'site.cp.ticket.answer.modal.message.placeholder' | language }}"
                                                                          rows="8"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">{{ 'general.modal.cancelBtn' | language }}</button>
                                                            <button type="submit"
                                                                    class="btn btn-primary">{{ 'general.modal.sendBtn' | language }}</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-2">
                                        {% if ticket['state'] != 4 %}
                                            <h6>{{ 'site.cp.ticket.close' | language }}</h6>
                                            <hr/>
                                            <h6>
                                                <form method="post">
                                                    <input type="hidden" name="action" value="closeTicket">
                                                    <input type="hidden" name="csrf" value="{{ csrf }}">
                                                    <button type="submit" class="btn btn-danger">
                                                        {{ 'site.cp.ticket.close.btn' | language }}
                                                    </button>
                                                </form>
                                            </h6>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4">
                                        <h4 class="text-center">{{ 'site.cp.ticket' | language }}</h4>
                                        <h5 class="text-center">{{ ticket['ticket_id'] }}</h5>
                                    </div>
                                    <div class="col-lg-2">
                                        {% if ticket['service']['service_id'] != 0 %}
                                            <h6>{{ 'site.cp.ticket.service' | language }}</h6>
                                            <hr/>
                                            <h5>{{ ticket['service']['name'] }}</h5>
                                            <h5>{{ ticket['service']['service_id'] }}</h5>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-2">
                                        <h6>{{ 'site.cp.ticket.area' | language }}</h6>
                                        <hr/>
                                        <h5>
                                            {% if ticket['area'] == 1 %}
                                                {{ 'general.tickets.area.1' | language }}
                                            {% elseif ticket['area'] == 2 %}
                                                {{ 'general.tickets.area.2' | language }}
                                            {% elseif ticket['area'] == 3 %}
                                                {{ 'general.tickets.area.3' | language }}
                                            {% elseif ticket['area'] == 4 %}
                                                {{ 'general.tickets.area.4' | language }}
                                            {% elseif ticket['area'] == 5 %}
                                                {{ 'general.tickets.area.5' | language }}
                                            {% elseif ticket['area'] == 6 %}
                                                {{ 'general.tickets.area.6' | language }}
                                            {% elseif ticket['area'] == 7 %}
                                                {{ 'general.tickets.area.7' | language }}
                                            {% elseif ticket['area'] == 8 %}
                                                {{ 'general.tickets.area.8' | language }}
                                            {% elseif ticket['area'] == 9 %}
                                                {{ 'general.tickets.area.9' | language }}
                                            {% elseif ticket['area'] == 10 %}
                                                {{ 'general.tickets.area.10' | language }}
                                            {% else %}
                                                {{ 'general.tickets.area.error' | language }}
                                            {% endif %}
                                        </h5>
                                        <h5>
                                            {% if ticket['state'] == 1 %}
                                                <span style="color:#76ff03">{{ 'general.tickets.state.1' | language }}</span>
                                            {% elseif ticket['state'] == 2 %}
                                                <span style="color:#ff9800">{{ 'general.tickets.state.2' | language }}</span>
                                            {% elseif ticket['state'] == 3 %}
                                                <span style="color:#ff9800">{{ 'general.tickets.state.3' | language }}</span>
                                            {% elseif ticket['state'] == 4 %}
                                                <span class="text-muted">{{ 'general.tickets.state.4' | language }}</span>
                                            {% else %}
                                                <span style="color:#FF0000">{{ 'general.tickets.state.error' | language }}</span>
                                            {% endif %}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    {% for message in ticket['messages'] %}
                        {% if message['type'] != "team" %}
                            <div class="col-lg-6 offset-lg-6">
                                <div class="card  bg-primary">
                                    <div class="card-body">
                                        <div class="media-comment-bubble">
                                            <h6 class="mt-0 text-white"><img alt="{{ message['user']['name'] }}" class="rounded-circle shadow mr-4"
                                                                             src="{{ message['user']['icon'] }}" style="width: 25px;"> {{ message['user']['name'] }} </h6>
                                            <p class="text-white lh-160">{{ message['message']|nl2br }}</p>
                                            <div class="icon-actions">
                                                <a class="love active">
                                                    <span class="text-white">{{ message['at']['created']|date("d.m.Y H:i") }}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% else %}
                            <div class="col-lg-7">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="mt-0"><img alt="{{ message['user']['name'] }}" class="rounded-circle shadow mr-4"
                                                              src="{{ message['user']['icon'] }}" style="width: 25px;"> {{ message['user']['name'] }} </h6>
                                        <p class="lh-160">{{ message['message']|nl2br }}</p>
                                        <div class="icon-actions">
                                            <a class="love active">
                                                <span>{{ message['at']['created']|date("d.m.Y H:i") }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}