{% include '/general/header.twig' %}
<div class="container py-5 mt-4 mt-lg-5 mb-lg-4 my-xl-5">
    <div class="row pt-sm-2 pt-lg-0">
        {% include '/cp/teams/reselling/nav.twig' %}
        <!-- Page content-->
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <section class="card border-0 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa-duotone fa-unlock-keyhole text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.teams.reselling.tab.api' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling" class="btn btn-dark btn-icon">
                                <i class="fa-duotone fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {% include 'general/actionMessage.twig' %}
            <section class="card border-0 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <form method="post">
                        <input name="action" type="hidden" value="resetAPIToken">
                        <input name="csrf" type="hidden" value="{{ csrf }}">

                        <div class="col-sm-12">
                            <label class="form-label"
                                   for="password">{{ 'site.cp.teams.reselling.api.secret' | language }}</label>
                            <div class="password-toggle">
                                <input class="form-control" type="password"
                                       placeholder="{{ 'site.cp.teams.reselling.api.secret' | language }}"
                                       name="password" required  value="{{ api['secret'] }}"
                                       id="password">
                                <label class="password-toggle-btn" aria-label="Show/hide password">
                                    <input class="password-toggle-check" type="checkbox"><span
                                            class="password-toggle-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end pt-3">
                            <button class="btn btn-outline-danger ms-3"
                                    type="submit">{{ 'site.cp.teams.reselling.api.secret.reset' | language }}</button>
                        </div>
                    </form>
                </div>

            </section>
            <section class="card border-0 p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    {% include '/general/pagination.twig' %}
                    <div class="table-responsive">
                        <table class="table table-cards align-middle">
                            <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Method</th>
                                <th scope="col">URL</th>
                                <th scope="col">Zeit</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in pagination['items'] %}
                                <tr>
                                    <td>{{ log['status'] }}</td>
                                    <td>{{ log['method'] }}</td>
                                    <td>{{ log['url'] }}</td>
                                    <td>{{ log['time']|date }}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-icon btn-sm btn-secondary mr-2" title="" data-bs-toggle="modal"
                                                data-bs-target="#seeLog-{{ log['log_id'] }}">
                                            <i class="fa-duotone fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% for log in pagination['items'] %}
                            <div class="modal fade" tabindex="-1" role="dialog" id="seeLog-{{ log['log_id'] }}">
                                <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">[{{ log['method'] }}] {{ log['url'] }}</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 class="text-left">{{ log['time'] | date }}</h5>

                                            <h5 class="text-left">RequestID</h5>
                                            <h6 class="text-left">{{ log['log_id'] }}</h6>

                                            {% if log['userAgent'] != "" %}
                                                <h5 class="text-left">Useragent</h5>
                                                <h6 class="text-left">{{ log['userAgent'] }}</h6>
                                            {% endif %}

                                            {% if log['ip'] != "" %}
                                                <h5 class="text-left">IP-Adresse</h5>
                                                <h6 class="text-left">{{ log['ip'] }}</h6>
                                            {% endif %}

                                            <h5 class="text-left">Request</h5>
                                            <pre class="line-numbers"><code class="lang-json"
                                                                            id="request_{{ log['log_id'] }}"></code></pre>
                                            <script>document.getElementById("request_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['request']|json_encode|raw }}, undefined, 2);</script>
                                            <br/>
                                            <h5 class="text-left">Response</h5>
                                            <pre class="line-numbers"><code class="lang-json"
                                                                            id="response_{{ log['log_id'] }}"></code></pre>
                                            <script>document.getElementById("response_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['response']|json_encode|raw }}, undefined, 2);</script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% include '/cp/sidebarButton.twig' %}
{% include '/general/footer.twig' %}