{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 order-lg-2">
                        {% if action != false %}
                            {% if action['success'] == false %}
                                {% set alert_color = "danger" %} {% set alert_icon = "exclamation-triangle" %}
                            {% else %}
                                {% set alert_color = "success" %} {% set alert_icon = "check" %}
                            {% endif %}
                            <div class="alert alert-group alert-{{ alert_color }} alert-icon" role="alert">
                                <div class="alert-group-prepend">
                                        <span class="alert-group-icon text-">
                                            <i class="fas fa-{{ alert_icon }}"></i>
                                        </span>
                                </div>
                                <div class="alert-content">
                                    {{ action['message'] | language }}
                                </div>

                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <form method="post">
                                                    <input name="action" type="hidden" value="resetAPIToken">
                                                    <input name="csrf" type="hidden" value="{{ csrf }}">

                                                    <div class="form-group mb-4">
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <div>
                                                                <label for="input-password"
                                                                       class="form-control-label">{{ 'site.cp.teams.reselling.api.secret' | language }}</label>
                                                            </div>
                                                            <div class="mb-2">
                                                                <a class="small text-muted text-underline--dashed border-primary"
                                                                   data-bs-toggle="password-text"
                                                                   data-bs-target="#input-password">{{ 'site.cp.teams.reselling.api.secret.show' | language }}</a>
                                                            </div>
                                                        </div>
                                                        <div class="input-group input-group-merge">
                                                            <input name="password" type="password"
                                                                   class="form-control form-control-prepend"
                                                                   id="input-password" value="{{ api['secret'] }}"
                                                                   placeholder="{{ 'site.cp.teams.reselling.api.secret' | language }}">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i
                                                                            class="fa-regular fa-key"></i></span>
                                                            </div>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-outline-danger" type="submit"
                                                                        id="input-password">{{ 'site.cp.teams.reselling.api.secret.reset' | language }}</button>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body text-center justify-content-center">
                                                <nav>
                                                    <ul class="pagination justify-content-center">

                                                        <li class="page-item {% if apiLog['pagination']['previous_page'] == 0 %} disabled {% endif %}">
                                                            <a class="page-link"
                                                               href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page=1"
                                                               tabindex="-1" {% if apiLog['pagination']['previous_page'] == 0 %} aria-disabled="true" {% endif %}>First</a>
                                                        </li>
                                                        <li class="page-item {% if apiLog['pagination']['previous_page'] == 0 %} disabled {% endif %}">
                                                            <a class="page-link"
                                                               href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['previous_page'] }}"
                                                               tabindex="-1" {% if apiLog['pagination']['previous_page'] == 0 %} aria-disabled="true" {% endif %}>Previous</a>
                                                        </li>

                                                        {% if apiLog['pagination']['previous_page']-3 > 0 %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['previous_page']-3 }}">{{ apiLog['pagination']['previous_page']-3 }}</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if apiLog['pagination']['previous_page']-2 > 0 %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['previous_page']-2 }}">{{ apiLog['pagination']['previous_page']-2 }}</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if apiLog['pagination']['previous_page']-1 > 0 %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['previous_page']-1 }}">{{ apiLog['pagination']['previous_page']-1 }}</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if apiLog['pagination']['previous_page'] != 0 %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['previous_page'] }}">{{ apiLog['pagination']['previous_page'] }}</a>
                                                            </li>
                                                        {% endif %}

                                                        <li class="page-item active" aria-current="page">
                                                            <a class="page-link"
                                                               href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['current_page'] }}">{{ apiLog['pagination']['current_page'] }}
                                                                <span class="sr-only">(current)</span></a>
                                                        </li>

                                                        {% if apiLog['pagination']['current_page'] != apiLog['pagination']['total_no_of_pages'] %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['next_page'] }}">{{ apiLog['pagination']['next_page'] }}</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if apiLog['pagination']['next_page']+1 <= apiLog['pagination']['total_no_of_pages'] %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['next_page']+1 }}">{{ apiLog['pagination']['next_page']+1 }}</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if apiLog['pagination']['next_page']+2 <= apiLog['pagination']['total_no_of_pages'] %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['next_page']+2 }}">{{ apiLog['pagination']['next_page']+2 }}</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if apiLog['pagination']['next_page']+3 <= apiLog['pagination']['total_no_of_pages'] %}
                                                            <li class="page-item"><a class="page-link"
                                                                                     href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['next_page']+3 }}">{{ apiLog['pagination']['next_page']+3 }}</a>
                                                            </li>
                                                        {% endif %}

                                                        <li
                                                                class="page-item {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} disabled {% endif %}">
                                                            <a class="page-link"
                                                               href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['next_page'] }}" {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} aria-disabled="true" {% endif %}>Next</a>
                                                        </li>
                                                        <li
                                                                class="page-item {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} disabled {% endif %}">
                                                            <a class="page-link"
                                                               href="{{ url }}/cp/teams/{{ team['team_id'] }}/reselling/api?page={{ apiLog['pagination']['total_no_of_pages'] }}" {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} aria-disabled="true" {% endif %}>Last</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>

                                        <div class="card">
                                            <div class="card-header">Verlauf</div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-cards">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Method</th>
                                                            <th scope="col">URL</th>
                                                            <th scope="col">Zeit</th>
                                                            <th scope="col"></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for log in apiLog['log'] %}
                                                            <tr>
                                                                <td>{{ log['status'] }}</td>
                                                                <td>{{ log['method'] }}</td>
                                                                <td>{{ log['url'] }}</td>
                                                                <td>{{ log['time']|date("d.m.Y H:i:s") }}</td>
                                                                <td>
                                                                    <button type="button"
                                                                            class="btn btn-primary" title=""
                                                                            data-bs-toggle="modal"
                                                                            data-bs-target="#seeLog-{{ log['log_id'] }}">
                                                                        <i class="fas fa-eye"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        {% for log in apiLog['log'] %}
                                            <div class="modal fade" tabindex="-1" role="dialog"
                                                 id="seeLog-{{ log['log_id'] }}">
                                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title h6">[{{ log['method'] }}
                                                                ] {{ log['url'] }}</h5>
                                                            <button type="button" class="btn" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <i class="fa-solid fa-close"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h5 class="text-left">{{ log['time'] | date("d.m.Y H:i:s") }}</h5>

                                                            <h5 class="text-left">RequestID</h5>
                                                            <h6 class="text-left">{{ log['log_id'] }}</h6>

                                                            {% if log['userAgent'] != "" %}
                                                                <h5 class="text-left">Useragent</h5>
                                                                <h6 class="text-left">{{ log['userAgent'] }}</h6>
                                                            {% endif %}

                                                            {% if log['ip'] != "" %}
                                                                <h5 class="text-left">IP-Adresse</h5>
                                                                <h6 class="text-left">{{ log['ip'] }}</h6>
                                                            {% endif %}

                                                            <h5 class="text-left">Request</h5>
                                                            <pre style="background-color: #001f3f; color: #ffffff"><code
                                                                        id="request_{{ log['log_id'] }}"></code></pre>
                                                            <script>document.getElementById("request_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['request']|json_encode|raw }}, undefined, 2);</script>

                                                            <h5 class="text-left">Response</h5>
                                                            <pre style="background-color: #001f3f; color: #ffffff"><code
                                                                        id="response_{{ log['log_id'] }}"></code></pre>
                                                            <script>document.getElementById("response_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log|json_encode|raw }}, undefined, 2);</script>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">{{ 'general.modal.closeBtn' | language }}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}