{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa fa-file-invoice text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.teams.reselling.tab.invoice' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling" class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            {% include 'general/actionMessage.twig' %}
            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    {% if invoices|length == 0 %}
                        <h6 class="h6 text-center">{{ 'site.cp.invoices.nothing' | language }}</h6>
                    {% else %}
                        <div class="table-responsive">
                            <table class="table table-cards text-center align-middle">
                                <thead>
                                <tr>
                                    <th scope="col">{{ 'site.cp.invoices.table.id' | language }}</th>
                                    <th scope="col" class="sort">{{ 'site.cp.invoices.table.credits' | language }}</th>
                                    <th scope="col" class="sort">{{ 'site.cp.invoices.table.pay_to' | language }}</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="list">
                                {% for invoice in invoices %}

                                    <tr>
                                        <td class="order">
                                            <span class="h6 text-sm font-weight-bold mb-0">B{{ invoice['invoice_id'] }}</span>
                                            <span
                                                    class="d-block text-sm text-muted">{{ invoice['created_at']|date }}</span>
                                        </td>
                                        <td>
                                            <span class="h6 text-sm font-weight-bold mb-0">{{ invoice['amount']|creditsToEuro }}{{ "symbol"|currency }}</span>
                                        </td>
                                        <td>
                          <span
                                  class="h6 text-sm font-weight-bold mb-0">{{ invoice['pay_to']|date }}</span>
                                        </td>

                                        <td>
                                            {% if invoice['state'] == 1 %}
                                                <button type="button" class="btn btn-sm btn-outline-success">
                                                    <i class="fas fa-check me-2"></i>
                                                    {{ 'general.invoices.state.1' | language }}
                                                </button>
                                            {% elseif invoice['state'] == 2 %}
                                                {% if 'owner'|checkTeamPermission %}
                                                    {% if userData['credits'] >= invoice['credits'] %}
                                                        <form method="post">
                                                            <input type="hidden" name="action" value="payInvoice">
                                                            <input type="hidden" name="csrf" value="{{ csrf }}">
                                                            <input type="hidden" name="invoice_id"
                                                                   value="{{ invoice['businessId'] }}">

                                                            <button type="submit"
                                                                    class="btn btn-sm btn-outline-warning">
                                                                <i class="fas fa-plus me-2"></i>
                                                                {{ 'general.invoices.state.2' | language }}
                                                            </button>
                                                        </form>
                                                    {% else %}
                                                        <button type="button" class="btn btn-sm btn-outline-warning"
                                                                disabled>
                                                            <i class="fas fa-plus me-2"></i>
                                                            {{ 'site.cp.invoices.noCredits' | language }}
                                                        </button>
                                                    {% endif %}
                                                {% else %}
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-warning disabled">
                                                        <i class="fas fa-plus me-2"></i>
                                                        {{ 'general.invoices.state.2' | language }}
                                                    </button>
                                                {% endif %}
                                            {% elseif invoice['state'] == 3 %}
                                                <button type="button" class="btn btn-sm btn-outline-danger">
                                                    <i class="fas fa-plus me-2"></i>
                                                    {{ 'general.invoices.state.3' | language }}
                                                </button>
                                            {% elseif invoice['state'] == 4 %}
                                                <button type="button" class="btn btn-sm btn-outline-warning">
                                                    <i class="fas fa-plus me-2"></i>
                                                    {{ 'general.invoices.state.2' | language }}
                                                </button>
                                            {% elseif invoice['state'] == 5 %}
                                                <button type="button" class="btn btn-sm btn-outline-warning">
                                                    <i class="fas fa-clock me-2"></i>
                                                    {{ 'general.invoices.state.pending' | language }}
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-sm btn-outline-danger">
                                                    <i class="fas fa-clock me-2"></i>
                                                    {{ 'general.invoices.state.error' | language }}
                                                </button>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="actions ml">
                                                <form method="post" target="_blank">
                                                    <input type="hidden" name="action" value="showInvoiceAsPDF">
                                                    <input type="hidden" name="csrf" value="{{ csrf }}">
                                                    <input type="hidden" name="invoice_id"
                                                           value="{{ invoice['businessId'] }}">
                                                    <button type="submit"
                                                            class="btn btn-primary btn-sm btn-icon">
                                                        <i class="fa fa-file-alt"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </section>


        </div>
    </div>
</div>
{% include '/general/footer.twig' %}
