{% include '/general/header.twig' %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        {% include '/cp/teams/sideNav.twig' %}
        <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <div class="d-flex align-items-center"><i
                                class="fa fa-bookmark text-primary lead pe-1 me-2"></i>
                        <h2 class="h4 mb-0">{{ 'site.cp.teams.reselling.tab.webhook' | language }}</h2>
                        <div class="btn-group me-2 mb-2 ms-auto" role="group" aria-label="Settings group">
                            <a href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling"
                               class="btn btn-dark btn-icon">
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {% include 'general/actionMessage.twig' %}

            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <form method="post">
                        <input name="action" type="hidden" value="save">
                        <input name="csrf" type="hidden" value="{{ csrf }}">

                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label class="form-label"
                                       for="url">{{ 'site.cp.teams.reselling.webhook.url' | language }}</label>
                                <input class="form-control" type="text"
                                       placeholder="{{ 'site.cp.teams.reselling.webhook.url' | language }}"
                                       name="url" required value="{{ hook['url'] }}"
                                       id="url">
                            </div>
                            <div class="col-sm-12">
                                <label for="events"
                                       class="form-label">{{ 'site.cp.settings.developer.webhook.form.events' | language }}</label>
                                <select name="events[]" id="events" multiple class="form-select"
                                        required>
                                    <option value="*" {% if "*" in hook['events'] %}selected{% endif %}>All</option>
                                    {% for event in events %}
                                        <option {% if event in hook['events'] %}selected{% endif %} value="{{ event }}">{{ event }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="d-flex justify-content-end pt-3">
                                <button class="btn btn-outline-success ms-3"
                                        type="submit">{{ 'general.modal.saveBtn' | language }}</button>
                            </div>
                        </div>

                    </form>
                </div>
            </section>

            <section class="card p-md-2 p-xl-3 p-xxl-4 mb-4">
                <div class="card-body">
                    <nav>
                        <ul class="pagination justify-content-center">

                            <li class="page-item {% if apiLog['pagination']['previous_page'] == 0 %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page=1"
                                   tabindex="-1" {% if apiLog['pagination']['previous_page'] == 0 %} aria-disabled="true" {% endif %}>First</a>
                            </li>
                            <li class="page-item {% if apiLog['pagination']['previous_page'] == 0 %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['previous_page'] }}"
                                   tabindex="-1" {% if apiLog['pagination']['previous_page'] == 0 %} aria-disabled="true" {% endif %}>Previous</a>
                            </li>

                            {% if apiLog['pagination']['previous_page']-3 > 0 %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['previous_page']-3 }}">{{ apiLog['pagination']['previous_page']-3 }}</a>
                                </li>
                            {% endif %}
                            {% if apiLog['pagination']['previous_page']-2 > 0 %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['previous_page']-2 }}">{{ apiLog['pagination']['previous_page']-2 }}</a>
                                </li>
                            {% endif %}
                            {% if apiLog['pagination']['previous_page']-1 > 0 %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['previous_page']-1 }}">{{ apiLog['pagination']['previous_page']-1 }}</a>
                                </li>
                            {% endif %}
                            {% if apiLog['pagination']['previous_page'] != 0 %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['previous_page'] }}">{{ apiLog['pagination']['previous_page'] }}</a>
                                </li>
                            {% endif %}

                            <li class="page-item active" aria-current="page">
                                <a class="page-link"
                                   href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['current_page'] }}">{{ apiLog['pagination']['current_page'] }}
                                    <span class="sr-only">(current)</span></a>
                            </li>

                            {% if apiLog['pagination']['current_page'] != apiLog['pagination']['total_no_of_pages'] %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['next_page'] }}">{{ apiLog['pagination']['next_page'] }}</a>
                                </li>
                            {% endif %}
                            {% if apiLog['pagination']['next_page']+1 <= apiLog['pagination']['total_no_of_pages'] %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['next_page']+1 }}">{{ apiLog['pagination']['next_page']+1 }}</a>
                                </li>
                            {% endif %}
                            {% if apiLog['pagination']['next_page']+2 <= apiLog['pagination']['total_no_of_pages'] %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['next_page']+2 }}">{{ apiLog['pagination']['next_page']+2 }}</a>
                                </li>
                            {% endif %}
                            {% if apiLog['pagination']['next_page']+3 <= apiLog['pagination']['total_no_of_pages'] %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['next_page']+3 }}">{{ apiLog['pagination']['next_page']+3 }}</a>
                                </li>
                            {% endif %}

                            <li
                                    class="page-item {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['next_page'] }}" {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} aria-disabled="true" {% endif %}>Next</a>
                            </li>
                            <li
                                    class="page-item {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} disabled {% endif %}">
                                <a class="page-link"
                                   href="{{ dashURL }}/teams/{{ team['businessId'] }}/reselling/api?page={{ apiLog['pagination']['total_no_of_pages'] }}" {% if apiLog['pagination']['current_page'] == apiLog['pagination']['total_no_of_pages'] %} aria-disabled="true" {% endif %}>Last</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="table-responsive">
                        <table class="table table-cards align-middle">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'site.cp.settings.developer.webhook.table.time' | language }}</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for log in apiLog['history'] %}
                                <tr>
                                    <td>{{ log['createdAt']|date }}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-icon btn-sm btn-secondary mr-2" title=""
                                                data-bs-toggle="modal"
                                                data-bs-target="#seeLog-{{ log['log_id'] }}">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% for log in apiLog['history'] %}
                            <div class="modal fade" tabindex="-1" role="dialog" id="seeLog-{{ log['log_id'] }}">
                                <div class="modal-dialog modal-fullscreen modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">{{ log['createdAt']|date }}</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 class="text-left">Request</h5>
                                            <pre class="line-numbers"><code class="lang-json"
                                                                            id="request_{{ log['log_id'] }}">{{ log['request']|json_encode|raw }}</code></pre>
                                            <script>document.getElementById("request_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['request']|json_encode|raw }}, undefined, 2);</script>
                                            <br>

                                            <h5 class="text-left">Response</h5>
                                            <pre class="line-numbers"><code class="lang-json"
                                                                            id="response_{{ log['log_id'] }}">{{ log['response']|json_encode|raw }}</code></pre>
                                            <script>document.getElementById("response_{{ log['log_id'] }}").innerHTML = JSON.stringify({{ log['response']|json_encode|raw }}, undefined, 2);</script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% include '/general/footer.twig' %}