{% include '/general/header_noNav.twig' %}
<div class=" justify-content-center">
  <div class="d-flex flex-column align-items-center w-lg-50 h-100 px-3 px-lg-5 pt-5">
    <div class="w-100 mt-auto" style="max-width: 526px;">
      <h1>{{ 'site.auth.register' | language }}</h1>
      <p class="pb-3 mb-3 mb-lg-4">{{ 'site.register.already_registered' | language }}&nbsp;&nbsp;<a
                href='{{ url }}/auth/login{{ return_to }}'>{{ 'site.register.login_in' | language }}</a>
      </p>
      {% include '/general/actionMessage.twig' %}

      <form method="post" onsubmit="send();">
        <input type="hidden" name="action" value="register">
        <input type="hidden" name="csrf" value="{{ csrf }}">

        <div class="pb-3 mb-3">
          <div class="position-relative"><i
                    class="fa fa-at fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input class="form-control form-control-lg ps-5" type="email" id="email" name="email" autocomplete="email"
                   placeholder="{{ 'general.form.email.placeholder' | language }}" required="">
          </div>
        </div>
        <div class="pb-3 mb-3">
          <div class="position-relative"><i
                    class="fa fa-person fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input class="form-control form-control-lg ps-5" type="text" id="username" name="username" autocomplete="username"
                   placeholder="{{ 'general.form.username.placeholder' | language }}" required="">
          </div>
        </div>
        <div class="mb-4">
          <div class="position-relative"><i
                    class="fa fa-lock fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <div class="password-toggle">
              <input class="form-control form-control-lg ps-5" type="password" id="password" name="password" autocomplete="new-password"
                     placeholder="{{ 'general.form.password.placeholder' | language }}" required="">
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-between pb-4">
          <div id="recaptcha"></div>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-between pb-4">
          <form-check class="my-1">
            <input class="form-check-input" type="checkbox" id="remember_login">
            <label class="form-check-label ms-1"
                   for="remember_login">{{ 'general.form.remember' | language }}</label>
          </form-check>
        </div>
        <div id="form">
          <button class="btn btn-lg btn-primary w-100 mb-4"
                  type="submit">{{ 'site.register.form.create' | language }}
          </button>
        </div>
        <div id="loader" style="display: none">
          <button type="button" class="btn btn-lg btn-primary w-100 mb-4 pe-none">
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            {{ 'site.register.form.create' | language }}...
          </button>
        </div>
      </form>
      <h2 class="h6 text-center pt-3 pt-lg-4 mb-4">{{ 'site.login.form.or' | language }}</h2>
      <div class="row row-cols-1 justify-content-center row-cols-sm-2 gy-3 d-flex">
        {% if avAccounts|length != 0 %}
          {% for account in avAccounts %}
            <div class="col-lg-6">

              <a href="{{ url }}/auth/r/{{ account['identifier'] }}{{ return_to }}"
                 class="btn btn-outline-secondary btn-icon mb-2 w-100">
                {% if account['shortName'] == "TheSystems" %}
                  <img src="https://cdn.the-systems.eu/icon-transparent.png" alt="TheSystems"
                       height="10" width="30">
                {% elseif account['shortName'] == "Discord" %}
                  <i class="fab fa-discord"></i>
                {% elseif account['shortName'] == "Apple" %}
                  <i class="fab fa-apple"></i>
                {% elseif account['shortName'] == "Google" %}
                  <i class="fab fa-google"></i>
                {% endif %}
              </a>

            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% include '/general/footer_empty.twig' %}