{% include '/general/header_noNav.twig' %}

<section>
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center min-vh-100" id="registerMask">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-xs-12">
        <div class="card">
          <div class="continuous-progress registerLoader" style="display:none"></div>
          <div class="card-body inputMask">
            {% include 'general/actionMessage.twig' %}
            <form method="post" onsubmit="send();">
              <input type="hidden" name="action" value="register">
              <input type="hidden" name="csrf" value="{{ csrf }}">
              <h5 class="card-title">{{ 'site.auth.register' | language }}</h5>
              <p class="pb-3 mb-3 mb-lg-4">{{ 'site.auth.register.already_registered' | language }} <a
                  class="text-decoration-none"
                  href='{{ url }}/auth/login{{ return_to }}'>{{ 'site.auth.register.login_in' | language }}</a>
              </p>
              <div class="mb-3">
                <label for="emailInput" class="form-label">{{ 'general.form.email' | language }}</label>
                <input class="form-control" type="email" id="emailInput" name="email"
                       placeholder="{{ 'general.form.email.placeholder' | language }}" autocomplete="email">
              </div>
              <div class="mb-3">
                <label for="usernameInput" class="form-label">{{ 'general.form.username' | language }}</label>
                <input class="form-control" type="text" id="usernameInput" name="username"
                       placeholder="{{ 'general.form.username.placeholder' | language }}" autocomplete="username">
              </div>

              <div class="mb-3">
                <label class="form-label" for="passwordInput">{{ 'general.form.password' | language }}</label>
                <div class="password-toggle">
                  <input class="form-control" type="password" id="passwordInput" name="password"
                         placeholder="{{ 'general.form.password.placeholder' | language }}"
                         autocomplete="password new-password">
                  <label class="password-toggle-btn">
                    <input class="password-toggle-check" type="checkbox"
                           aria-label="{{ 'general.form.password.show' | language }}">
                    <span class="password-toggle-indicator"></span>
                  </label>
                </div>
              </div>

              <div class="mb-4">
                <input class="form-check-input rememberLogin" type="checkbox" id="rememberLogin" name="remember_login">
                <label class="form-check-label ms-1"
                       for="rememberLogin">{{ 'general.form.remember' | language }}</label>
              </div>
              <div class="mb-1">
                <div id="recaptcha"></div>
              </div>

              <button class="btn btn-primary emailInputBtn w-100 mt-4"
                      type="submit">{{ 'site.auth.register.form.create' | language }}</button>
            </form>
            {% if avAccounts|length != 0 %}
              <div class="btn-group btn-group-sm w-100 mt-4 mb-2" role="group">
                {% for account in avAccounts %}
                  <button
                    class="btn btn-outline-secondary btn-icon remoteAccountBtn"
                    data-name="{{ account['identifier'] }}"
                    data-url="{{ url }}/auth/r/{{ account['identifier'] }}{{ return_to }}">
                    {% if account['shortName'] == "TheSystems" %}
                      <img src="https://cdn.the-systems.eu/icon-transparent.png" alt="TheSystems"
                           height="10" width="30">
                    {% elseif account['shortName'] == "Discord" %}
                      <i class="fab fa-discord"></i>
                    {% elseif account['shortName'] == "Apple" %}
                      <i class="fab fa-apple"></i>
                    {% elseif account['shortName'] == "Google" %}
                      <i class="fab fa-google"></i>
                    {% endif %}
                  </button>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<style>
    .card {
        overflow: hidden; /* Verhindert das Verschwinden des Fortschrittsbalkens außerhalb der Karte */
    }

    .continuous-progress {
        width: 100%;
        background-color: #007BFF;
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
        animation: move 2s ease-in-out infinite;
        z-index: 1; /* Über dem Karteninhalt */
    }

    .card {
        position: relative;
    }

    @keyframes move {
        0% {
            left: -100%;
        }
        100% {
            left: 100%;
        }
    }
</style>
{% include '/general/footer_empty.twig' %}