<div class="container">
    <footer class="py-5">
        <div class="row justify-content-center">
            <hr />
            <div class="col-6 col-md-2 mb-3">
                <h5>{{ 'footer.aboutUs' | language }}</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ url }}/news">{{ 'footer.aboutUs.news' | language }}</a></li>
                    {% if config['service']['statuspage']['enabled'] != false %}
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ url }}/status">{{ 'footer.aboutUs.status' | language }}</a></li>
                    {% endif %}

                    {% if config['service']['faq']['enabled'] != false %}
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ url }}/faq">{{ 'footer.aboutUs.faq' | language }}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>{{ 'footer.products' | language }}</h5>
                <ul class="nav flex-column">
                    {% for type in products %}
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ url }}/p/{{ type['type'] }}">{{ type['name'] }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>{{ 'footer.legal' | language }}</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ url }}/legal/imprint">{{ 'footer.legal.imprint' | language }}</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ url }}/legal/privacy">{{ 'footer.legal.privacy' | language }}</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ url }}/legal/terms">{{ 'footer.legal.terms' | language }}</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ url }}/legal/withdrawal">{{ 'footer.legal.withdrawal' | language }}</a></li>
                </ul>
            </div>

        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <div class=col-md-4>
                <div class="copyright text-sm font-weight-bold text-center text-md-left">&copy; {{ copyrightYear }} <a
                            href="{{ url }}" class=font-weight-bold target=_blank>{{ name }}</a>. All rights reserved
                </div>
            </div>
            <div class=col-md-4>
                <div class="copyright text-sm font-weight-bold text-center">
                    <div class="dropdown">
                        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" data-offset="0,10">
                            <span class="d-none d-lg-inline-block">{{ selectLang['current']['value'] }}</span>
                            <span class="d-lg-none">{{ selectLang['current']['value'] }}</span>
                        </a>
                        <ul class="dropdown-menu text-black">
                            {% for key, value in selectLang['all'] %}
                                <li>
                                    <a class="dropdown-item text-black" title="{{ key }}"
                                       href="{{ currentUrl }}?G_action=setLanguage&language={{ key }}">
                                        <span>{{ value['value'] }} ({{ key }})</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

            </div>

            <div class=col-md-4>
                <div class="copyright text-sm font-weight-bold text-center text-md-right">Powered by <a
                            href="{{ url }}/hmcsw" class=font-weight-bold target=_blank>HMCSW</a> {{ version }}</div>
            </div>
        </div>
    </footer>
</div>


{% include 'general/footerJs.twig' %}
</body>
</html>