<!DOCTYPE html>
<html lang="{{ html_lang }}" {% if nightMode == "true" %}data-bs-theme="dark"{% endif %}>

{% include '/general/head.twig' %}
<body>
<header class="p-3 text-bg-dark mb-4 ">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="{{ dashURL }}/team">
                        {% if nightMode == "true" %}
                            <img alt="{{ name }}" title="{{ name }}" src="{{ theme['icons']['banner']['dark']['svg'] }}"
                                 id="navbar-logo" loading="lazy" height="30">
                        {% elseif nightMode == "false" %}
                            <img alt="{{ name }}" title="{{ name }}"
                                 src="{{ theme['icons']['banner']['light']['svg'] }}"
                                 id="navbar-logo" loading="lazy" height="30">
                        {% else %}
                            <img alt="{{ name }}" title="{{ name }}"
                                 src="{{ theme['icons']['banner']['light']['svg'] }}"
                                 id="navbar-logo" loading="lazy" height="30">
                        {% endif %}
                    </a>

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if config['dev_mode'] %}
                            <li class="nav-item nav-item-spaced d-none d-lg-block nav-link text-red"><span
                                        class="text-white">DevMode activated</span>
                            </li>
                        {% endif %}
                        <li><a class="nav-link px-2 text-white" href="{{ url }}">{{ 'header.home' | language }}</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-2 text-white dropdown-toggle" href="#" id="navbarDropdown"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ 'header.products' | language }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for type in products %}
                                    <li><a class="dropdown-item"
                                           href="{{ url }}/p/{{ type['type'] }}">{{ type['name'] }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>


                    {% if guest %}
                        <div class="text-end">
                            <a href="{{ url }}/auth/login"
                               class="btn btn-outline-light me-2">{{ 'header.login' | language }}</a>
                        </div>
                    {% else %}

                        <div class="text-end">
                            <a class="px-2 nav-item text-white" style=" text-decoration: none"
                               href="{{ url }}/cart"><span
                                        id="cartCountHeader">{{ cartCount }}</span>
                                <i class="fa-regular fa-shopping-cart"></i>
                            </a>
                            <a href="{{ url }}/auth/login"><span class="avatar rounded-circle">
                            <img height="50" class="rounded" loading="eager" title="{{ userData['name'] }}"
                                 alt="{{ userData['name'] }}"
                                 src="{{ userData['icon'] }}">
                        </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>


<div id="moveModalHere">

</div>