{% include '/general/header.twig' %}
<section class="slice pt-md-5 pb-md-0 bg-section-secondary">
  <!-- SVG bg -->
  <div class="bg-absolute-cover bg-size--contain d-flex align-items-center">
    <figure class="w-100 d-none d-lg-block">
      <img src="/assets/img/svg/backgrounds/dot-map.svg" class="svg-inject" alt="Image placeholder"/>
    </figure>
  </div>
  <!-- Container -->
  <div class="container position-relative zindex-100 pt-lg-6">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 order-md-2 mb-5 mb-md-0 d-none d-md-block">
        <!-- Image -->
        <div class="position-relative left-5 left-md-0">
          <figure>
            <img alt="homeServerImage"
                 src="https://cdn.hosmatic.com/website/homeServerImage.webp"
                 class="img-fluid mw-md-130 mw-lg-100 rounded perspective-md-right">
          </figure>
        </div>
        <!-- Card -->
        <div class="card shadow-lg mb-3 col-8 col-md-6 col-lg-5 px-0 position-absolute bottom-n6 bottom-md-n5 left-4 left-md-n4 z-index-100">
          <div class="card-body px-lg-4 pt-4 text-center h-100">
            <div class="icon icon-lg icon-shape rounded-circle bg-soft-info text-info">
              <i class="fa-solid fa-rotate"></i>
            </div>
            <!-- Info -->
            <p class="mt-4 text-muted mb-0">Aus PuhHosting wird Hosmatic!</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 order-md-1 pr-lg-5 mt-5 mt-md-n7">
        {% if guest == false %}
          {% autoescape %}
            {% set site_home = '<br><strong class=text-primary>@name</strong>'|replace({'@name': userData['name'] }) %}
            {% set site_home = 'site.home.logged'|language|replace({'@name': site_home }) %}
          {% endautoescape %}
          <h1 class="display-4 font-weight-bolder mb-3">
            {{ site_home|raw }}
          </h1>
          <p class="lead text-muted">
            {{ 'site.home.logged.description' | language }}
          </p>
          <div class="mt-5">
            <a href="{{ url }}/cp" class="btn btn-animated btn-primary btn-animated-x">
              <span class="btn-inner--visible">{{ 'site.home.btn.cp' | language }}</span><span
                class="btn-inner--hidden"><i class="fa fa-arrow-right"></i></span>
            </a>
          </div>
        {% else %}
          {% autoescape %}
            {% set site_home = '<strong class=text-primary>@name</strong>'|replace({'@name': name }) %}
            {% set site_home = 'site.home'|language|replace({'@name': site_home }) %}
          {% endautoescape %}
          <h1 class="display-4 font-weight-bolder mb-3">
            {{ site_home|raw }}
          </h1>
          <p class="lead text-muted">
            {{ 'site.home.description' | language }}
          </p>
          <div class="mt-5">
            <a href="{{ url }}/auth/register" class="btn btn-animated btn-primary btn-animated-x">
              <span class="btn-inner--visible">{{ 'site.home.btn.register' | language }}</span>
              <span class="btn-inner--hidden">
                        <i class="fa fa-arrow-right"></i>
                    </span>
            </a>
            <a href="{{ url }}/about"
               class="btn btn-neutral btn-icon d-none d-lg-inline-block">{{ 'site.home.btn.more' | language }}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="shape-container shape-line shape-position-bottom">
    <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100"
         style="enable-background:new 0 0 2560 100;"
         xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
  </div>
</section>
<section class="slice slice-lg pt-md-9 delimiter-bottom">
  <div class="container">
    <div class="row row-grid">
      <div class="col-md-4">
        <div class="pb-4">
          <div class="icon">
            <span class="fa-layers fa-fw">
              <i class="fa-solid fa-circle text-blue"></i>
              <i class="fa-solid fa-truck-fast text-white" data-fa-transform="shrink-6"></i>
            </span>
          </div>
        </div>
        <h5>{{ 'site.home.card.1' | language }}</h5>
        <p class="text-muted mb-0">{{ 'site.home.card.1.description' | language }}</p>
      </div>
      <div class="col-md-4">
        <div class="pb-4">
          <div class="icon">
            <span class="fa-layers fa-fw">
              <i class="fa-solid fa-circle text-blue"></i>
              <i class="fa-solid fa-question text-white" data-fa-transform="shrink-6"></i>
            </span>
          </div>
        </div>
        <h5>{{ 'site.home.card.2' | language }}</h5>
        <p class="text-muted mb-0">{{ 'site.home.card.2.description' | language }}</p>
      </div>
      <div class="col-md-4">
        <div class="pb-4">
          <div class="icon">
            <span class="fa-layers fa-fw">
              <i class="fa-solid fa-circle text-blue"></i>
              <i class="fa-solid fa-server text-white" data-fa-transform="shrink-6"></i>
            </span></div>
        </div>
        <h5>{{ 'site.home.card.3' | language }}</h5>
        <p class="text-muted mb-0">{{ 'site.home.card.3.description' | language }}</p>
      </div>
    </div>
  </div>
</section>
<section class="slice slice-lg">
  <div class="container">
    <div class="row mb-5 justify-content-center text-center">
      <div class="col-lg-9 col-md-10">
        <h2 class="mt-4">{{ 'site.home.title.container' | language }}</h2>
        <div class="mt-2">
          <p class="lead lh-180">{{ 'site.home.description.container' | language }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-8"><img src="{{ url }}/assets/img/svg/illustrations/illustration-4.svg" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="slice slice-lg">
  <div class="bg-absolute-cover bg-size--cover d-flex align-items-center">
    <figure class="w-100 d-none d-lg-block">
      <img src="{{ url }}/assets/img/svg/backgrounds/dot-map.svg" class="svg-inject opacity-4"/>
    </figure>
  </div>
  <div class="container">
    <!-- Title -->
    <div class="row mb-5 mb-lg-10 justify-content-center text-center">
      <div class="col-lg-8">
        <div class="pb-4">
          <div class="icon bg-danger text-white rounded-circle icon-lg icon-shape shadow">
            <i class="fa-solid fa-heart"></i>
          </div>
        </div>
        <h3>{% autoescape %}
            {% set count = '<span class="counter text-danger" data-from="0" data-to="@count" data-speed="1500" data-refresh-interval="100"></span>'|replace({'@count': user_count }) %}
            {% set user_count = 'site.home.count'|language|replace({'@count': count, '@name': config["name"] }) %}
            {{ user_count|raw }}
          {% endautoescape %}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="card hover-shadow-lg hover-translate-y-n3">
          <div class="card-body py-5 h-100">
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <h5 class="h6 mb-0">Dominic</h5>
                <small class="d-block text-muted">Top hoster</small>
              </div>
            </div>
            <div class="text-center">
              <p class="mt-4 lh-180">Man kann sich nicht beschweren. Top Service</p>
              <!-- Rating -->
              <span class="static-rating d-block">
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card hover-shadow-lg hover-translate-y-n3 mt-lg-n7">
          <div class="card-body py-5 h-100">
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <h5 class="h6 mb-0">Robertcheap</h5>
                <small class="d-block text-muted">Günstiges Hosting</small>
              </div>
            </div>
            <div class="text-center">
              <p class="mt-4 lh-180">Guter, günstiger Hoster. Sympathisch!</p>
              <!-- Rating -->
              <span class="static-rating d-block">
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card px-2 hover-shadow-lg hover-translate-y-n3">
          <div class="card-body py-5 h-100">
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <h5 class="h6 mb-0">Richard F.</h5>
                <small class="d-block text-muted">Top Ping</small>
              </div>
            </div>
            <div class="text-center">
              <p class="mt-4 lh-180">Top Ping, Top Qualität <3</p>
              <!-- Rating -->
              <span class="static-rating d-block">
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card hover-shadow-lg hover-translate-y-n3">
          <div class="card-body py-5 h-100">
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <h5 class="h6 mb-0">Tommy</h5>
                <small class="d-block text-muted">Ich bin mit ihren Diensten sehe zufrieden</small>
              </div>
            </div>
            <div class="text-center">
              <p class="mt-4 lh-180">Ich bin mit ihren Diensten sehr zufrieden, aber machbar gibt es eine
                sehr große Latenz.</p>
              <!-- Rating -->
              <span class="static-rating d-block">
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card hover-shadow-lg hover-translate-y-n3 mt-lg-n7">
          <div class="card-body py-5 h-100">
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <h5 class="h6 mb-0">Timo ツ</h5>
                <small class="d-block text-muted">Hosmatic ist einfach super</small>
              </div>
            </div>
            <div class="text-center">
              <p class="mt-4 lh-180">
                Hosmatic ist einer der wenigen Hoster, welche mich wirklich überzeugt haben! Schnelle Einrichtung, super Support und wirklich die besten Preise!
              </p>
              <!-- Rating -->
              <span class="static-rating d-block">
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card hover-shadow-lg hover-translate-y-n3">
          <div class="card-body py-5 h-100">
            <div class="d-flex align-items-center justify-content-center">
              <div class="text-center">
                <h5 class="h6 mb-0">Insanespacebanana</h5>
                <small class="d-block text-muted">Super Preisleistungsverhältniss</small>
              </div>
            </div>
            <div class="text-center">
              <p class="mt-4 lh-180">Die Preise passen super zur Leistung, der Support ist auch sehr gut.
                Ich bin sehr zufrieden, kann Ich nur weiterempfehlen :)</p>
              <!-- Rating -->
              <span class="static-rating d-block">
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                                <i class="fa-solid fa-star star voted"></i>
                            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %}